<a href="https://colab.research.google.com/github/Suchada2000/MY-WORK/blob/main/Untitled43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:

import pandas as pd

# อ่านไฟล์ Excel
df = pd.read_excel('/content/sample_data/CLAIM_TA_2023_2024_FINAL.xlsx')

In [27]:
df = df.drop(columns=['ReserveCode'])

❌

In [ ]:

import pandas as pd

# ตัวอย่าง DataFrame
counts = df['Policy_Class'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['Policy_Class', 'Policy_Class_Count']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:

import pandas as pd

# ตัวอย่าง DataFrame
counts = df['Plan_'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['Plan_', 'Plan_Count']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('Plan_output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:
import pandas as pd

# ตัวอย่าง DataFrame
counts = df['ReserveCode'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['ReserveCode', 'ReserveCodeCount']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('ReserveCode_output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:
print(df["AGE"].isna().sum(), "ค่าเป็น NaN")

In [ ]:
# ตรวจสอบชื่อคอลัมน์ทั้งหมด (ดูว่ามีช่องว่างหรือไม่)
print("Columns:", df.columns.tolist())

In [ ]:

# ตรวจสอบประเภทของข้อมูล
print(df.dtypes)

In [ ]:
import numpy as np

# แปลง AGE เป็นตัวเลข
df["AGE"] = pd.to_numeric(df["AGE"], errors="coerce")

# กำหนดช่วงอายุ
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
labels = ["0-10", "11-20", "21-30", "31-40", "41-50", "51-60", "61-70", "71-80", "81-90"]

# ใช้ numpy.histogram() หาความถี่
counts, _ = np.histogram(df["AGE"].dropna(), bins=bins)

# แสดงผลลัพธ์
for label, count in zip(labels, counts):
    print(f"ช่วงอายุ {label} ปี: {count} คน")

In [ ]:

# กรองข้อมูลในช่วงอายุ 0-10 ปี
age_group_0_10 = df[(df['AGE'] >= 0) & (df['AGE'] <= 10)]
average_age_0_10 = age_group_0_10['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 11-20 ปี
age_group_11_20 = df[(df['AGE'] > 10) & (df['AGE'] <= 20)]
average_age_11_20 = age_group_11_20['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 21-30 ปี
age_group_21_30 = df[(df['AGE'] > 20) & (df['AGE'] <= 30)]
average_age_21_30 = age_group_21_30['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 31-40 ปี
age_group_31_40 = df[(df['AGE'] > 30) & (df['AGE'] <= 40)]
average_age_31_40 = age_group_31_40['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 41-50 ปี
age_group_41_50 = df[(df['AGE'] > 40) & (df['AGE'] <= 50)]
average_age_41_50 = age_group_41_50['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 51-60 ปี
age_group_51_60 = df[(df['AGE'] > 50) & (df['AGE'] <= 60)]
average_age_51_60 = age_group_51_60['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 61-70 ปี
age_group_61_70 = df[(df['AGE'] > 60) & (df['AGE'] <= 70)]
average_age_61_70 = age_group_61_70['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 71-80 ปี
age_group_71_80 = df[(df['AGE'] > 70) & (df['AGE'] <= 80)]
average_age_71_80 = age_group_71_80['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 81-90 ปี
age_group_81_90 = df[(df['AGE'] > 80) & (df['AGE'] <= 90)]
average_age_81_90 = age_group_81_90['AGE'].mean()

# แสดงผลลัพธ์
print(f"ค่าเฉลี่ยอายุในช่วง 0-10 ปี: {average_age_0_10}")
print(f"ค่าเฉลี่ยอายุในช่วง 11-20 ปี: {average_age_11_20}")
print(f"ค่าเฉลี่ยอายุในช่วง 21-30 ปี: {average_age_21_30}")
print(f"ค่าเฉลี่ยอายุในช่วง 31-40 ปี: {average_age_31_40}")
print(f"ค่าเฉลี่ยอายุในช่วง 41-50 ปี: {average_age_41_50}")
print(f"ค่าเฉลี่ยอายุในช่วง 51-60 ปี: {average_age_51_60}")
print(f"ค่าเฉลี่ยอายุในช่วง 61-70 ปี: {average_age_61_70}")
print(f"ค่าเฉลี่ยอายุในช่วง 71-80 ปี: {average_age_71_80}")
print(f"ค่าเฉลี่ยอายุในช่วง 81-90 ปี: {average_age_81_90}")

In [ ]:

# สร้าง DataFrame สำหรับผลลัพธ์
results = pd.DataFrame({
    'Age Range': ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90'],
    'Average Age': [
        average_age_0_10, average_age_11_20, average_age_21_30, average_age_31_40,
        average_age_41_50, average_age_51_60, average_age_61_70, average_age_71_80, average_age_81_90
    ]
})

# บันทึกผลลัพธ์เป็นไฟล์ Excel
results.to_excel('average_age_by_range.xlsx', index=False)  # เปลี่ยนชื่อไฟล์ได้ตามต้องการ

In [ ]:

# คำนวณจำนวนข้อมูลทั้งหมด
total_count = len(df)

# คำนวณร้อยละของแต่ละช่วงอายุ
percentage_0_10 = (len(age_group_0_10) / total_count) * 100
percentage_11_20 = (len(age_group_11_20) / total_count) * 100
percentage_21_30 = (len(age_group_21_30) / total_count) * 100
percentage_31_40 = (len(age_group_31_40) / total_count) * 100
percentage_41_50 = (len(age_group_41_50) / total_count) * 100
percentage_51_60 = (len(age_group_51_60) / total_count) * 100
percentage_61_70 = (len(age_group_61_70) / total_count) * 100
percentage_71_80 = (len(age_group_71_80) / total_count) * 100
percentage_81_90 = (len(age_group_81_90) / total_count) * 100

# แสดงผลลัพธ์
print(f"ร้อยละของอายุ 0-10 ปี: {percentage_0_10:.2f}%")
print(f"ร้อยละของอายุ 11-20 ปี: {percentage_11_20:.2f}%")
print(f"ร้อยละของอายุ 21-30 ปี: {percentage_21_30:.2f}%")
print(f"ร้อยละของอายุ 31-40 ปี: {percentage_31_40:.2f}%")
print(f"ร้อยละของอายุ 41-50 ปี: {percentage_41_50:.2f}%")
print(f"ร้อยละของอายุ 51-60 ปี: {percentage_51_60:.2f}%")
print(f"ร้อยละของอายุ 61-70 ปี: {percentage_61_70:.2f}%")
print(f"ร้อยละของอายุ 71-80 ปี: {percentage_71_80:.2f}%")
print(f"ร้อยละของอายุ 81-90 ปี: {percentage_81_90:.2f}%")

In [ ]:

import pandas as pd

# ตัวอย่าง DataFrame
counts = df['ReseveDescription'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['ReseveDescription', 'ReseveDescriptionCount']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('ReseveDescription_output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:

# นับจำนวนการเคลมซ้ำของลูกค้าทุกคนตามประเภทการเคลม
claim_type_counts_per_customer = df.groupby(['Dummy ID', 'ReseveDescription']).size().reset_index(name='Claim_Count')

df = df.merge(claim_type_counts_per_customer, on=['Dummy ID', 'ReseveDescription'], how='left')

# แสดงผลลัพธ์
print(claim_type_counts_per_customer)

In [ ]:

# แปลงข้อมูลในคอลัมน์ 'Date' ให้เป็น datetime
df['INCDTE'] = pd.to_datetime(df['INCDTE'], format='%Y%m%d')
df['ExpireDate'] = pd.to_datetime(df['ExpireDate'], format='%Y%m%d')
df['DATREP'] = pd.to_datetime(df['DATREP'], format='%Y%m%d')
df['DATOCC'] = pd.to_datetime(df['DATOCC'], format='%Y%m%d')

In [ ]:

# แปลงคอลัมน์วันที่ให้เป็น datetime (สมมติว่ามีคอลัมน์ 'INCDTE' และ 'DATOCC') วันที่เริ่มและวันที่เกิดเหตุ
df['DATESALE2'] = pd.to_datetime(df['DATESALE2'])
df['INCDTE'] = pd.to_datetime(df['INCDTE'])
df['DATOCC'] = pd.to_datetime(df['DATOCC'])

# คำนวณระยะห่างระหว่าง 'Start_Date' และ 'End_Date'
df['Date_Difference1'] = abs(df['DATESALE2'] - df['INCDTE']).dt.days # วันเกิดเหตุกับวันที่รายงาน
df['Date_Difference2'] = abs(df['INCDTE'] - df['DATOCC']).dt.days # วันที่เริ่มกับวันที่เกิดเหตุ

# แสดงผลลัพธ์
print(df[['Date_Difference1','Date_Difference2']])
df.head()

In [ ]:

average_date_diff_1 = df['Date_Difference1'].mean()
average_date_diff_2 = df['Date_Difference2'].mean()

# แสดงค่าเฉลี่ย
print(f"ค่าเฉลี่ยของ Date_Difference1: {average_date_diff_1}")
print(f"ค่าเฉลี่ยของ Date_Difference2: {average_date_diff_2}")

In [ ]:

total1 = df['Date_Difference1'].sum()
total2 = df['Date_Difference2'].sum()

In [ ]:

# คำนวณร้อยละจากค่าเฉลี่ย (อ้างอิงจากผลรวมของค่าทั้งหมดในคอลัมน์ Date_Difference1)
total1 = df['Date_Difference1'].sum()
total2 = df['Date_Difference2'].sum()

percentage_diff_1 = (average_date_diff_1 / total1) * 100
percentage_diff_2 = (average_date_diff_2 / total2) * 100

# แสดงผลลัพธ์
print(f"ค่าเฉลี่ยของ Date_Difference1: {average_date_diff_1} - ร้อยละ: {percentage_diff_1}%")
print(f"ค่าเฉลี่ยของ Date_Difference2: {average_date_diff_2} - ร้อยละ: {percentage_diff_2}%")

In [ ]:

# นับจำนวน GIC ที่ซ้ำกันสำหรับแต่ละ Dummy ID
gic_counts = df.groupby('Dummy ID')['GIC '].count().reset_index(name='GIC_Count')

# รวมข้อมูลกลับเข้า df
df = df.merge(gic_counts, on='Dummy ID', how='left')

# กำหนดระดับความเสี่ยงตามค่า GIC_Count
df['Risk_Level'] = df['GIC_Count'].map({
    2: 'ความเสี่ยงน้อย',
    3: 'ความเสี่ยงปานกลาง',
    4: 'ความเสี่ยงสูง',
})

# แสดงผลลัพธ์บางส่วน
print(df[['Dummy ID', 'GIC ', 'GIC_Count', 'Risk_Level']].head())

In [ ]:

# กำหนดระดับความเสี่ยงตาม Claim_Count
df['Claim_Risk_Level'] = df['Claim_Count'].apply(lambda x:
    'ไม่มีความเสี่ยง' if x < 4 else
    'มีความเสี่ยงน้อย' if x == 4 else
    'มีความเสี่ยงปานกลาง' if x == 5 else
    'มีความเสี่ยงมาก'
)

# แสดงผลลัพธ์บางส่วน
print(df[['Dummy ID', 'Claim_Count', 'Claim_Risk_Level']].head())

In [ ]:

# นับจำนวน Claim ตาม Dummy ID และ ReserveDescription
claim_counts_per_customer = df.groupby(['Dummy ID', 'ReserveDescription']).size().reset_index(name='Claim_Count')

# รวมค่า Claim_Count กลับเข้า df
df = df.merge(claim_counts_per_customer, on=['Dummy ID', 'ReserveDescription'], how='left')

# กำหนดระดับความเสี่ยงตาม Claim_Count
df['Claim_Risk_Level_A'] = df['Claim_Count'].apply(lambda x:
    'ไม่มีความเสี่ยง' if x < 3 else
    'มีความเสี่ยงน้อย' if x == 3 else
    'มีความเสี่ยงปานกลาง' if x == 4 else
    'มีความเสี่ยงมาก'
)

# แสดงผลลัพธ์บางส่วน
print(df[['Dummy ID', 'ReserveDescription', 'Claim_Count', 'Claim_Risk_Level_A']].head())

❌

In [ ]:

import numpy as np
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [ ]:

df.isnull().sum()

In [ ]:
# สมมติว่า df เป็น DataFrame ของคุณ

# ตารางที่มี Plan_ เป็นค่าว่าง
df_missing = df[df['DATESALE'].isnull()]

# ตารางที่ไม่มี Plan_ เป็นค่าว่าง
df_not_missing = df[df['DATESALE'].notnull()]

# ตรวจสอบผลลัพธ์
print("ตารางที่มี Plan_ เป็นค่าว่าง:")
print(df_missing.head())

print("\nตารางที่ไม่มี Plan_ เป็นค่าว่าง:")
print(df_not_missing.head())

In [ ]:

df_not_missing

In [ ]:
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE']).dt.strftime('%Y-%m-%d')

df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE']).dt.strftime('%Y-%m-%d')

df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate']).dt.strftime('%Y-%m-%d')

df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP']).dt.strftime('%Y-%m-%d')

df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC']).dt.strftime('%Y-%m-%d')

In [ ]:

# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')
df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate'], format='mixed', errors='coerce')
df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'], format='mixed', errors='coerce')
df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'], format='mixed', errors='coerce')

In [ ]:
df_not_missing

In [ ]:
df_not_missing = df_not_missing.drop(columns=['Dummy ID', 'AGE',	'SEX',	'Occupation',	'Policy_Class',	'Plan_',	'ReserveCode',	'ReseveDescription',	'GRS_OS',	'GRS_PAID',	'GIC'])

In [ ]:
X = df_not_missing.drop(columns=['DATESALE'])
y = df_not_missing['DATESALE']

In [ ]:
# ตัดข้อมูลที่มี 1 ตัวอย่างออกจากชุดข้อมูล
mask = y.value_counts() > 6  # ตรวจสอบว่าคลาสไหนมีจำนวนตัวอย่างมากกว่า 1
y_filtered = y[y.isin(mask[mask].index)]  # เลือกเฉพาะคลาสที่มีตัวอย่างมากกว่า 1
X_filtered = X.loc[y_filtered.index]  # เลือกเฉพาะข้อมูลที่ตรงกับคลาสที่เหลือ

# เพิ่มการ import train_test_split
from sklearn.model_selection import train_test_split
# แบ่งข้อมูล
X_train, X_test, y_train, y_test = train_test_split(X_filtered, y_filtered, test_size=0.2, random_state=42, stratify=y_filtered)

In [ ]:
# ตรวจสอบจำนวนตัวอย่างในแต่ละคลาส
print(y_filtered.value_counts())

In [ ]:
print(y_train.value_counts())

In [ ]:
print(y_test.value_counts())

In [ ]:
print(X.dtypes)  # ตรวจสอบประเภทข้อมูลใน X

In [ ]:
print(X_train.shape)  # ตรวจสอบขนาด X_train
print(X_test.shape)   # ตรวจสอบขนาด X_test

In [ ]:
print(X_train.isnull().sum())  # ตรวจสอบค่า NaN ใน X_train
print(X_test.isnull().sum())   # ตรวจสอบค่า NaN ใน X_test

In [ ]:
# แยกคอลัมน์ที่เป็น datetime ออก
datetime_columns = ['INCDTE', 'ExpireDate', 'DATREP', 'DATOCC']  # รายชื่อคอลัมน์ datetime

# คัดกรองเฉพาะคอลัมน์ที่เป็นตัวเลข
X_train_numeric = X_train.drop(columns=datetime_columns)
X_test_numeric = X_test.drop(columns=datetime_columns)

# สเกลข้อมูลตัวเลข
scaler = StandardScaler()
X_train_numeric_scaled = scaler.fit_transform(X_train_numeric)
X_test_numeric_scaled = scaler.transform(X_test_numeric)

# แปลงคอลัมน์ datetime ที่แยกออกไปให้เป็นจำนวนวัน
X_train[datetime_columns] = X_train[datetime_columns].apply(pd.to_datetime)  # แปลงเป็น datetime
X_test[datetime_columns] = X_test[datetime_columns].apply(pd.to_datetime)

X_train[datetime_columns] = (X_train[datetime_columns] - pd.Timestamp('1970-01-01')) // pd.Timedelta('1D')
X_test[datetime_columns] = (X_test[datetime_columns] - pd.Timestamp('1970-01-01')) // pd.Timedelta('1D')

# รวมข้อมูลที่สเกลแล้วกลับมา
X_train_processed = pd.concat([pd.DataFrame(X_train_numeric_scaled, columns=X_train_numeric.columns), X_train[datetime_columns]], axis=1)
X_test_processed = pd.concat([pd.DataFrame(X_test_numeric_scaled, columns=X_test_numeric.columns), X_test[datetime_columns]], axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='auto', k_neighbors=5)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

In [ ]:
# ปรับค่า n_neighbors ให้น้อยกว่า หรือ เท่ากับจำนวนตัวอย่าง
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score


n_neighbors = min(6, len(X_train_res) - 1)  # จำกัด n_neighbors ให้ไม่เกินจำนวนตัวอย่าง

# ใช้ KNN กับ n_neighbors ที่ปรับแล้ว
knn = KNeighborsClassifier(n_neighbors=n_neighbors)
knn.fit(X_train_res, y_train_res)

# ทำนายผล
y_pred = knn.predict(X_test)

# คำนวณความแม่นยำ
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

❌

เติมค่าว่างวันที่

In [28]:

import numpy as np
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

<ipython-input-28-83f14fa381f3>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [29]:

df.isnull().sum()

ID_Card                0
AGE                    0
Policy_Class           0
Plan_                586
Premium                0
DATESALE             586
INCDTE                 0
ExpireDate             0
DATREP                 0
DATOCC                 0
ReseveDescription     41
GRS_OS                 0
GRS_PAID               0
GIC                    0
Remark                 0
dtype: int64

In [30]:

# สมมติว่า df เป็น DataFrame ของคุณ

# ตารางที่มี Plan_ เป็นค่าว่าง
df_missing = df[df['DATESALE'].isnull()]

# ตารางที่ไม่มี Plan_ เป็นค่าว่าง
df_not_missing = df[df['DATESALE'].notnull()]

# ตรวจสอบผลลัพธ์
print("ตารางที่มี Plan_ เป็นค่าว่าง:")
print(df_missing.head())

print("\nตารางที่ไม่มี Plan_ เป็นค่าว่าง:")
print(df_not_missing.head())

ตารางที่มี Plan_ เป็นค่าว่าง:
        ID_Card  AGE Policy_Class Plan_  Premium DATESALE    INCDTE  \
5897  000005803    0          GAT   NaN   1708.0      NaT  20230324
5898  000005804    0          GAT   NaN   1272.0      NaT  20241021
6007  000005913    0          GAT   NaN   7760.0      NaT  20230821
6008  000005914    0          GAT   NaN  26730.0      NaT  20231013
6009  000005915    0          GAT   NaN   1421.0      NaT  20231016

      ExpireDate    DATREP    DATOCC     ReseveDescription  GRS_OS  GRS_PAID  \
5897    20230327  20230410  20230325  GP/A Medical Expense     0.0    2407.0
5898    20241027  20241118  20241025  GP/A Medical Expense     0.0    1202.0
6007    20230829  20230913  20230825  GP/A Medical Expense     0.0    3620.0
6008    20231015  20231115  20231013  GP/A Medical Expense     1.0       0.0
6009    20231018  20231114  20231017  GP/A Medical Expense     0.0    4153.0

         GIC Remark
5897  2407.0      N
5898  1202.0      N
6007  3620.0      N
6008     1.0      N
6009  4153.0      N

ตารางที่ไม่มี Plan_ เป็นค่าว่าง:
     ID_Card  AGE Policy_Class                           Plan_  Premium  \
0  000000002   34          PWT  YO                              3170.50
1  000000008   35          PWT  YM                              6953.00
2  000000007   35          PWT  YM                              6953.00
3  000000002   34          PWT  YO                              3170.50
4  000000019   40          PWT  YA                              1134.75

             DATESALE    INCDTE  ExpireDate    DATREP    DATOCC  \
0 2023-10-07 19:05:32  20231102    20241101  20240213  20240122
1 2023-09-21 12:03:03  20231001    20240930  20240701  20240601
2 2023-09-21 12:03:03  20231001    20240930  20241002  20240927
3 2023-10-07 19:05:32  20231102    20241101  20240213  20240122
4 2023-11-29 06:05:48  20231129    20231206  20231208  20231201

            ReseveDescription  GRS_OS  GRS_PAID      GIC Remark
0  Trip Cancellation Coverage     0.0    5970.0   5970.0      Y
1       Flight Delay Coverage     0.0   28000.0  28000.0      Y
2      Baggage Delay Coverage     0.0   35000.0  35000.0      Y
3  Baggage & Personal Effects     0.0    3570.0   3570.0      Y
4              Daily Benefits     0.0   18000.0  18000.0      Y

In [31]:
df_not_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
0,000000002,34,PWT,YO,3170.50,2023-10-07 19:05:32,20231102,20241101,20240213,20240122,Trip Cancellation Coverage,0.0,5970.00,5970.00,Y
1,000000008,35,PWT,YM,6953.00,2023-09-21 12:03:03,20231001,20240930,20240701,20240601,Flight Delay Coverage,0.0,28000.00,28000.00,Y
2,000000007,35,PWT,YM,6953.00,2023-09-21 12:03:03,20231001,20240930,20241002,20240927,Baggage Delay Coverage,0.0,35000.00,35000.00,Y
3,000000002,34,PWT,YO,3170.50,2023-10-07 19:05:32,20231102,20241101,20240213,20240122,Baggage & Personal Effects,0.0,3570.00,3570.00,Y
4,000000019,40,PWT,YA,1134.75,2023-11-29 06:05:48,20231129,20231206,20231208,20231201,Daily Benefits,0.0,18000.00,18000.00,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,'0000254010159,55,PWT,YJ,1570.50,2024-03-29 08:37:28,20240804,20241101,20241030,20240807,GP/A Medical Expense,2000.0,16749.58,18749.58,N
38313,'0000254010159,55,PWT,YJ,1570.50,2024-03-29 08:37:28,20240804,20241101,20241030,20240807,Transportation Cost for OPD,0.0,1000.00,1000.00,N
38314,'0000254010160,49,PWT,YO,3357.00,2023-02-07 15:49:07,20230726,20240725,20230822,20230803,Baggage Delay Coverage,0.0,3000.00,3000.00,N
38315,'0000254010160,49,PWT,YO,3357.00,2023-02-07 15:49:07,20230726,20240725,20231117,20231022,Baggage & Personal Effects,1.0,0.00,1.00,N
38316,'0000254010160,49,PWT,YO,3357.00,2023-02-07 15:49:07,20230726,20240725,20231213,20230731,Rental Vehicle Excess,0.0,15000.00,15000.00,N

df_not_missing

In [32]:
# แปลงคอลัมน์ DATESALE เป็น datetime โดยไม่ระบุ format และจัดการกับข้อผิดพลาด
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATESALE'] = df_not_missing['DATESALE'].dt.strftime('%Y-%m-%d')

<ipython-input-32-dabede504ad1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], errors='coerce')
<ipython-input-32-dabede504ad1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = df_not_missing['DATESALE'].dt.strftime('%Y-%m-%d')

In [33]:
# แปลงคอลัมน์ DATESALE เป็น string แล้วค่อยแปลงเป็น datetime โดยระบุ format
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'].astype(str), format='%Y%m%d', errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_not_missing['INCDTE'] = df_not_missing['INCDTE'].dt.strftime('%Y-%m-%d')

<ipython-input-33-007d33c2a900>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'].astype(str), format='%Y%m%d', errors='coerce')
<ipython-input-33-007d33c2a900>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = df_not_missing['INCDTE'].dt.strftime('%Y-%m-%d')

In [34]:
#ไม่มีข้อมูล
# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['ExpireDate'] = df_not_missing['ExpireDate'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATREP'] = df_not_missing['DATREP'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATOCC'] = df_not_missing['DATOCC'].dt.strftime('%Y-%m-%d')

<ipython-input-34-699393a8f6be>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate'].astype(str), format='%Y%m%d')
<ipython-input-34-699393a8f6be>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ExpireDate'] = df_not_missing['ExpireDate'].dt.strftime('%Y-%m-%d')
<ipython-input-34-699393a8f6be>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'].astype(str), format='%Y%m%d')
<ipython-input-34-699393a8f6be>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = df_not_missing['DATREP'].dt.strftime('%Y-%m-%d')
<ipython-input-34-699393a8f6be>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'].astype(str), format='%Y%m%d')
<ipython-input-34-699393a8f6be>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = df_not_missing['DATOCC'].dt.strftime('%Y-%m-%d')

In [35]:
df_not_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
0,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Trip Cancellation Coverage,0.0,5970.00,5970.00,Y
1,000000008,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-07-01,2024-06-01,Flight Delay Coverage,0.0,28000.00,28000.00,Y
2,000000007,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-10-02,2024-09-27,Baggage Delay Coverage,0.0,35000.00,35000.00,Y
3,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Baggage & Personal Effects,0.0,3570.00,3570.00,Y
4,000000019,40,PWT,YA,1134.75,2023-11-29,2023-11-29,2023-12-06,2023-12-08,2023-12-01,Daily Benefits,0.0,18000.00,18000.00,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,GP/A Medical Expense,2000.0,16749.58,18749.58,N
38313,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,Transportation Cost for OPD,0.0,1000.00,1000.00,N
38314,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-08-22,2023-08-03,Baggage Delay Coverage,0.0,3000.00,3000.00,N
38315,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-11-17,2023-10-22,Baggage & Personal Effects,1.0,0.00,1.00,N
38316,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-12-13,2023-07-31,Rental Vehicle Excess,0.0,15000.00,15000.00,N

In [36]:


# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')

# คำนวณความต่างของวัน
df_not_missing['date_difference'] = (df_not_missing['INCDTE'] - df_not_missing['DATESALE']).dt.days

<ipython-input-36-58e63643be80>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
<ipython-input-36-58e63643be80>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')
<ipython-input-36-58e63643be80>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['date_difference'] = (df_not_missing['INCDTE'] - df_not_missing['DATESALE']).dt.days

In [37]:
print(df_not_missing['DATESALE'].dtype)

datetime64[ns]

In [38]:
df_not_missing['ReseveDescription'] = df_not_missing['ReseveDescription'].fillna('GP/A Medical Expense')

<ipython-input-38-34750cec6d3c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ReseveDescription'] = df_not_missing['ReseveDescription'].fillna('GP/A Medical Expense')

In [39]:
# ดึงแค่วันที่ออกมา (ไม่รวมเวลา)
df_not_missing['DATESALE'] = df_not_missing['DATESALE'].dt.date

# แสดงผลลัพธ์
print(df_not_missing.head())

     ID_Card  AGE Policy_Class                           Plan_  Premium  \
0  000000002   34          PWT  YO                              3170.50
1  000000008   35          PWT  YM                              6953.00
2  000000007   35          PWT  YM                              6953.00
3  000000002   34          PWT  YO                              3170.50
4  000000019   40          PWT  YA                              1134.75

     DATESALE     INCDTE  ExpireDate      DATREP      DATOCC  \
0  2023-10-07 2023-11-02  2024-11-01  2024-02-13  2024-01-22
1  2023-09-21 2023-10-01  2024-09-30  2024-07-01  2024-06-01
2  2023-09-21 2023-10-01  2024-09-30  2024-10-02  2024-09-27
3  2023-10-07 2023-11-02  2024-11-01  2024-02-13  2024-01-22
4  2023-11-29 2023-11-29  2023-12-06  2023-12-08  2023-12-01

            ReseveDescription  GRS_OS  GRS_PAID      GIC Remark  \
0  Trip Cancellation Coverage     0.0    5970.0   5970.0      Y
1       Flight Delay Coverage     0.0   28000.0  28000.0      Y
2      Baggage Delay Coverage     0.0   35000.0  35000.0      Y
3  Baggage & Personal Effects     0.0    3570.0   3570.0      Y
4              Daily Benefits     0.0   18000.0  18000.0      Y

   date_difference
0               26
1               10
2               10
3               26
4                0

<ipython-input-39-739a37fc3303>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = df_not_missing['DATESALE'].dt.date

In [40]:
df_not_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
0,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Trip Cancellation Coverage,0.0,5970.00,5970.00,Y,26
1,000000008,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-07-01,2024-06-01,Flight Delay Coverage,0.0,28000.00,28000.00,Y,10
2,000000007,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-10-02,2024-09-27,Baggage Delay Coverage,0.0,35000.00,35000.00,Y,10
3,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Baggage & Personal Effects,0.0,3570.00,3570.00,Y,26
4,000000019,40,PWT,YA,1134.75,2023-11-29,2023-11-29,2023-12-06,2023-12-08,2023-12-01,Daily Benefits,0.0,18000.00,18000.00,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,GP/A Medical Expense,2000.0,16749.58,18749.58,N,128
38313,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,Transportation Cost for OPD,0.0,1000.00,1000.00,N,128
38314,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-08-22,2023-08-03,Baggage Delay Coverage,0.0,3000.00,3000.00,N,169
38315,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-11-17,2023-10-22,Baggage & Personal Effects,1.0,0.00,1.00,N,169
38316,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-12-13,2023-07-31,Rental Vehicle Excess,0.0,15000.00,15000.00,N,169

In [41]:
print(df_not_missing['DATESALE'].dtype)

object

In [42]:
# แปลงคอลัมน์ 'DATESALE' เป็น datetime ก่อน
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], errors='coerce')

<ipython-input-42-cdbc9b66d319>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], errors='coerce')

In [43]:
print(df_not_missing['DATESALE'].dtype)

datetime64[ns]

In [44]:
df_not_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
0,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Trip Cancellation Coverage,0.0,5970.00,5970.00,Y,26
1,000000008,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-07-01,2024-06-01,Flight Delay Coverage,0.0,28000.00,28000.00,Y,10
2,000000007,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-10-02,2024-09-27,Baggage Delay Coverage,0.0,35000.00,35000.00,Y,10
3,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Baggage & Personal Effects,0.0,3570.00,3570.00,Y,26
4,000000019,40,PWT,YA,1134.75,2023-11-29,2023-11-29,2023-12-06,2023-12-08,2023-12-01,Daily Benefits,0.0,18000.00,18000.00,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,GP/A Medical Expense,2000.0,16749.58,18749.58,N,128
38313,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,Transportation Cost for OPD,0.0,1000.00,1000.00,N,128
38314,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-08-22,2023-08-03,Baggage Delay Coverage,0.0,3000.00,3000.00,N,169
38315,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-11-17,2023-10-22,Baggage & Personal Effects,1.0,0.00,1.00,N,169
38316,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-12-13,2023-07-31,Rental Vehicle Excess,0.0,15000.00,15000.00,N,169

df_missing

In [45]:

df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE']).dt.strftime('%Y-%m-%d')

<ipython-input-45-e4e45b614958>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE']).dt.strftime('%Y-%m-%d')

In [46]:
df_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
5897,000005803,0,GAT,NaN,1708.0,NaN,20230324,20230327,20230410,20230325,GP/A Medical Expense,0.0,2407.00,2407.00,N
5898,000005804,0,GAT,NaN,1272.0,NaN,20241021,20241027,20241118,20241025,GP/A Medical Expense,0.0,1202.00,1202.00,N
6007,000005913,0,GAT,NaN,7760.0,NaN,20230821,20230829,20230913,20230825,GP/A Medical Expense,0.0,3620.00,3620.00,N
6008,000005914,0,GAT,NaN,26730.0,NaN,20231013,20231015,20231115,20231013,GP/A Medical Expense,1.0,0.00,1.00,N
6009,000005915,0,GAT,NaN,1421.0,NaN,20231016,20231018,20231114,20231017,GP/A Medical Expense,0.0,4153.00,4153.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,NaN,20980.0,NaN,20220503,20230503,20230301,20230217,GP/A Medical Expense,0.0,5291.79,5291.79,N
38184,0000254010110,55,GWW,NaN,214846.0,NaN,20240723,20240927,20240827,20240730,GP/A Medical Expense,400000.0,0.00,400000.00,N
38185,0000254010110,55,GWW,NaN,214846.0,NaN,20240723,20240927,20240827,20240730,GP/A Others,20000.0,0.00,20000.00,N
38273,0000254010147,0,GTS,NaN,62480.0,NaN,20230623,20240623,20240222,20240117,GP/A Medical Expense,0.0,1428.00,1428.00,N
38274,0000254010147,0,GTS,NaN,62480.0,NaN,20230623,20240623,20240105,20231021,GP/A Medical Expense,0.0,44723.00,44723.00,N

In [47]:
df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')

<ipython-input-47-257c08447173>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')

In [48]:
df_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
5897,000005803,0,GAT,NaN,1708.0,NaT,20230324,20230327,20230410,20230325,GP/A Medical Expense,0.0,2407.00,2407.00,N
5898,000005804,0,GAT,NaN,1272.0,NaT,20241021,20241027,20241118,20241025,GP/A Medical Expense,0.0,1202.00,1202.00,N
6007,000005913,0,GAT,NaN,7760.0,NaT,20230821,20230829,20230913,20230825,GP/A Medical Expense,0.0,3620.00,3620.00,N
6008,000005914,0,GAT,NaN,26730.0,NaT,20231013,20231015,20231115,20231013,GP/A Medical Expense,1.0,0.00,1.00,N
6009,000005915,0,GAT,NaN,1421.0,NaT,20231016,20231018,20231114,20231017,GP/A Medical Expense,0.0,4153.00,4153.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,NaN,20980.0,NaT,20220503,20230503,20230301,20230217,GP/A Medical Expense,0.0,5291.79,5291.79,N
38184,0000254010110,55,GWW,NaN,214846.0,NaT,20240723,20240927,20240827,20240730,GP/A Medical Expense,400000.0,0.00,400000.00,N
38185,0000254010110,55,GWW,NaN,214846.0,NaT,20240723,20240927,20240827,20240730,GP/A Others,20000.0,0.00,20000.00,N
38273,0000254010147,0,GTS,NaN,62480.0,NaT,20230623,20240623,20240222,20240117,GP/A Medical Expense,0.0,1428.00,1428.00,N
38274,0000254010147,0,GTS,NaN,62480.0,NaT,20230623,20240623,20240105,20231021,GP/A Medical Expense,0.0,44723.00,44723.00,N

In [49]:


# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'], format='mixed', errors='coerce')

# คำนวณความต่างของวัน
df_missing['date_difference'] = (df_missing['INCDTE'] - df_missing['DATESALE']).dt.days

<ipython-input-49-e98b795c27e1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')
<ipython-input-49-e98b795c27e1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'], format='mixed', errors='coerce')
<ipython-input-49-e98b795c27e1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['date_difference'] = (df_missing['INCDTE'] - df_missing['DATESALE']).dt.days

In [50]:
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'], format='mixed', errors='coerce')

# ตรวจสอบค่าที่ไม่สามารถแปลงเป็นวันที่ได้
invalid_dates = df_missing[df_missing['INCDTE'].isna()]
print(invalid_dates[['INCDTE']])  # แสดงค่าที่ผิดปกติ

Empty DataFrame
Columns: [INCDTE]
Index: []

<ipython-input-50-bc0446e990d8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'], format='mixed', errors='coerce')

In [51]:
#ไม่มีวันที่

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['ExpireDate'] = pd.to_datetime(df_missing['ExpireDate'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['ExpireDate'] = df_missing['ExpireDate'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['DATREP'] = df_missing['DATREP'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['DATOCC'] = df_missing['DATOCC'].dt.strftime('%Y-%m-%d')

<ipython-input-51-f25050bf46ba>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['ExpireDate'] = pd.to_datetime(df_missing['ExpireDate'].astype(str), format='%Y%m%d')
<ipython-input-51-f25050bf46ba>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['ExpireDate'] = df_missing['ExpireDate'].dt.strftime('%Y-%m-%d')
<ipython-input-51-f25050bf46ba>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'].astype(str), format='%Y%m%d')
<ipython-input-51-f25050bf46ba>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATREP'] = df_missing['DATREP'].dt.strftime('%Y-%m-%d')
<ipython-input-51-f25050bf46ba>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'].astype(str), format='%Y%m%d')
<ipython-input-51-f25050bf46ba>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATOCC'] = df_missing['DATOCC'].dt.strftime('%Y-%m-%d')

In [52]:
df_not_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
0,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Trip Cancellation Coverage,0.0,5970.00,5970.00,Y,26
1,000000008,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-07-01,2024-06-01,Flight Delay Coverage,0.0,28000.00,28000.00,Y,10
2,000000007,35,PWT,YM,6953.00,2023-09-21,2023-10-01,2024-09-30,2024-10-02,2024-09-27,Baggage Delay Coverage,0.0,35000.00,35000.00,Y,10
3,000000002,34,PWT,YO,3170.50,2023-10-07,2023-11-02,2024-11-01,2024-02-13,2024-01-22,Baggage & Personal Effects,0.0,3570.00,3570.00,Y,26
4,000000019,40,PWT,YA,1134.75,2023-11-29,2023-11-29,2023-12-06,2023-12-08,2023-12-01,Daily Benefits,0.0,18000.00,18000.00,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,GP/A Medical Expense,2000.0,16749.58,18749.58,N,128
38313,'0000254010159,55,PWT,YJ,1570.50,2024-03-29,2024-08-04,2024-11-01,2024-10-30,2024-08-07,Transportation Cost for OPD,0.0,1000.00,1000.00,N,128
38314,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-08-22,2023-08-03,Baggage Delay Coverage,0.0,3000.00,3000.00,N,169
38315,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-11-17,2023-10-22,Baggage & Personal Effects,1.0,0.00,1.00,N,169
38316,'0000254010160,49,PWT,YO,3357.00,2023-02-07,2023-07-26,2024-07-25,2023-12-13,2023-07-31,Rental Vehicle Excess,0.0,15000.00,15000.00,N,169

In [53]:
# หาค่าเฉลี่ยของคอลัมน์เฉพาะ
mean_incdte = df_not_missing['date_difference'].mean()  # หาก 'INCDTE' เป็นตัวเลข
print(mean_incdte)

23.019426996369035

In [54]:

# แปลงค่าใน 'INCDTE' เป็น datetime
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'])

<ipython-input-54-a8c29e791848>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'])

In [55]:
# หักลบจาก 'INCDTE' โดยใช้ค่าเฉลี่ยที่ได้ (22 วัน)
df_missing['DATESALE'] = df_missing['INCDTE'] - pd.to_timedelta(22.675459632294164, unit='D')

# แสดงผล
print(df_missing[['INCDTE', 'DATESALE']])

                             INCDTE                      DATESALE
5897  1970-01-01 00:00:00.020230324 1969-12-09 07:47:20.308000106
5898  1970-01-01 00:00:00.020241021 1969-12-09 07:47:20.308010803
6007  1970-01-01 00:00:00.020230821 1969-12-09 07:47:20.308000603
6008  1970-01-01 00:00:00.020231013 1969-12-09 07:47:20.308000795
6009  1970-01-01 00:00:00.020231016 1969-12-09 07:47:20.308000798
...                             ...                           ...
37714 1970-01-01 00:00:00.020220503 1969-12-09 07:47:20.307990285
38184 1970-01-01 00:00:00.020240723 1969-12-09 07:47:20.308010505
38185 1970-01-01 00:00:00.020240723 1969-12-09 07:47:20.308010505
38273 1970-01-01 00:00:00.020230623 1969-12-09 07:47:20.308000405
38274 1970-01-01 00:00:00.020230623 1969-12-09 07:47:20.308000405

[586 rows x 2 columns]

<ipython-input-55-79a1b3a9029c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = df_missing['INCDTE'] - pd.to_timedelta(22.675459632294164, unit='D')

In [56]:
df_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
5897,000005803,0,GAT,NaN,1708.0,1969-12-09 07:47:20.308000106,1970-01-01 00:00:00.020230324,2023-03-27,2023-04-10,2023-03-25,GP/A Medical Expense,0.0,2407.00,2407.00,N,NaN
5898,000005804,0,GAT,NaN,1272.0,1969-12-09 07:47:20.308010803,1970-01-01 00:00:00.020241021,2024-10-27,2024-11-18,2024-10-25,GP/A Medical Expense,0.0,1202.00,1202.00,N,NaN
6007,000005913,0,GAT,NaN,7760.0,1969-12-09 07:47:20.308000603,1970-01-01 00:00:00.020230821,2023-08-29,2023-09-13,2023-08-25,GP/A Medical Expense,0.0,3620.00,3620.00,N,NaN
6008,000005914,0,GAT,NaN,26730.0,1969-12-09 07:47:20.308000795,1970-01-01 00:00:00.020231013,2023-10-15,2023-11-15,2023-10-13,GP/A Medical Expense,1.0,0.00,1.00,N,NaN
6009,000005915,0,GAT,NaN,1421.0,1969-12-09 07:47:20.308000798,1970-01-01 00:00:00.020231016,2023-10-18,2023-11-14,2023-10-17,GP/A Medical Expense,0.0,4153.00,4153.00,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,NaN,20980.0,1969-12-09 07:47:20.307990285,1970-01-01 00:00:00.020220503,2023-05-03,2023-03-01,2023-02-17,GP/A Medical Expense,0.0,5291.79,5291.79,N,NaN
38184,0000254010110,55,GWW,NaN,214846.0,1969-12-09 07:47:20.308010505,1970-01-01 00:00:00.020240723,2024-09-27,2024-08-27,2024-07-30,GP/A Medical Expense,400000.0,0.00,400000.00,N,NaN
38185,0000254010110,55,GWW,NaN,214846.0,1969-12-09 07:47:20.308010505,1970-01-01 00:00:00.020240723,2024-09-27,2024-08-27,2024-07-30,GP/A Others,20000.0,0.00,20000.00,N,NaN
38273,0000254010147,0,GTS,NaN,62480.0,1969-12-09 07:47:20.308000405,1970-01-01 00:00:00.020230623,2024-06-23,2024-02-22,2024-01-17,GP/A Medical Expense,0.0,1428.00,1428.00,N,NaN
38274,0000254010147,0,GTS,NaN,62480.0,1969-12-09 07:47:20.308000405,1970-01-01 00:00:00.020230623,2024-06-23,2024-01-05,2023-10-21,GP/A Medical Expense,0.0,44723.00,44723.00,N,NaN

In [57]:
# แปลงให้เป็น datetime แปลงไม่ได้เพราะข้อมูลไม่ใช่วันที่
df['DATESALE'] = pd.to_datetime(df['DATESALE'])

In [58]:
print(df['DATESALE'].dtype)

datetime64[ns]

In [59]:
# แปลงให้เป็น datetime
df['DATESALE'] = pd.to_datetime(df['DATESALE'])

In [60]:
# ดึงแค่วันที่ (YYYY-MM-DD)
df['DATESALE'] = df['DATESALE'].dt.date

In [61]:
df_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
5897,000005803,0,GAT,NaN,1708.0,1969-12-09 07:47:20.308000106,1970-01-01 00:00:00.020230324,2023-03-27,2023-04-10,2023-03-25,GP/A Medical Expense,0.0,2407.00,2407.00,N,NaN
5898,000005804,0,GAT,NaN,1272.0,1969-12-09 07:47:20.308010803,1970-01-01 00:00:00.020241021,2024-10-27,2024-11-18,2024-10-25,GP/A Medical Expense,0.0,1202.00,1202.00,N,NaN
6007,000005913,0,GAT,NaN,7760.0,1969-12-09 07:47:20.308000603,1970-01-01 00:00:00.020230821,2023-08-29,2023-09-13,2023-08-25,GP/A Medical Expense,0.0,3620.00,3620.00,N,NaN
6008,000005914,0,GAT,NaN,26730.0,1969-12-09 07:47:20.308000795,1970-01-01 00:00:00.020231013,2023-10-15,2023-11-15,2023-10-13,GP/A Medical Expense,1.0,0.00,1.00,N,NaN
6009,000005915,0,GAT,NaN,1421.0,1969-12-09 07:47:20.308000798,1970-01-01 00:00:00.020231016,2023-10-18,2023-11-14,2023-10-17,GP/A Medical Expense,0.0,4153.00,4153.00,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,NaN,20980.0,1969-12-09 07:47:20.307990285,1970-01-01 00:00:00.020220503,2023-05-03,2023-03-01,2023-02-17,GP/A Medical Expense,0.0,5291.79,5291.79,N,NaN
38184,0000254010110,55,GWW,NaN,214846.0,1969-12-09 07:47:20.308010505,1970-01-01 00:00:00.020240723,2024-09-27,2024-08-27,2024-07-30,GP/A Medical Expense,400000.0,0.00,400000.00,N,NaN
38185,0000254010110,55,GWW,NaN,214846.0,1969-12-09 07:47:20.308010505,1970-01-01 00:00:00.020240723,2024-09-27,2024-08-27,2024-07-30,GP/A Others,20000.0,0.00,20000.00,N,NaN
38273,0000254010147,0,GTS,NaN,62480.0,1969-12-09 07:47:20.308000405,1970-01-01 00:00:00.020230623,2024-06-23,2024-02-22,2024-01-17,GP/A Medical Expense,0.0,1428.00,1428.00,N,NaN
38274,0000254010147,0,GTS,NaN,62480.0,1969-12-09 07:47:20.308000405,1970-01-01 00:00:00.020230623,2024-06-23,2024-01-05,2023-10-21,GP/A Medical Expense,0.0,44723.00,44723.00,N,NaN

In [62]:
df_missing['Plan_'] = df_missing['Plan_'].fillna('YE')

<ipython-input-62-d817a6956c78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['Plan_'] = df_missing['Plan_'].fillna('YE')

In [63]:
df_missing['ReseveDescription'] = df_missing['ReseveDescription'].fillna('GP/A Medical Expense')

<ipython-input-63-1ab6f9ea0672>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['ReseveDescription'] = df_missing['ReseveDescription'].fillna('GP/A Medical Expense')

In [64]:
df_missing

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
5897,000005803,0,GAT,YE,1708.0,1969-12-09 07:47:20.308000106,1970-01-01 00:00:00.020230324,2023-03-27,2023-04-10,2023-03-25,GP/A Medical Expense,0.0,2407.00,2407.00,N,NaN
5898,000005804,0,GAT,YE,1272.0,1969-12-09 07:47:20.308010803,1970-01-01 00:00:00.020241021,2024-10-27,2024-11-18,2024-10-25,GP/A Medical Expense,0.0,1202.00,1202.00,N,NaN
6007,000005913,0,GAT,YE,7760.0,1969-12-09 07:47:20.308000603,1970-01-01 00:00:00.020230821,2023-08-29,2023-09-13,2023-08-25,GP/A Medical Expense,0.0,3620.00,3620.00,N,NaN
6008,000005914,0,GAT,YE,26730.0,1969-12-09 07:47:20.308000795,1970-01-01 00:00:00.020231013,2023-10-15,2023-11-15,2023-10-13,GP/A Medical Expense,1.0,0.00,1.00,N,NaN
6009,000005915,0,GAT,YE,1421.0,1969-12-09 07:47:20.308000798,1970-01-01 00:00:00.020231016,2023-10-18,2023-11-14,2023-10-17,GP/A Medical Expense,0.0,4153.00,4153.00,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,YE,20980.0,1969-12-09 07:47:20.307990285,1970-01-01 00:00:00.020220503,2023-05-03,2023-03-01,2023-02-17,GP/A Medical Expense,0.0,5291.79,5291.79,N,NaN
38184,0000254010110,55,GWW,YE,214846.0,1969-12-09 07:47:20.308010505,1970-01-01 00:00:00.020240723,2024-09-27,2024-08-27,2024-07-30,GP/A Medical Expense,400000.0,0.00,400000.00,N,NaN
38185,0000254010110,55,GWW,YE,214846.0,1969-12-09 07:47:20.308010505,1970-01-01 00:00:00.020240723,2024-09-27,2024-08-27,2024-07-30,GP/A Others,20000.0,0.00,20000.00,N,NaN
38273,0000254010147,0,GTS,YE,62480.0,1969-12-09 07:47:20.308000405,1970-01-01 00:00:00.020230623,2024-06-23,2024-02-22,2024-01-17,GP/A Medical Expense,0.0,1428.00,1428.00,N,NaN
38274,0000254010147,0,GTS,YE,62480.0,1969-12-09 07:47:20.308000405,1970-01-01 00:00:00.020230623,2024-06-23,2024-01-05,2023-10-21,GP/A Medical Expense,0.0,44723.00,44723.00,N,NaN

In [65]:
df_missing.isnull().sum()

ID_Card                0
AGE                    0
Policy_Class           0
Plan_                  0
Premium                0
DATESALE               0
INCDTE                 0
ExpireDate             0
DATREP                 0
DATOCC                 0
ReseveDescription      0
GRS_OS                 0
GRS_PAID               0
GIC                    0
Remark                 0
date_difference      586
dtype: int64

In [66]:
df_combined = pd.concat([df_not_missing, df_missing])  # รวม DataFrame
df_combined = df_combined.sort_values(by='ID_Card')   # เรียงตาม 'Dummy ID'
df_combined = df_combined.reset_index(drop=True)       # รีเซ็ต index ใหม่

In [67]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
0,'000022391,0,GTS,YE,524980.0,1969-12-09 07:47:20.308000190,1970-01-01 00:00:00.020230408,2024-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,NaN
1,'000022392,0,GTS,YE,524980.0,1969-12-09 07:47:20.308000190,1970-01-01 00:00:00.020230408,2024-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,NaN
2,'000022393,0,GTS,YE,424980.0,1969-12-09 07:47:20.308010190,1970-01-01 00:00:00.020240408,2025-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,NaN
3,'000022394,0,GTS,YE,524980.0,1969-12-09 07:47:20.308000190,1970-01-01 00:00:00.020230408,2024-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,NaN
4,'000022395,0,GTS,YE,524980.0,1969-12-09 07:47:20.308000190,1970-01-01 00:00:00.020230408,2024-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,YM,8180.0,2023-09-11 00:00:00.000000000,2023-09-11 00:00:00.000000000,2024-09-10,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,0.0
38313,0000254010156,45,PWT,YM,8180.0,2023-09-11 00:00:00.000000000,2023-09-11 00:00:00.000000000,2024-09-10,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,0.0
38314,0000254010157,49,GWC,TIS,8280.0,2022-08-23 00:00:00.000000000,2022-08-01 00:00:00.000000000,2023-07-31,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,-22.0
38315,1103900419504,7,GWT,YU,440.0,2024-04-08 00:00:00.000000000,2024-04-13 00:00:00.000000000,2024-04-19,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,5.0
38316,1103900419504,7,GWT,YU,440.0,2024-04-08 00:00:00.000000000,2024-04-13 00:00:00.000000000,2024-04-19,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,5.0

In [68]:
df_combined = df_combined.reset_index(drop=True)

In [69]:
print(df_combined.isnull().sum())

ID_Card                0
AGE                    0
Policy_Class           0
Plan_                  0
Premium                0
DATESALE               0
INCDTE                 0
ExpireDate             0
DATREP                 0
DATOCC                 0
ReseveDescription      0
GRS_OS                 0
GRS_PAID               0
GIC                    0
Remark                 0
date_difference      586
dtype: int64

In [70]:
# แปลงคอลัมน์ DATESALE ให้เป็น datetime
df_combined['DATESALE'] = pd.to_datetime(df_combined['DATESALE'])

# ใช้ .dt.strftime() เพื่อแปลงเป็นรูปแบบ YYYY-MM-DD
df_combined['DATESALE'] = df_combined['DATESALE'].dt.strftime('%Y-%m-%d')

In [71]:
# แปลงคอลัมน์ DATESALE ให้เป็น datetime
df_combined['INCDTE'] = pd.to_datetime(df_combined['INCDTE'])

# ใช้ .dt.strftime() เพื่อแปลงเป็นรูปแบบ YYYY-MM-DD
df_combined['INCDTE'] = df_combined['INCDTE'].dt.strftime('%Y-%m-%d')

In [72]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
0,'000022391,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,NaN
1,'000022392,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,NaN
2,'000022393,0,GTS,YE,424980.0,1969-12-09,1970-01-01,2025-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,NaN
3,'000022394,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,NaN
4,'000022395,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,0.0
38313,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,0.0
38314,0000254010157,49,GWC,TIS,8280.0,2022-08-23,2022-08-01,2023-07-31,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,-22.0
38315,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,5.0
38316,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,5.0

In [73]:
df_combined = df_combined.loc[~((df_combined['GRS_OS'] == 0) &
                               (df_combined['GRS_PAID'] == 0) &
                               (df_combined['GIC'] == 0))]

In [74]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference
0,'000022391,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,NaN
1,'000022392,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,NaN
2,'000022393,0,GTS,YE,424980.0,1969-12-09,1970-01-01,2025-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,NaN
3,'000022394,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,NaN
4,'000022395,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,0.0
38313,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,0.0
38314,0000254010157,49,GWC,TIS,8280.0,2022-08-23,2022-08-01,2023-07-31,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,-22.0
38315,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,5.0
38316,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,5.0

⏰

เงื่อนไข

In [75]:
# ฟังก์ชันเพื่อจัดกลุ่มค่าของ ReseveDescription และกำหนดค่าลงในคอลัมน์ ReseveDescriptionType
def categorize_reserve_description(description):
    # กลุ่ม Medical Expense
    if any(keyword in description for keyword in ['GP/A Medical Expense', 'Medical Accident &sickness', 'MedFUinThailand', 'อาหารเป็นพิษ', 'ค่ารักษาจากโควิค19', 'Medical from Covid-19', 'MEDICAL']):
        return 'Medical Expense'

    # กลุ่ม Baggage & Personal Effects
    elif any(keyword in description for keyword in ['Baggage & Personal Effects', 'เสียหายของกระเป๋าเดินทาง', 'Baggage']):
        return 'Baggage & Personal Effects'

    # กลุ่ม TripCurtailment
    elif any(keyword in description for keyword in ['TripCurtailment', 'Tlrip Curtailment Exp.Coverage']):
        return 'TripCurtailment'

    # กลุ่ม Death
    elif any(keyword in description for keyword in ['Death AD&D (O.B.1)', 'GP/A Death']):
        return 'Death'

    # กลุ่ม Hospital Benefit
    elif any(keyword in description for keyword in ['Daily Benefits', 'Hospital Benefit']):
        return 'Hospital Benefit'

    # กลุ่ม Total Permanent Disability
    elif any(keyword in description for keyword in ['GPA Total Permanent Disability', 'GP/A Disability', 'GPA Total Temporary Disability']):
        return 'Total Permanent Disability'

    # ถ้าไม่ตรงกับเงื่อนไขใด ๆ ให้คงค่าปัจจุบัน
    else:
        return description

# ใช้ apply เพื่อสร้างคอลัมน์ใหม่ 'ReseveDescriptionType'
df_combined['ReseveDescriptionType'] = df_combined['ReseveDescription'].apply(categorize_reserve_description)

<ipython-input-75-e4b265bd6488>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined['ReseveDescriptionType'] = df_combined['ReseveDescription'].apply(categorize_reserve_description)

In [76]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference,ReseveDescriptionType
0,'000022391,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,NaN,Medical Expense
1,'000022392,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,NaN,Death
2,'000022393,0,GTS,YE,424980.0,1969-12-09,1970-01-01,2025-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,NaN,Medical Expense
3,'000022394,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,NaN,Medical Expense
4,'000022395,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,NaN,Medical Expense
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,0.0,Transportation Cost for OPD
38313,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,0.0,Medical Expense
38314,0000254010157,49,GWC,TIS,8280.0,2022-08-23,2022-08-01,2023-07-31,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,-22.0,Medical Expense
38315,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,5.0,Medical Expense
38316,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,5.0,Transportation Cost for OPD

In [77]:

# นับจำนวนการเคลมซ้ำของลูกค้าทุกคนตามประเภทการเคลม

claim_type_counts_per_customer = df_combined.groupby(['ID_Card', 'ReseveDescription']).size().reset_index(name='ReseveDescription_Count')

df_combined = df_combined.merge(claim_type_counts_per_customer, on=['ID_Card', 'ReseveDescription'], how='left')

# แสดงผลลัพธ์
print(claim_type_counts_per_customer)

             ID_Card            ReseveDescription  ReseveDescription_Count
0         '000022391         GP/A Medical Expense                        1
1         '000022392           Death AD&D (O.B.1)                        1
2         '000022393         GP/A Medical Expense                        1
3         '000022394                 อาหารเป็นพิษ                        1
4         '000022395         GP/A Medical Expense                        1
...              ...                          ...                      ...
35255  0000254010156         GP/A Medical Expense                        1
35256  0000254010156  Transportation Cost for OPD                        1
35257  0000254010157         GP/A Medical Expense                        1
35258  1103900419504         GP/A Medical Expense                        1
35259  1103900419504  Transportation Cost for OPD                        1

[35260 rows x 3 columns]

In [78]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,date_difference,ReseveDescriptionType,ReseveDescription_Count
0,'000022391,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,NaN,Medical Expense,1
1,'000022392,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,NaN,Death,1
2,'000022393,0,GTS,YE,424980.0,1969-12-09,1970-01-01,2025-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,NaN,Medical Expense,1
3,'000022394,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,NaN,Medical Expense,1
4,'000022395,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,NaN,Medical Expense,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,0.0,Transportation Cost for OPD,1
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,0.0,Medical Expense,1
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,2022-08-01,2023-07-31,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,-22.0,Medical Expense,1
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,5.0,Medical Expense,1
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,5.0,Transportation Cost for OPD,1

In [79]:

# นับจำนวน Claim ตาม Dummy ID และ ReserveDescription
claim_counts_per_customer = df_combined.groupby(['ID_Card', 'ReseveDescription']).size().reset_index(name='Claim_Count')

# รวมค่า Claim_Count กลับเข้า df
df_combined = df_combined.merge(claim_counts_per_customer, on=['ID_Card', 'ReseveDescription'], how='left')

# กำหนดระดับความเสี่ยงตาม Claim_Count
df_combined['ReseveDescription_Risk_Level'] = df_combined['ReseveDescription_Count'].apply(lambda x:
    'ไม่มีความเสี่ยง' if x < 3 else
    'ความเสี่ยงน้อย' if x == 3 else
    'ความเสี่ยงปานกลาง' if x == 4 else
    'ความเสี่ยงมาก'
)

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'ReseveDescription', 'Claim_Count', 'ReseveDescription_Risk_Level']].head())

      ID_Card     ReseveDescription  Claim_Count ReseveDescription_Risk_Level
0  '000022391  GP/A Medical Expense            1              ไม่มีความเสี่ยง
1  '000022392    Death AD&D (O.B.1)            1              ไม่มีความเสี่ยง
2  '000022393  GP/A Medical Expense            1              ไม่มีความเสี่ยง
3  '000022394          อาหารเป็นพิษ            1              ไม่มีความเสี่ยง
4  '000022395  GP/A Medical Expense            1              ไม่มีความเสี่ยง

In [80]:
print(df_combined.columns)

Index(['ID_Card', 'AGE', 'Policy_Class', 'Plan_', 'Premium', 'DATESALE',
       'INCDTE', 'ExpireDate', 'DATREP', 'DATOCC', 'ReseveDescription',
       'GRS_OS', 'GRS_PAID', 'GIC', 'Remark', 'date_difference',
       'ReseveDescriptionType', 'ReseveDescription_Count', 'Claim_Count',
       'ReseveDescription_Risk_Level'],
      dtype='object')

In [81]:
import numpy as np

conditions = [
    df_combined["ReseveDescription_Risk_Level"] == "ความเสี่ยงมาก",
    df_combined["ReseveDescription_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["ReseveDescription_Risk_Level"] == "ความเสี่ยงน้อย",
    df_combined["ReseveDescription_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["มากกว่า 3", "เท่ากับ 4", "เท่ากับ 3", "น้อยกว่า 3"]

df_combined["Conditions_ReseveDescription"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium    DATESALE      INCDTE  ExpireDate      DATREP      DATOCC  \
0      524980.0  1969-12-09  1970-01-01  2024-04-08  2023-05-12  2023-04-22
1      524980.0  1969-12-09  1970-01-01  2024-04-08  2024-07-02  2024-03-23
2      424980.0  1969-12-09  1970-01-01  2025-04-08  2024-04-30  2024-04-23
3      524980.0  1969-12-09  1970-01-01  2024-04-08  2024-02-13  2024-01-09
4      524980.0  1969-12-09  1970-01-01  2024-04-08  2024-02-02  2023-12-19
...         ...         ...         ...         ...         ...         ...
36825    8180.0  2023-09-11  2023-09-11  2024-09-10  2024-11-13  2024-08-20
36826    8180.0  2023-09-11  2023-09-11  2024-09-10  2024-11-13  2024-08-20
36827    8280.0  2022-08-23  2022-08-01  2023-07-31  2023-07-11  2023-06-30
36828     440.0  2024-04-08  2024-04-13  2024-04-19  2024-04-29  2024-04-16
36829     440.0  2024-04-08  2024-04-13  2024-04-19  2024-04-29  2024-04-16

       ...     GRS_OS   GRS_PAID         GIC  Remark date_difference  \
0      ...        0.0    6218.00     6218.00       N             NaN
1      ...  1000000.0       0.00  1000000.00       N             NaN
2      ...        0.0  369641.84   369641.84       N             NaN
3      ...        0.0    2244.00     2244.00       N             NaN
4      ...        0.0  351883.00   351883.00       N             NaN
...    ...        ...        ...         ...     ...             ...
36825  ...        0.0    1000.00     1000.00       N             0.0
36826  ...        0.0    8811.16     8811.16       N             0.0
36827  ...        0.0   10435.94    10435.94       N           -22.0
36828  ...        0.0    2103.50     2103.50       N             5.0
36829  ...        0.0    1000.00     1000.00       N             5.0

             ReseveDescriptionType ReseveDescription_Count  Claim_Count  \
0                  Medical Expense                       1            1
1                            Death                       1            1
2                  Medical Expense                       1            1
3                  Medical Expense                       1            1
4                  Medical Expense                       1            1
...                            ...                     ...          ...
36825  Transportation Cost for OPD                       1            1
36826              Medical Expense                       1            1
36827              Medical Expense                       1            1
36828              Medical Expense                       1            1
36829  Transportation Cost for OPD                       1            1

       ReseveDescription_Risk_Level Conditions_ReseveDescription
0                   ไม่มีความเสี่ยง                   น้อยกว่า 3
1                   ไม่มีความเสี่ยง                   น้อยกว่า 3
2                   ไม่มีความเสี่ยง                   น้อยกว่า 3
3                   ไม่มีความเสี่ยง                   น้อยกว่า 3
4                   ไม่มีความเสี่ยง                   น้อยกว่า 3
...                             ...                          ...
36825               ไม่มีความเสี่ยง                   น้อยกว่า 3
36826               ไม่มีความเสี่ยง                   น้อยกว่า 3
36827               ไม่มีความเสี่ยง                   น้อยกว่า 3
36828               ไม่มีความเสี่ยง                   น้อยกว่า 3
36829               ไม่มีความเสี่ยง                   น้อยกว่า 3

[36830 rows x 21 columns]

In [82]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,GRS_OS,GRS_PAID,GIC,Remark,date_difference,ReseveDescriptionType,ReseveDescription_Count,Claim_Count,ReseveDescription_Risk_Level,Conditions_ReseveDescription
0,'000022391,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2023-05-12,2023-04-22,...,0.0,6218.00,6218.00,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
1,'000022392,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-07-02,2024-03-23,...,1000000.0,0.00,1000000.00,N,NaN,Death,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
2,'000022393,0,GTS,YE,424980.0,1969-12-09,1970-01-01,2025-04-08,2024-04-30,2024-04-23,...,0.0,369641.84,369641.84,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
3,'000022394,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-13,2024-01-09,...,0.0,2244.00,2244.00,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
4,'000022395,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-02,2023-12-19,...,0.0,351883.00,351883.00,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,...,0.0,1000.00,1000.00,N,0.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,...,0.0,8811.16,8811.16,N,0.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,2022-08-01,2023-07-31,2023-07-11,2023-06-30,...,0.0,10435.94,10435.94,N,-22.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,...,0.0,2103.50,2103.50,N,5.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,...,0.0,1000.00,1000.00,N,5.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3

เปรียบเทียบวันที่

In [83]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,GRS_OS,GRS_PAID,GIC,Remark,date_difference,ReseveDescriptionType,ReseveDescription_Count,Claim_Count,ReseveDescription_Risk_Level,Conditions_ReseveDescription
0,'000022391,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2023-05-12,2023-04-22,...,0.0,6218.00,6218.00,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
1,'000022392,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-07-02,2024-03-23,...,1000000.0,0.00,1000000.00,N,NaN,Death,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
2,'000022393,0,GTS,YE,424980.0,1969-12-09,1970-01-01,2025-04-08,2024-04-30,2024-04-23,...,0.0,369641.84,369641.84,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
3,'000022394,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-13,2024-01-09,...,0.0,2244.00,2244.00,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
4,'000022395,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-02,2023-12-19,...,0.0,351883.00,351883.00,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,...,0.0,1000.00,1000.00,N,0.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,...,0.0,8811.16,8811.16,N,0.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,2022-08-01,2023-07-31,2023-07-11,2023-06-30,...,0.0,10435.94,10435.94,N,-22.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,...,0.0,2103.50,2103.50,N,5.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,...,0.0,1000.00,1000.00,N,5.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3

In [84]:
# ตรวจสอบชนิดของข้อมูลในแต่ละคอลัมน์
print(df_combined.dtypes)

ID_Card                          object
AGE                               int64
Policy_Class                     object
Plan_                            object
Premium                         float64
DATESALE                         object
INCDTE                           object
ExpireDate                       object
DATREP                           object
DATOCC                           object
ReseveDescription                object
GRS_OS                          float64
GRS_PAID                        float64
GIC                             float64
Remark                           object
date_difference                 float64
ReseveDescriptionType            object
ReseveDescription_Count           int64
Claim_Count                       int64
ReseveDescription_Risk_Level     object
Conditions_ReseveDescription     object
dtype: object

In [85]:
# แปลงคอลัมน์ให้เป็น datetime64[ns]
df_combined['DATREP'] = pd.to_datetime(df_combined['DATREP'], errors='coerce')

# ตรวจสอบผลลัพธ์
print(df_combined['DATREP'].dtypes)

datetime64[ns]

In [86]:
# แปลงคอลัมน์ให้เป็น datetime64[ns]
df_combined['DATESALE'] = pd.to_datetime(df_combined['DATESALE'], errors='coerce')

# ตรวจสอบผลลัพธ์
print(df_combined['DATESALE'].dtypes)

datetime64[ns]

In [87]:
# แปลงคอลัมน์ให้เป็น datetime64[ns]
df_combined['INCDTE'] = pd.to_datetime(df_combined['INCDTE'], errors='coerce')

# ตรวจสอบผลลัพธ์
print(df_combined['INCDTE'].dtypes)

datetime64[ns]

In [88]:
# แปลงคอลัมน์ให้เป็น datetime64[ns]
df_combined['DATOCC'] = pd.to_datetime(df_combined['DATOCC'], errors='coerce')

# ตรวจสอบผลลัพธ์
print(df_combined['DATOCC'].dtypes)

datetime64[ns]

In [89]:
# แปลงคอลัมน์ให้เป็น datetime64[ns]
df_combined['ExpireDate'] = pd.to_datetime(df_combined['ExpireDate'], errors='coerce')

# ตรวจสอบผลลัพธ์
print(df_combined['ExpireDate'].dtypes)

datetime64[ns]

In [90]:
# ตรวจสอบชนิดของข้อมูลในแต่ละคอลัมน์
print(df_combined.dtypes)

ID_Card                                 object
AGE                                      int64
Policy_Class                            object
Plan_                                   object
Premium                                float64
DATESALE                        datetime64[ns]
INCDTE                          datetime64[ns]
ExpireDate                      datetime64[ns]
DATREP                          datetime64[ns]
DATOCC                          datetime64[ns]
ReseveDescription                       object
GRS_OS                                 float64
GRS_PAID                               float64
GIC                                    float64
Remark                                  object
date_difference                        float64
ReseveDescriptionType                   object
ReseveDescription_Count                  int64
Claim_Count                              int64
ReseveDescription_Risk_Level            object
Conditions_ReseveDescription            object
dtype: object

In [91]:
df_combined['DATESALE_DATOCC_difference'] = (df_combined['DATOCC'] - df_combined['DATESALE']).dt.days

In [92]:
mean_DATESALE_DATOCC_difference = df_combined['DATESALE_DATOCC_difference'].mean()

In [93]:
mean_DATESALE_DATOCC_difference

366.51677979907686

In [94]:
print(df_combined.dtypes)

ID_Card                                 object
AGE                                      int64
Policy_Class                            object
Plan_                                   object
Premium                                float64
DATESALE                        datetime64[ns]
INCDTE                          datetime64[ns]
ExpireDate                      datetime64[ns]
DATREP                          datetime64[ns]
DATOCC                          datetime64[ns]
ReseveDescription                       object
GRS_OS                                 float64
GRS_PAID                               float64
GIC                                    float64
Remark                                  object
date_difference                        float64
ReseveDescriptionType                   object
ReseveDescription_Count                  int64
Claim_Count                              int64
ReseveDescription_Risk_Level            object
Conditions_ReseveDescription            object
DATESALE_DATOCC_difference               int64
dtype: object

In [95]:
df_combined['INCDTE_ExpireDate_difference'] = (df_combined['ExpireDate'] - df_combined['INCDTE']).dt.days

In [96]:
df_combined['INCDTE_DATESALE_difference'] = (df_combined['INCDTE'] - df_combined['DATESALE']).dt.days

In [97]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,Remark,date_difference,ReseveDescriptionType,ReseveDescription_Count,Claim_Count,ReseveDescription_Risk_Level,Conditions_ReseveDescription,DATESALE_DATOCC_difference,INCDTE_ExpireDate_difference,INCDTE_DATESALE_difference
0,'000022391,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2023-05-12,2023-04-22,...,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19492,19821,23
1,'000022392,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-07-02,2024-03-23,...,N,NaN,Death,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19828,19821,23
2,'000022393,0,GTS,YE,424980.0,1969-12-09,1970-01-01,2025-04-08,2024-04-30,2024-04-23,...,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19859,20186,23
3,'000022394,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-13,2024-01-09,...,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19754,19821,23
4,'000022395,0,GTS,YE,524980.0,1969-12-09,1970-01-01,2024-04-08,2024-02-02,2023-12-19,...,N,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19733,19821,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,...,N,0.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,344,365,0
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,2023-09-11,2024-09-10,2024-11-13,2024-08-20,...,N,0.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,344,365,0
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,2022-08-01,2023-07-31,2023-07-11,2023-06-30,...,N,-22.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,311,364,-22
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,...,N,5.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,8,6,5
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,2024-04-13,2024-04-19,2024-04-29,2024-04-16,...,N,5.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,8,6,5

In [98]:
mean_INCDTE_ExpireDate_difference = df_combined['INCDTE_ExpireDate_difference'].mean()

In [99]:
mean_INCDTE_ExpireDate_difference

396.2613358674993

In [100]:
mean_Premium = df_combined['Premium'].mean()

In [101]:
mean_Premium

13856.40092777627

In [102]:
df_combined['INCDTE_DATOCC_difference'] = (df_combined['DATOCC'] - df_combined['INCDTE']).dt.days

In [103]:
df_combined['DATOCC'] = df_combined['DATOCC'].dt.strftime('%m/%d/%Y')

In [104]:
df_combined['INCDTE'] = df_combined['INCDTE'].dt.strftime('%m/%d/%Y')

In [105]:
mean_INCDTE_DATESALE_difference = df_combined['INCDTE_DATESALE_difference'].mean()

In [106]:
mean_INCDTE_DATESALE_difference

22.83193049144719

In [107]:
mean_INCDTE_DATOCC_difference = df_combined['INCDTE_DATOCC_difference'].mean()

In [108]:
mean_INCDTE_DATOCC_difference

343.68484930762963

In [109]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,date_difference,ReseveDescriptionType,ReseveDescription_Count,Claim_Count,ReseveDescription_Risk_Level,Conditions_ReseveDescription,DATESALE_DATOCC_difference,INCDTE_ExpireDate_difference,INCDTE_DATESALE_difference,INCDTE_DATOCC_difference
0,'000022391,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2023-05-12,04/22/2023,...,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19492,19821,23,19469
1,'000022392,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-07-02,03/23/2024,...,NaN,Death,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19828,19821,23,19805
2,'000022393,0,GTS,YE,424980.0,1969-12-09,01/01/1970,2025-04-08,2024-04-30,04/23/2024,...,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19859,20186,23,19836
3,'000022394,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-13,01/09/2024,...,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19754,19821,23,19731
4,'000022395,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-02,12/19/2023,...,NaN,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,19733,19821,23,19710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,0.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,344,365,0,344
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,0.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,344,365,0,344
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,08/01/2022,2023-07-31,2023-07-11,06/30/2023,...,-22.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,311,364,-22,333
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,5.0,Medical Expense,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,8,6,5,3
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,5.0,Transportation Cost for OPD,1,1,ไม่มีความเสี่ยง,น้อยกว่า 3,8,6,5,3

In [110]:
#dummy_id_counts = df_combined['Dummy ID'].value_counts().reset_index()
#dummy_id_counts.columns = ['Dummy ID', 'Dummy ID Count']
#print(dummy_id_counts)

In [111]:
#df_combined['Dummy ID Count'] = df_combined['Dummy ID'].map(df_combined['Dummy ID'].value_counts())
#bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

In [112]:
import numpy as np

# กำหนดค่าเฉลี่ยของเบี้ยประกันภัยและจำนวนวันที่คุ้มครอง
average_premium = 1500
average_coverage_days = 85

# กำหนดเงื่อนไขสำหรับระดับความเสี่ยง
conditions = [
    # 1. ความเสี่ยงสูง: เบี้ยประกันภัย > 1500 และ จำนวนวันที่คุ้มครอง < 85
    (df_combined['Premium'] >= average_premium) & (df_combined['INCDTE_ExpireDate_difference'] <= average_coverage_days),

    # 2. ความเสี่ยงปานกลาง: เบี้ยประกันภัย > 1500 และ จำนวนวันที่คุ้มครอง >= 85
    (df_combined['Premium'] >= average_premium) & (df_combined['INCDTE_ExpireDate_difference'] >= average_coverage_days),

    # 3. ความเสี่ยงน้อย: เบี้ยประกันภัย < 1500 และ จำนวนวันที่คุ้มครอง >= 85
    (df_combined['Premium'] <= average_premium) & (df_combined['INCDTE_ExpireDate_difference'] >= average_coverage_days),

    # 4. ไม่มีความเสี่ยง: เบี้ยประกันภัย < 1500 และ จำนวนวันที่คุ้มครอง < 85
    (df_combined['Premium'] <= average_premium) & (df_combined['INCDTE_ExpireDate_difference'] <= average_coverage_days),

]

# กำหนดผลลัพธ์ที่จะให้ตามแต่ละเงื่อนไข
choices = ['ความเสี่ยงมาก', 'ความเสี่ยงปานกลาง', 'ความเสี่ยงน้อย', 'ไม่มีความเสี่ยง']

# ใช้ np.select() เพื่อตั้งค่าคอลัมน์ใหม่ 'Risk_Level'
df_combined['Premium_INCDTE_ExpireDate_difference_Risk_Level'] = np.select(conditions, choices, default='อื่นๆ')

# แสดงผลลัพธ์
df_combined[['ID_Card', 'Premium', 'INCDTE_ExpireDate_difference', 'Premium_INCDTE_ExpireDate_difference_Risk_Level']].head(10)

,ID_Card,Premium,INCDTE_ExpireDate_difference,Premium_INCDTE_ExpireDate_difference_Risk_Level
0,'000022391,524980.0,19821,ความเสี่ยงปานกลาง
1,'000022392,524980.0,19821,ความเสี่ยงปานกลาง
2,'000022393,424980.0,20186,ความเสี่ยงปานกลาง
3,'000022394,524980.0,19821,ความเสี่ยงปานกลาง
4,'000022395,524980.0,19821,ความเสี่ยงปานกลาง
5,'000022396,524980.0,19821,ความเสี่ยงปานกลาง
6,'000022397,524980.0,19821,ความเสี่ยงปานกลาง
7,'000022398,524980.0,19821,ความเสี่ยงปานกลาง
8,'000022399,524980.0,19821,ความเสี่ยงปานกลาง
9,'000022400,524980.0,19821,ความเสี่ยงปานกลาง

In [113]:
import numpy as np

conditions = [
    df_combined["Premium_INCDTE_ExpireDate_difference_Risk_Level"] == "ความเสี่ยงมาก",
    df_combined["Premium_INCDTE_ExpireDate_difference_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["Premium_INCDTE_ExpireDate_difference_Risk_Level"] == "ความเสี่ยงน้อย",
    df_combined["Premium_INCDTE_ExpireDate_difference_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่คุ้มครองน้อยกว่าค่าเฉลี่ย", "เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่คุ้มครองมากกว่าเท่ากับค่าเฉลี่ย",
           "เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่คุ้มครองมากกว่าเท่ากับค่าเฉลี่ย", "เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่คุ้มครองน้อยกว่าค่าเฉลี่ย"]

df_combined["Conditions_Premium_NumberofCoveredDays"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium   DATESALE      INCDTE ExpireDate     DATREP      DATOCC  ...  \
0      524980.0 1969-12-09  01/01/1970 2024-04-08 2023-05-12  04/22/2023  ...
1      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-07-02  03/23/2024  ...
2      424980.0 1969-12-09  01/01/1970 2025-04-08 2024-04-30  04/23/2024  ...
3      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-13  01/09/2024  ...
4      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-02  12/19/2023  ...
...         ...        ...         ...        ...        ...         ...  ...
36825    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36826    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36827    8280.0 2022-08-23  08/01/2022 2023-07-31 2023-07-11  06/30/2023  ...
36828     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...
36829     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...

      ReseveDescription_Count  Claim_Count  ReseveDescription_Risk_Level  \
0                           1            1               ไม่มีความเสี่ยง
1                           1            1               ไม่มีความเสี่ยง
2                           1            1               ไม่มีความเสี่ยง
3                           1            1               ไม่มีความเสี่ยง
4                           1            1               ไม่มีความเสี่ยง
...                       ...          ...                           ...
36825                       1            1               ไม่มีความเสี่ยง
36826                       1            1               ไม่มีความเสี่ยง
36827                       1            1               ไม่มีความเสี่ยง
36828                       1            1               ไม่มีความเสี่ยง
36829                       1            1               ไม่มีความเสี่ยง

       Conditions_ReseveDescription DATESALE_DATOCC_difference  \
0                        น้อยกว่า 3                      19492
1                        น้อยกว่า 3                      19828
2                        น้อยกว่า 3                      19859
3                        น้อยกว่า 3                      19754
4                        น้อยกว่า 3                      19733
...                             ...                        ...
36825                    น้อยกว่า 3                        344
36826                    น้อยกว่า 3                        344
36827                    น้อยกว่า 3                        311
36828                    น้อยกว่า 3                          8
36829                    น้อยกว่า 3                          8

       INCDTE_ExpireDate_difference INCDTE_DATESALE_difference  \
0                             19821                         23
1                             19821                         23
2                             20186                         23
3                             19821                         23
4                             19821                         23
...                             ...                        ...
36825                           365                          0
36826                           365                          0
36827                           364                        -22
36828                             6                          5
36829                             6                          5

       INCDTE_DATOCC_difference  \
0                         19469
1                         19805
2                         19836
3                         19731
4                         19710
...                         ...
36825                       344
36826                       344
36827                       333
36828                         3
36829                         3

       Premium_INCDTE_ExpireDate_difference_Risk_Level  \
0                                    ความเสี่ยงปานกลาง
1                                    ความเสี่ยงปานกลาง
2                                    ความเสี่ยงปานกลาง
3                                    ความเสี่ยงปานกลาง
4                                    ความเสี่ยงปานกลาง
...                                                ...
36825                                ความเสี่ยงปานกลาง
36826                                ความเสี่ยงปานกลาง
36827                                ความเสี่ยงปานกลาง
36828                                  ไม่มีความเสี่ยง
36829                                  ไม่มีความเสี่ยง

                  Conditions_Premium_NumberofCoveredDays
0      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
1      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
2      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
3      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
4      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
...                                                  ...
36825  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36826  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36827  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36828  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...
36829  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...

[36830 rows x 27 columns]

In [114]:
import numpy as np

# กำหนดเงื่อนไข
conditions = [
    df_combined['DATESALE_DATOCC_difference'] >= 35,  # ไม่มีความเสี่ยง
    (df_combined['DATESALE_DATOCC_difference'] >= 25) & (df_combined['DATESALE_DATOCC_difference'] < 35),  # ความเสี่ยงน้อย
    (df_combined['DATESALE_DATOCC_difference'] >= 5) & (df_combined['DATESALE_DATOCC_difference'] < 25),  # ความเสี่ยงปานกลาง
    df_combined['DATESALE_DATOCC_difference'] < 5  # ความเสี่ยงสูง
]

# กำหนดค่าตามเงื่อนไข
values = ['ไม่มีความเสี่ยง', 'ความเสี่ยงน้อย', 'ความเสี่ยงปานกลาง', 'ความเสี่ยงมาก']

# สร้างคอลัมน์ใหม่
df_combined['DATESALE_DATOCC_Risk_Level'] = np.select(conditions, values, default='ไม่ระบุ')

# ตรวจสอบผลลัพธ์
df_combined[['DATESALE_DATOCC_difference', 'DATESALE_DATOCC_Risk_Level']].head()

   DATESALE_DATOCC_difference DATESALE_DATOCC_Risk_Level
0                       19492            ไม่มีความเสี่ยง
1                       19828            ไม่มีความเสี่ยง
2                       19859            ไม่มีความเสี่ยง
3                       19754            ไม่มีความเสี่ยง
4                       19733            ไม่มีความเสี่ยง

In [115]:
import numpy as np

conditions = [
    df_combined["DATESALE_DATOCC_Risk_Level"] == "ความเสี่ยงมาก",
    df_combined["DATESALE_DATOCC_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["DATESALE_DATOCC_Risk_Level"] == "ความเสี่ยงน้อย",
    df_combined["DATESALE_DATOCC_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["น้อยกว่า 5", "มากกว่าเท่ากับ 5", "มากกว่าเท่ากับ 25", "มากกว่าเท่ากับ 35"]

df_combined["Conditions_DATESALE_DateofIncident"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium   DATESALE      INCDTE ExpireDate     DATREP      DATOCC  ...  \
0      524980.0 1969-12-09  01/01/1970 2024-04-08 2023-05-12  04/22/2023  ...
1      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-07-02  03/23/2024  ...
2      424980.0 1969-12-09  01/01/1970 2025-04-08 2024-04-30  04/23/2024  ...
3      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-13  01/09/2024  ...
4      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-02  12/19/2023  ...
...         ...        ...         ...        ...        ...         ...  ...
36825    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36826    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36827    8280.0 2022-08-23  08/01/2022 2023-07-31 2023-07-11  06/30/2023  ...
36828     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...
36829     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...

      ReseveDescription_Risk_Level  Conditions_ReseveDescription  \
0                  ไม่มีความเสี่ยง                    น้อยกว่า 3
1                  ไม่มีความเสี่ยง                    น้อยกว่า 3
2                  ไม่มีความเสี่ยง                    น้อยกว่า 3
3                  ไม่มีความเสี่ยง                    น้อยกว่า 3
4                  ไม่มีความเสี่ยง                    น้อยกว่า 3
...                            ...                           ...
36825              ไม่มีความเสี่ยง                    น้อยกว่า 3
36826              ไม่มีความเสี่ยง                    น้อยกว่า 3
36827              ไม่มีความเสี่ยง                    น้อยกว่า 3
36828              ไม่มีความเสี่ยง                    น้อยกว่า 3
36829              ไม่มีความเสี่ยง                    น้อยกว่า 3

       DATESALE_DATOCC_difference  INCDTE_ExpireDate_difference  \
0                           19492                         19821
1                           19828                         19821
2                           19859                         20186
3                           19754                         19821
4                           19733                         19821
...                           ...                           ...
36825                         344                           365
36826                         344                           365
36827                         311                           364
36828                           8                             6
36829                           8                             6

      INCDTE_DATESALE_difference  INCDTE_DATOCC_difference  \
0                             23                     19469
1                             23                     19805
2                             23                     19836
3                             23                     19731
4                             23                     19710
...                          ...                       ...
36825                          0                       344
36826                          0                       344
36827                        -22                       333
36828                          5                         3
36829                          5                         3

      Premium_INCDTE_ExpireDate_difference_Risk_Level  \
0                                   ความเสี่ยงปานกลาง
1                                   ความเสี่ยงปานกลาง
2                                   ความเสี่ยงปานกลาง
3                                   ความเสี่ยงปานกลาง
4                                   ความเสี่ยงปานกลาง
...                                               ...
36825                               ความเสี่ยงปานกลาง
36826                               ความเสี่ยงปานกลาง
36827                               ความเสี่ยงปานกลาง
36828                                 ไม่มีความเสี่ยง
36829                                 ไม่มีความเสี่ยง

                  Conditions_Premium_NumberofCoveredDays  \
0      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
1      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
2      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
3      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
4      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
...                                                  ...
36825  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36826  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36827  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36828  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...
36829  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...

       DATESALE_DATOCC_Risk_Level Conditions_DATESALE_DateofIncident
0                 ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
1                 ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
2                 ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
3                 ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
4                 ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
...                           ...                                ...
36825             ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
36826             ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
36827             ไม่มีความเสี่ยง                  มากกว่าเท่ากับ 35
36828           ความเสี่ยงปานกลาง                   มากกว่าเท่ากับ 5
36829           ความเสี่ยงปานกลาง                   มากกว่าเท่ากับ 5

[36830 rows x 29 columns]

In [116]:
# นับจำนวนการเคลมของลูกค้าทุกคนตาม ID_Card
claim_counts_per_customer = df_combined.groupby('ID_Card').size().reset_index(name='Claim_Count')

# กรองเฉพาะ ID_Card ที่เกิดการเคลมซ้ำ (Claim_Count > 1)
claim_counts_per_customer_multiple = claim_counts_per_customer[claim_counts_per_customer['Claim_Count'] > 1]

# แสดงผลลัพธ์เฉพาะ ID_Card ที่เกิดการเคลมซ้ำ
print(claim_counts_per_customer_multiple[['ID_Card']])

             ID_Card
316       '000022720
344       '000022748
345       '000022749
347       '000022751
364       '000022768
...              ...
29856  0000254010153
29857  0000254010154
29858  0000254010155
29859  0000254010156
29861  1103900419504

[5264 rows x 1 columns]

In [117]:
# ฟังก์ชันกำหนดระดับความเสี่ยงตาม Dummy ID Count
def categorize_dummy_risk(count):
    if count < 4:
        return 'ไม่มีความเสี่ยง'
    elif count == 4:
        return 'ความเสี่ยงน้อย'
    elif count == 5:
        return 'ความเสี่ยงปานกลาง'
    else:  # count >= 6
        return 'ความเสี่ยงมาก'

# สร้างคอลัมน์ใหม่ 'Dummy_ID_Risk_Level' ตามจำนวน Dummy ID Count
df_combined['Claim_Count_Risk_Level'] = df_combined['Claim_Count'].apply(categorize_dummy_risk)

In [118]:
import numpy as np

conditions = [
    df_combined["Claim_Count_Risk_Level"] == "ความเสี่ยงมาก",
    df_combined["Claim_Count_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["Claim_Count_Risk_Level"] == "ความเสี่ยงน้อย",
    df_combined["Claim_Count_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["มากกว่า 5", "เท่ากับ 5", "เท่ากับ 4", "น้อยกว่า 4"]

df_combined["Conditions_Claim"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium   DATESALE      INCDTE ExpireDate     DATREP      DATOCC  ...  \
0      524980.0 1969-12-09  01/01/1970 2024-04-08 2023-05-12  04/22/2023  ...
1      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-07-02  03/23/2024  ...
2      424980.0 1969-12-09  01/01/1970 2025-04-08 2024-04-30  04/23/2024  ...
3      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-13  01/09/2024  ...
4      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-02  12/19/2023  ...
...         ...        ...         ...        ...        ...         ...  ...
36825    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36826    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36827    8280.0 2022-08-23  08/01/2022 2023-07-31 2023-07-11  06/30/2023  ...
36828     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...
36829     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...

      DATESALE_DATOCC_difference  INCDTE_ExpireDate_difference  \
0                          19492                         19821
1                          19828                         19821
2                          19859                         20186
3                          19754                         19821
4                          19733                         19821
...                          ...                           ...
36825                        344                           365
36826                        344                           365
36827                        311                           364
36828                          8                             6
36829                          8                             6

       INCDTE_DATESALE_difference  INCDTE_DATOCC_difference  \
0                              23                     19469
1                              23                     19805
2                              23                     19836
3                              23                     19731
4                              23                     19710
...                           ...                       ...
36825                           0                       344
36826                           0                       344
36827                         -22                       333
36828                           5                         3
36829                           5                         3

      Premium_INCDTE_ExpireDate_difference_Risk_Level  \
0                                   ความเสี่ยงปานกลาง
1                                   ความเสี่ยงปานกลาง
2                                   ความเสี่ยงปานกลาง
3                                   ความเสี่ยงปานกลาง
4                                   ความเสี่ยงปานกลาง
...                                               ...
36825                               ความเสี่ยงปานกลาง
36826                               ความเสี่ยงปานกลาง
36827                               ความเสี่ยงปานกลาง
36828                                 ไม่มีความเสี่ยง
36829                                 ไม่มีความเสี่ยง

                  Conditions_Premium_NumberofCoveredDays  \
0      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
1      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
2      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
3      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
4      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
...                                                  ...
36825  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36826  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36827  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36828  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...
36829  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...

      DATESALE_DATOCC_Risk_Level  Conditions_DATESALE_DateofIncident  \
0                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
1                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
2                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
3                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
4                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
...                          ...                                 ...
36825            ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36826            ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36827            ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36828          ความเสี่ยงปานกลาง                    มากกว่าเท่ากับ 5
36829          ความเสี่ยงปานกลาง                    มากกว่าเท่ากับ 5

       Claim_Count_Risk_Level Conditions_Claim
0             ไม่มีความเสี่ยง       น้อยกว่า 4
1             ไม่มีความเสี่ยง       น้อยกว่า 4
2             ไม่มีความเสี่ยง       น้อยกว่า 4
3             ไม่มีความเสี่ยง       น้อยกว่า 4
4             ไม่มีความเสี่ยง       น้อยกว่า 4
...                       ...              ...
36825         ไม่มีความเสี่ยง       น้อยกว่า 4
36826         ไม่มีความเสี่ยง       น้อยกว่า 4
36827         ไม่มีความเสี่ยง       น้อยกว่า 4
36828         ไม่มีความเสี่ยง       น้อยกว่า 4
36829         ไม่มีความเสี่ยง       น้อยกว่า 4

[36830 rows x 31 columns]

In [119]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,DATESALE_DATOCC_difference,INCDTE_ExpireDate_difference,INCDTE_DATESALE_difference,INCDTE_DATOCC_difference,Premium_INCDTE_ExpireDate_difference_Risk_Level,Conditions_Premium_NumberofCoveredDays,DATESALE_DATOCC_Risk_Level,Conditions_DATESALE_DateofIncident,Claim_Count_Risk_Level,Conditions_Claim
0,'000022391,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2023-05-12,04/22/2023,...,19492,19821,23,19469,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
1,'000022392,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-07-02,03/23/2024,...,19828,19821,23,19805,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
2,'000022393,0,GTS,YE,424980.0,1969-12-09,01/01/1970,2025-04-08,2024-04-30,04/23/2024,...,19859,20186,23,19836,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
3,'000022394,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-13,01/09/2024,...,19754,19821,23,19731,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
4,'000022395,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-02,12/19/2023,...,19733,19821,23,19710,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,344,365,0,344,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,344,365,0,344,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,08/01/2022,2023-07-31,2023-07-11,06/30/2023,...,311,364,-22,333,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,8,6,5,3,ไม่มีความเสี่ยง,เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...,ความเสี่ยงปานกลาง,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,8,6,5,3,ไม่มีความเสี่ยง,เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...,ความเสี่ยงปานกลาง,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4

In [120]:
# ฟังก์ชันกำหนดระดับความเสี่ยงจาก INCDTE_DATESALE_difference
def categorize_risk(value):
    if value > 15:
        return 'ไม่มีความเสี่ยง'
    elif 10 < value <= 15:
        return 'ความเสี่ยงน้อย'
    elif 5 < value <= 10:
        return 'ความเสี่ยงปานกลาง'
    else:
        return 'ความเสี่ยงมาก'

# สร้างคอลัมน์ใหม่ 'INCDTE_DATESALE_Risk_Level'
df_combined['INCDTE_DATESALE_Risk_Level'] = df_combined['INCDTE_DATESALE_difference'].apply(categorize_risk)

In [121]:
import numpy as np

conditions = [
    df_combined["INCDTE_DATESALE_Risk_Level"] == "ความเสี่ยงมาก",
    df_combined["INCDTE_DATESALE_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["INCDTE_DATESALE_Risk_Level"] == "ความเสี่ยงน้อย",
    df_combined["INCDTE_DATESALE_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["มากกว่า 10","มากกว่า 5 แต่ไม่เกิน 10", "มากกว่า 10 แต่ไมเกิน 15", "มากกว่า 15"]

df_combined["Conditions_DATESALE_PolicyStartDate"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium   DATESALE      INCDTE ExpireDate     DATREP      DATOCC  ...  \
0      524980.0 1969-12-09  01/01/1970 2024-04-08 2023-05-12  04/22/2023  ...
1      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-07-02  03/23/2024  ...
2      424980.0 1969-12-09  01/01/1970 2025-04-08 2024-04-30  04/23/2024  ...
3      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-13  01/09/2024  ...
4      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-02  12/19/2023  ...
...         ...        ...         ...        ...        ...         ...  ...
36825    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36826    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36827    8280.0 2022-08-23  08/01/2022 2023-07-31 2023-07-11  06/30/2023  ...
36828     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...
36829     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...

      INCDTE_DATESALE_difference  INCDTE_DATOCC_difference  \
0                             23                     19469
1                             23                     19805
2                             23                     19836
3                             23                     19731
4                             23                     19710
...                          ...                       ...
36825                          0                       344
36826                          0                       344
36827                        -22                       333
36828                          5                         3
36829                          5                         3

       Premium_INCDTE_ExpireDate_difference_Risk_Level  \
0                                    ความเสี่ยงปานกลาง
1                                    ความเสี่ยงปานกลาง
2                                    ความเสี่ยงปานกลาง
3                                    ความเสี่ยงปานกลาง
4                                    ความเสี่ยงปานกลาง
...                                                ...
36825                                ความเสี่ยงปานกลาง
36826                                ความเสี่ยงปานกลาง
36827                                ความเสี่ยงปานกลาง
36828                                  ไม่มีความเสี่ยง
36829                                  ไม่มีความเสี่ยง

                  Conditions_Premium_NumberofCoveredDays  \
0      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
1      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
2      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
3      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
4      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
...                                                  ...
36825  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36826  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36827  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36828  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...
36829  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...

      DATESALE_DATOCC_Risk_Level  Conditions_DATESALE_DateofIncident  \
0                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
1                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
2                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
3                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
4                ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
...                          ...                                 ...
36825            ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36826            ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36827            ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36828          ความเสี่ยงปานกลาง                    มากกว่าเท่ากับ 5
36829          ความเสี่ยงปานกลาง                    มากกว่าเท่ากับ 5

      Claim_Count_Risk_Level  Conditions_Claim  INCDTE_DATESALE_Risk_Level  \
0            ไม่มีความเสี่ยง        น้อยกว่า 4             ไม่มีความเสี่ยง
1            ไม่มีความเสี่ยง        น้อยกว่า 4             ไม่มีความเสี่ยง
2            ไม่มีความเสี่ยง        น้อยกว่า 4             ไม่มีความเสี่ยง
3            ไม่มีความเสี่ยง        น้อยกว่า 4             ไม่มีความเสี่ยง
4            ไม่มีความเสี่ยง        น้อยกว่า 4             ไม่มีความเสี่ยง
...                      ...               ...                         ...
36825        ไม่มีความเสี่ยง        น้อยกว่า 4               ความเสี่ยงมาก
36826        ไม่มีความเสี่ยง        น้อยกว่า 4               ความเสี่ยงมาก
36827        ไม่มีความเสี่ยง        น้อยกว่า 4               ความเสี่ยงมาก
36828        ไม่มีความเสี่ยง        น้อยกว่า 4               ความเสี่ยงมาก
36829        ไม่มีความเสี่ยง        น้อยกว่า 4               ความเสี่ยงมาก

      Conditions_DATESALE_PolicyStartDate
0                              มากกว่า 15
1                              มากกว่า 15
2                              มากกว่า 15
3                              มากกว่า 15
4                              มากกว่า 15
...                                   ...
36825                          มากกว่า 10
36826                          มากกว่า 10
36827                          มากกว่า 10
36828                          มากกว่า 10
36829                          มากกว่า 10

[36830 rows x 33 columns]

In [122]:
# ฟังก์ชันกำหนดระดับความเสี่ยงจาก INCDTE_DATESALE_difference
def categorize_risk(value):
    if value > 30:
        return 'ไม่มีความเสี่ยง'
    elif 20 < value <= 30:
        return 'ความเสี่ยงน้อย'
    elif 15 < value <= 20:
        return 'ความเสี่ยงปานกลาง'
    else:
        return 'ความเสี่ยงมาก'

# สร้างคอลัมน์ใหม่ 'INCDTE_DATESALE_Risk_Level'
df_combined['INCDTE_DATOCC_Risk_Level'] = df_combined['INCDTE_DATOCC_difference'].apply(categorize_risk)

# แสดงตัวอย่างข้อมูล
print(df_combined[['INCDTE_DATOCC_difference', 'INCDTE_DATOCC_Risk_Level']])

       INCDTE_DATOCC_difference INCDTE_DATOCC_Risk_Level
0                         19469          ไม่มีความเสี่ยง
1                         19805          ไม่มีความเสี่ยง
2                         19836          ไม่มีความเสี่ยง
3                         19731          ไม่มีความเสี่ยง
4                         19710          ไม่มีความเสี่ยง
...                         ...                      ...
36825                       344          ไม่มีความเสี่ยง
36826                       344          ไม่มีความเสี่ยง
36827                       333          ไม่มีความเสี่ยง
36828                         3            ความเสี่ยงมาก
36829                         3            ความเสี่ยงมาก

[36830 rows x 2 columns]

In [123]:
import numpy as np

conditions = [
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ความเสี่ยงมาก",
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ความเสี่ยงน้อย",
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["มากกว่า 20","มากกว่า 15 แต่ไม่เกิน 20", "มากกว่า 20 แต่ไมเกิน 30", "มากกว่า 30"]

df_combined["Conditions_PolicyStartDate_DateofIncident"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium   DATESALE      INCDTE ExpireDate     DATREP      DATOCC  ...  \
0      524980.0 1969-12-09  01/01/1970 2024-04-08 2023-05-12  04/22/2023  ...
1      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-07-02  03/23/2024  ...
2      424980.0 1969-12-09  01/01/1970 2025-04-08 2024-04-30  04/23/2024  ...
3      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-13  01/09/2024  ...
4      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-02  12/19/2023  ...
...         ...        ...         ...        ...        ...         ...  ...
36825    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36826    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36827    8280.0 2022-08-23  08/01/2022 2023-07-31 2023-07-11  06/30/2023  ...
36828     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...
36829     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...

      Premium_INCDTE_ExpireDate_difference_Risk_Level  \
0                                   ความเสี่ยงปานกลาง
1                                   ความเสี่ยงปานกลาง
2                                   ความเสี่ยงปานกลาง
3                                   ความเสี่ยงปานกลาง
4                                   ความเสี่ยงปานกลาง
...                                               ...
36825                               ความเสี่ยงปานกลาง
36826                               ความเสี่ยงปานกลาง
36827                               ความเสี่ยงปานกลาง
36828                                 ไม่มีความเสี่ยง
36829                                 ไม่มีความเสี่ยง

                  Conditions_Premium_NumberofCoveredDays  \
0      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
1      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
2      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
3      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
4      เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
...                                                  ...
36825  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36826  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36827  เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...
36828  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...
36829  เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...

       DATESALE_DATOCC_Risk_Level  Conditions_DATESALE_DateofIncident  \
0                 ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
1                 ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
2                 ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
3                 ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
4                 ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
...                           ...                                 ...
36825             ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36826             ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36827             ไม่มีความเสี่ยง                   มากกว่าเท่ากับ 35
36828           ความเสี่ยงปานกลาง                    มากกว่าเท่ากับ 5
36829           ความเสี่ยงปานกลาง                    มากกว่าเท่ากับ 5

      Claim_Count_Risk_Level  Conditions_Claim INCDTE_DATESALE_Risk_Level  \
0            ไม่มีความเสี่ยง        น้อยกว่า 4            ไม่มีความเสี่ยง
1            ไม่มีความเสี่ยง        น้อยกว่า 4            ไม่มีความเสี่ยง
2            ไม่มีความเสี่ยง        น้อยกว่า 4            ไม่มีความเสี่ยง
3            ไม่มีความเสี่ยง        น้อยกว่า 4            ไม่มีความเสี่ยง
4            ไม่มีความเสี่ยง        น้อยกว่า 4            ไม่มีความเสี่ยง
...                      ...               ...                        ...
36825        ไม่มีความเสี่ยง        น้อยกว่า 4              ความเสี่ยงมาก
36826        ไม่มีความเสี่ยง        น้อยกว่า 4              ความเสี่ยงมาก
36827        ไม่มีความเสี่ยง        น้อยกว่า 4              ความเสี่ยงมาก
36828        ไม่มีความเสี่ยง        น้อยกว่า 4              ความเสี่ยงมาก
36829        ไม่มีความเสี่ยง        น้อยกว่า 4              ความเสี่ยงมาก

       Conditions_DATESALE_PolicyStartDate  INCDTE_DATOCC_Risk_Level  \
0                               มากกว่า 15           ไม่มีความเสี่ยง
1                               มากกว่า 15           ไม่มีความเสี่ยง
2                               มากกว่า 15           ไม่มีความเสี่ยง
3                               มากกว่า 15           ไม่มีความเสี่ยง
4                               มากกว่า 15           ไม่มีความเสี่ยง
...                                    ...                       ...
36825                           มากกว่า 10           ไม่มีความเสี่ยง
36826                           มากกว่า 10           ไม่มีความเสี่ยง
36827                           มากกว่า 10           ไม่มีความเสี่ยง
36828                           มากกว่า 10             ความเสี่ยงมาก
36829                           มากกว่า 10             ความเสี่ยงมาก

      Conditions_PolicyStartDate_DateofIncident
0                                    มากกว่า 30
1                                    มากกว่า 30
2                                    มากกว่า 30
3                                    มากกว่า 30
4                                    มากกว่า 30
...                                         ...
36825                                มากกว่า 30
36826                                มากกว่า 30
36827                                มากกว่า 30
36828                                มากกว่า 20
36829                                มากกว่า 20

[36830 rows x 35 columns]

In [124]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,Premium_INCDTE_ExpireDate_difference_Risk_Level,Conditions_Premium_NumberofCoveredDays,DATESALE_DATOCC_Risk_Level,Conditions_DATESALE_DateofIncident,Claim_Count_Risk_Level,Conditions_Claim,INCDTE_DATESALE_Risk_Level,Conditions_DATESALE_PolicyStartDate,INCDTE_DATOCC_Risk_Level,Conditions_PolicyStartDate_DateofIncident
0,'000022391,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2023-05-12,04/22/2023,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30
1,'000022392,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-07-02,03/23/2024,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30
2,'000022393,0,GTS,YE,424980.0,1969-12-09,01/01/1970,2025-04-08,2024-04-30,04/23/2024,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30
3,'000022394,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-13,01/09/2024,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30
4,'000022395,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-02,12/19/2023,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,08/01/2022,2023-07-31,2023-07-11,06/30/2023,...,ความเสี่ยงปานกลาง,เบี้ยประกันภัยมากกว่าค่าเฉลี่ย และจำนวนวันที่ค...,ไม่มีความเสี่ยง,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,ไม่มีความเสี่ยง,เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...,ความเสี่ยงปานกลาง,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,ไม่มีความเสี่ยง,เบี้ยประกันภัยน้อยกว่าค่าเฉลี่ย และจำนวนวันที่...,ความเสี่ยงปานกลาง,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20

In [125]:
# นับจำนวนค่า GIC ที่แตกต่างกันสำหรับแต่ละ Dummy ID
gic_unique_counts = df_combined.groupby('ID_Card')['GIC'].nunique().reset_index(name='Unique_GIC_Count')

# ตรวจสอบว่ามี GIC = 1 ในแต่ละ Dummy ID หรือไม่
valid_gic = df_combined[df_combined['GIC'] == 1].groupby('ID_Card')['GIC'].nunique().reset_index(name='Has_Valid_GIC')

# รวมข้อมูลเพื่อตรวจสอบ Dummy ID ที่มีค่า GIC อื่นนอกจาก 1
df_combined = df_combined.merge(gic_unique_counts, on='ID_Card', how='left')
df_combined = df_combined.merge(valid_gic, on='ID_Card', how='left')

# เติมค่า NaN ของ Has_Valid_GIC เป็น 0 (กรณีที่ไม่มี GIC = 1 ใน Dummy ID)
df_combined['Has_Valid_GIC'] = df_combined['Has_Valid_GIC'].fillna(0)

# สร้างคอลัมน์ GIC_Count ตามเงื่อนไขที่กำหนด
df_combined['GIC_Count'] = df_combined.apply(lambda row:
    1 if row['Has_Valid_GIC'] > 0 else  # ถ้ามี GIC = 1 ใน Dummy ID → ให้ GIC_Count = 1
    0 if row['Unique_GIC_Count'] > 1 else  # ถ้ามีค่า GIC อื่นที่ไม่ใช่ 1 → ให้ GIC_Count = 0
    0, axis=1)  # กรณีอื่น ให้เป็น 0

# ลบคอลัมน์ที่ไม่จำเป็นออก
df_combined.drop(columns=['Unique_GIC_Count', 'Has_Valid_GIC'], inplace=True)

In [126]:
# ฟังก์ชันกำหนดระดับความเสี่ยงจาก GIC_Count
def assign_risk(count):
    if count < 3:
        return 'ไม่มีความเสี่ยง'
    elif count == 3:
        return 'ความเสี่ยงน้อย'
    elif count == 4:
        return 'ความเสี่ยงปานกลาง'
    else:
        return 'ความเสี่ยงมาก'

# ใช้ apply เพื่อกำหนดระดับความเสี่ยง
df_combined['GIC_Risk'] = df_combined['GIC_Count'].apply(assign_risk)

In [127]:
import numpy as np

conditions = [
    df_combined["GIC_Risk"] == "ความเสี่ยงมาก",
    df_combined["GIC_Risk"] == "ความเสี่ยงปานกลาง",
    df_combined["GIC_Risk"] == "ความเสี่ยงน้อย",
    df_combined["GIC_Risk"] == "ไม่มีความเสี่ยง"
]

choices = ["มากกว่า 4","เท่ากับ 4", "เท่ากับ 3", "น้อยกว่า 3"]

df_combined["Conditions_Reject"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium   DATESALE      INCDTE ExpireDate     DATREP      DATOCC  ...  \
0      524980.0 1969-12-09  01/01/1970 2024-04-08 2023-05-12  04/22/2023  ...
1      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-07-02  03/23/2024  ...
2      424980.0 1969-12-09  01/01/1970 2025-04-08 2024-04-30  04/23/2024  ...
3      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-13  01/09/2024  ...
4      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-02  12/19/2023  ...
...         ...        ...         ...        ...        ...         ...  ...
36825    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36826    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36827    8280.0 2022-08-23  08/01/2022 2023-07-31 2023-07-11  06/30/2023  ...
36828     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...
36829     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...

      Conditions_DATESALE_DateofIncident  Claim_Count_Risk_Level  \
0                      มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
1                      มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
2                      มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
3                      มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
4                      มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
...                                  ...                     ...
36825                  มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
36826                  มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
36827                  มากกว่าเท่ากับ 35         ไม่มีความเสี่ยง
36828                   มากกว่าเท่ากับ 5         ไม่มีความเสี่ยง
36829                   มากกว่าเท่ากับ 5         ไม่มีความเสี่ยง

       Conditions_Claim  INCDTE_DATESALE_Risk_Level  \
0            น้อยกว่า 4             ไม่มีความเสี่ยง
1            น้อยกว่า 4             ไม่มีความเสี่ยง
2            น้อยกว่า 4             ไม่มีความเสี่ยง
3            น้อยกว่า 4             ไม่มีความเสี่ยง
4            น้อยกว่า 4             ไม่มีความเสี่ยง
...                 ...                         ...
36825        น้อยกว่า 4               ความเสี่ยงมาก
36826        น้อยกว่า 4               ความเสี่ยงมาก
36827        น้อยกว่า 4               ความเสี่ยงมาก
36828        น้อยกว่า 4               ความเสี่ยงมาก
36829        น้อยกว่า 4               ความเสี่ยงมาก

      Conditions_DATESALE_PolicyStartDate  INCDTE_DATOCC_Risk_Level  \
0                              มากกว่า 15           ไม่มีความเสี่ยง
1                              มากกว่า 15           ไม่มีความเสี่ยง
2                              มากกว่า 15           ไม่มีความเสี่ยง
3                              มากกว่า 15           ไม่มีความเสี่ยง
4                              มากกว่า 15           ไม่มีความเสี่ยง
...                                   ...                       ...
36825                          มากกว่า 10           ไม่มีความเสี่ยง
36826                          มากกว่า 10           ไม่มีความเสี่ยง
36827                          มากกว่า 10           ไม่มีความเสี่ยง
36828                          มากกว่า 10             ความเสี่ยงมาก
36829                          มากกว่า 10             ความเสี่ยงมาก

      Conditions_PolicyStartDate_DateofIncident  GIC_Count         GIC_Risk  \
0                                    มากกว่า 30          0  ไม่มีความเสี่ยง
1                                    มากกว่า 30          0  ไม่มีความเสี่ยง
2                                    มากกว่า 30          0  ไม่มีความเสี่ยง
3                                    มากกว่า 30          0  ไม่มีความเสี่ยง
4                                    มากกว่า 30          0  ไม่มีความเสี่ยง
...                                         ...        ...              ...
36825                                มากกว่า 30          0  ไม่มีความเสี่ยง
36826                                มากกว่า 30          0  ไม่มีความเสี่ยง
36827                                มากกว่า 30          0  ไม่มีความเสี่ยง
36828                                มากกว่า 20          0  ไม่มีความเสี่ยง
36829                                มากกว่า 20          0  ไม่มีความเสี่ยง

      Conditions_Reject
0            น้อยกว่า 3
1            น้อยกว่า 3
2            น้อยกว่า 3
3            น้อยกว่า 3
4            น้อยกว่า 3
...                 ...
36825        น้อยกว่า 3
36826        น้อยกว่า 3
36827        น้อยกว่า 3
36828        น้อยกว่า 3
36829        น้อยกว่า 3

[36830 rows x 38 columns]

In [128]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,Conditions_DATESALE_DateofIncident,Claim_Count_Risk_Level,Conditions_Claim,INCDTE_DATESALE_Risk_Level,Conditions_DATESALE_PolicyStartDate,INCDTE_DATOCC_Risk_Level,Conditions_PolicyStartDate_DateofIncident,GIC_Count,GIC_Risk,Conditions_Reject
0,'000022391,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2023-05-12,04/22/2023,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
1,'000022392,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-07-02,03/23/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
2,'000022393,0,GTS,YE,424980.0,1969-12-09,01/01/1970,2025-04-08,2024-04-30,04/23/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
3,'000022394,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-13,01/09/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
4,'000022395,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-02,12/19/2023,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,08/01/2022,2023-07-31,2023-07-11,06/30/2023,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3

In [129]:
df_combined['GIC_Count'].value_counts()

GIC_Count
0    34929
1     1901
Name: count, dtype: int64

In [130]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,Conditions_DATESALE_DateofIncident,Claim_Count_Risk_Level,Conditions_Claim,INCDTE_DATESALE_Risk_Level,Conditions_DATESALE_PolicyStartDate,INCDTE_DATOCC_Risk_Level,Conditions_PolicyStartDate_DateofIncident,GIC_Count,GIC_Risk,Conditions_Reject
0,'000022391,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2023-05-12,04/22/2023,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
1,'000022392,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-07-02,03/23/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
2,'000022393,0,GTS,YE,424980.0,1969-12-09,01/01/1970,2025-04-08,2024-04-30,04/23/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
3,'000022394,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-13,01/09/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
4,'000022395,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-02,12/19/2023,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,08/01/2022,2023-07-31,2023-07-11,06/30/2023,...,มากกว่าเท่ากับ 35,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,มากกว่าเท่ากับ 5,ไม่มีความเสี่ยง,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3

In [131]:
mean_grs_paid = df["GRS_PAID"].mean()
print("ค่าเฉลี่ยของ GRS_PAID:", mean_grs_paid)

ค่าเฉลี่ยของ GRS_PAID: 10498.358636636482

In [132]:
def calculate_risk(row):
    total_claims = row['Claim_Count']
    total_paid = row['GRS_PAID']

    print(f"Checking row: Claim_Count={total_claims}, GRS_PAID={total_paid}")  # Debugging

    if total_claims < 4 and total_paid > 50000:
        return 'ความเสี่ยงมาก'
    elif total_claims == 4 and 30000 <= total_paid <= 50000:
        return 'ความเสี่ยงปานกลาง'
    elif total_claims == 5 and 10000 <= total_paid <= 30000:
        return 'ความเสี่ยงน้อย'
    else:
        return 'ไม่มีความเสี่ยง'

df_combined['ID_PAID_Risk_Level'] = df_combined.apply(calculate_risk, axis=1)

เอาต์พุตของการสตรีมมีการตัดเหลือเพียง 5000 บรรทัดสุดท้าย
Checking row: Claim_Count=2, GRS_PAID=10000.0
Checking row: Claim_Count=3, GRS_PAID=3884.6
Checking row: Claim_Count=3, GRS_PAID=4718.9
Checking row: Claim_Count=3, GRS_PAID=23378.5
Checking row: Claim_Count=1, GRS_PAID=3102.09
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1021.73
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2450.99
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=2, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=1490.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=20012.94
Checking row: Claim_Count=1, GRS_PAID=7533.59
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=6061.91
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=35000.0
Checking row: Claim_Count=2, GRS_PAID=35000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=100.0
Checking row: Claim_Count=2, GRS_PAID=4000.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=2115.0
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=2, GRS_PAID=3639.0
Checking row: Claim_Count=2, GRS_PAID=6455.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=8066.08
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=0.0
Checking row: Claim_Count=2, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=26048.59
Checking row: Claim_Count=1, GRS_PAID=15155.79
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=35000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4716.5
Checking row: Claim_Count=1, GRS_PAID=25000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2572.14
Checking row: Claim_Count=1, GRS_PAID=25000.0
Checking row: Claim_Count=1, GRS_PAID=25000.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=1290.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1734.36
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=8000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=10339.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=2514.63
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=1, GRS_PAID=3785.63
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=524.92
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=3, GRS_PAID=7632.52
Checking row: Claim_Count=3, GRS_PAID=1000.0
Checking row: Claim_Count=3, GRS_PAID=4645.11
Checking row: Claim_Count=3, GRS_PAID=16774.97
Checking row: Claim_Count=3, GRS_PAID=1000.0
Checking row: Claim_Count=3, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=3240.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=20485.0
Checking row: Claim_Count=1, GRS_PAID=38241.14
Checking row: Claim_Count=1, GRS_PAID=1145.85
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1161.5
Checking row: Claim_Count=2, GRS_PAID=11317.25
Checking row: Claim_Count=2, GRS_PAID=8604.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4362.31
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=42990.06
Checking row: Claim_Count=1, GRS_PAID=907705.92
Checking row: Claim_Count=1, GRS_PAID=13261.2
Checking row: Claim_Count=1, GRS_PAID=6768.44
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=24822.63
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=4923.4
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4522.74
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=20420.52
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=5024.09
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=2000.0
Checking row: Claim_Count=2, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=38104.95
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=30983.29
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=6135.46
Checking row: Claim_Count=1, GRS_PAID=6727.91
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=6697.59
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2111.11
Checking row: Claim_Count=1, GRS_PAID=21049.1
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=3407.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=310.0
Checking row: Claim_Count=2, GRS_PAID=9575.0
Checking row: Claim_Count=2, GRS_PAID=2639.0
Checking row: Claim_Count=1, GRS_PAID=7666.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=2824.4
Checking row: Claim_Count=2, GRS_PAID=3840.2
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=304060.04
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4086.24
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=3500.0
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=2545.21
Checking row: Claim_Count=1, GRS_PAID=1461.0
Checking row: Claim_Count=1, GRS_PAID=10915.28
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=8930.07
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2791.15
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=1677.61
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=3, GRS_PAID=4000.0
Checking row: Claim_Count=3, GRS_PAID=4000.0
Checking row: Claim_Count=3, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=2, GRS_PAID=0.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=2, GRS_PAID=4073.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=25000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=31843.52
Checking row: Claim_Count=2, GRS_PAID=0.0
Checking row: Claim_Count=2, GRS_PAID=25000.0
Checking row: Claim_Count=3, GRS_PAID=0.0
Checking row: Claim_Count=3, GRS_PAID=15000.0
Checking row: Claim_Count=3, GRS_PAID=15000.0
Checking row: Claim_Count=3, GRS_PAID=174.45
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=3, GRS_PAID=1429.15
Checking row: Claim_Count=3, GRS_PAID=1743.57
Checking row: Claim_Count=1, GRS_PAID=12000.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=2, GRS_PAID=3500.0
Checking row: Claim_Count=2, GRS_PAID=3500.0
Checking row: Claim_Count=1, GRS_PAID=11645.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=876.33
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=4172.0
Checking row: Claim_Count=1, GRS_PAID=6000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=3020.09
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=9942.08
Checking row: Claim_Count=1, GRS_PAID=2690.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1074.41
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=9383.78
Checking row: Claim_Count=1, GRS_PAID=3852.62
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2094.9
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=7000.0
Checking row: Claim_Count=2, GRS_PAID=21000.0
Checking row: Claim_Count=1, GRS_PAID=1662.82
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=46154.5
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=2710.0
Checking row: Claim_Count=2, GRS_PAID=32710.14
Checking row: Claim_Count=1, GRS_PAID=4500.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=8840.11
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4608.33
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=2, GRS_PAID=990.0
Checking row: Claim_Count=2, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2073.7
Checking row: Claim_Count=1, GRS_PAID=4530.2
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=3135.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=10167.0
Checking row: Claim_Count=2, GRS_PAID=6000.0
Checking row: Claim_Count=1, GRS_PAID=20000.0
Checking row: Claim_Count=2, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=7000.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=3776.0
Checking row: Claim_Count=1, GRS_PAID=19349.0
Checking row: Claim_Count=1, GRS_PAID=25000.0
Checking row: Claim_Count=1, GRS_PAID=6218.21
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=3347.67
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=16880.46
Checking row: Claim_Count=1, GRS_PAID=2999.0
Checking row: Claim_Count=1, GRS_PAID=12000.0
Checking row: Claim_Count=1, GRS_PAID=6419.76
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4500.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=59478.74
Checking row: Claim_Count=1, GRS_PAID=12000.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=4500.0
Checking row: Claim_Count=2, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=4441.62
Checking row: Claim_Count=2, GRS_PAID=11532.85
Checking row: Claim_Count=2, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=4500.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2920.11
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=9029.86
Checking row: Claim_Count=2, GRS_PAID=4304.38
Checking row: Claim_Count=2, GRS_PAID=4373.14
Checking row: Claim_Count=3, GRS_PAID=0.0
Checking row: Claim_Count=3, GRS_PAID=20000.0
Checking row: Claim_Count=3, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=8000.0
Checking row: Claim_Count=1, GRS_PAID=12000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=2, GRS_PAID=2707.0
Checking row: Claim_Count=2, GRS_PAID=2661.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1251.88
Checking row: Claim_Count=1, GRS_PAID=12013.35
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2891.88
Checking row: Claim_Count=1, GRS_PAID=25000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=4383.13
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=2, GRS_PAID=2500.0
Checking row: Claim_Count=2, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=8000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=3911.76
Checking row: Claim_Count=2, GRS_PAID=6000.0
Checking row: Claim_Count=2, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=7500.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=4000.0
Checking row: Claim_Count=1, GRS_PAID=3000.0
Checking row: Claim_Count=1, GRS_PAID=1700.0
Checking row: Claim_Count=1, GRS_PAID=4373.32
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=37097.05
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1179.0
Checking row: Claim_Count=1, GRS_PAID=8550.0
Checking row: Claim_Count=1, GRS_PAID=14002.71
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=30890.0
Checking row: Claim_Count=1, GRS_PAID=1500.0
Checking row: Claim_Count=1, GRS_PAID=5281.5
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=3081.58
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=24363.59
Checking row: Claim_Count=1, GRS_PAID=2910.51
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=2, GRS_PAID=15000.0
Checking row: Claim_Count=2, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=310.0
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=1500.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=12000.0
Checking row: Claim_Count=2, GRS_PAID=21000.0
Checking row: Claim_Count=1, GRS_PAID=35000.0
Checking row: Claim_Count=2, GRS_PAID=28000.0
Checking row: Claim_Count=1, GRS_PAID=4482.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=15000.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=24238.62
Checking row: Claim_Count=2, GRS_PAID=0.0
Checking row: Claim_Count=2, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=25000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=3354.84
Checking row: Claim_Count=1, GRS_PAID=12622.87
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=4, GRS_PAID=20449.17
Checking row: Claim_Count=4, GRS_PAID=4305.76
Checking row: Claim_Count=4, GRS_PAID=5318.94
Checking row: Claim_Count=4, GRS_PAID=7068.39
Checking row: Claim_Count=1, GRS_PAID=120341.95
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=7000.0
Checking row: Claim_Count=2, GRS_PAID=28000.0
Checking row: Claim_Count=2, GRS_PAID=14000.0
Checking row: Claim_Count=4, GRS_PAID=3387.96
Checking row: Claim_Count=4, GRS_PAID=0.0
Checking row: Claim_Count=4, GRS_PAID=0.0
Checking row: Claim_Count=4, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=6964.48
Checking row: Claim_Count=1, GRS_PAID=626.07
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=7292.78
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=3, GRS_PAID=10540.0
Checking row: Claim_Count=3, GRS_PAID=3080.0
Checking row: Claim_Count=3, GRS_PAID=5116.59
Checking row: Claim_Count=3, GRS_PAID=40765.29
Checking row: Claim_Count=3, GRS_PAID=2456.51
Checking row: Claim_Count=3, GRS_PAID=29849.58
Checking row: Claim_Count=1, GRS_PAID=5000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=2000.0
Checking row: Claim_Count=1, GRS_PAID=3009.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=6648.01
Checking row: Claim_Count=1, GRS_PAID=24097.31
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=5, GRS_PAID=5354.84
Checking row: Claim_Count=5, GRS_PAID=2701.0
Checking row: Claim_Count=5, GRS_PAID=4093.0
Checking row: Claim_Count=5, GRS_PAID=2784.0
Checking row: Claim_Count=5, GRS_PAID=9257.07
Checking row: Claim_Count=1, GRS_PAID=14000.0
Checking row: Claim_Count=1, GRS_PAID=9000.0
Checking row: Claim_Count=1, GRS_PAID=1365.78
Checking row: Claim_Count=1, GRS_PAID=1000.0
Checking row: Claim_Count=1, GRS_PAID=0.0
Checking row: Claim_Count=1, GRS_PAID=10000.0
Checking row: Claim_Count=1, GRS_PAID=8757.76
Checking row: Claim_Count=1, GRS_PAID=1000.0

In [133]:
import numpy as np

conditions = [
    df_combined["ID_PAID_Risk_Level"] == "ความเสี่ยงมาก",
    df_combined["ID_PAID_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["ID_PAID_Risk_Level"] == "ความเสี่ยงน้อย",
    df_combined["ID_PAID_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["จำนวนเคลมประกันภัยมากกว่า 4 และค่าสินไหมทดแทนมากกว่า 50,000",
           "จำนวนเคลมประกันภัยเท่ากับ 4 และค่าสินไหมทดแทนมากกว่าเท่ากับ 30,000แต่ไม่เกิน 50,000",
           "จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนมากกว่าเท่ากับ 10,000แต่ไม่เกิน 30,000",
           "จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน้อยกว่า 30,000"]

df_combined["Conditions_Claim_Paid"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class                           Plan_  \
0         '000022391    0          GTS                              YE
1         '000022392    0          GTS                              YE
2         '000022393    0          GTS                              YE
3         '000022394    0          GTS                              YE
4         '000022395    0          GTS                              YE
...              ...  ...          ...                             ...
36825  0000254010156   45          PWT  YM
36826  0000254010156   45          PWT  YM
36827  0000254010157   49          GWC  TIS
36828  1103900419504    7          GWT  YU
36829  1103900419504    7          GWT  YU

        Premium   DATESALE      INCDTE ExpireDate     DATREP      DATOCC  ...  \
0      524980.0 1969-12-09  01/01/1970 2024-04-08 2023-05-12  04/22/2023  ...
1      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-07-02  03/23/2024  ...
2      424980.0 1969-12-09  01/01/1970 2025-04-08 2024-04-30  04/23/2024  ...
3      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-13  01/09/2024  ...
4      524980.0 1969-12-09  01/01/1970 2024-04-08 2024-02-02  12/19/2023  ...
...         ...        ...         ...        ...        ...         ...  ...
36825    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36826    8180.0 2023-09-11  09/11/2023 2024-09-10 2024-11-13  08/20/2024  ...
36827    8280.0 2022-08-23  08/01/2022 2023-07-31 2023-07-11  06/30/2023  ...
36828     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...
36829     440.0 2024-04-08  04/13/2024 2024-04-19 2024-04-29  04/16/2024  ...

      Conditions_Claim  INCDTE_DATESALE_Risk_Level  \
0           น้อยกว่า 4             ไม่มีความเสี่ยง
1           น้อยกว่า 4             ไม่มีความเสี่ยง
2           น้อยกว่า 4             ไม่มีความเสี่ยง
3           น้อยกว่า 4             ไม่มีความเสี่ยง
4           น้อยกว่า 4             ไม่มีความเสี่ยง
...                ...                         ...
36825       น้อยกว่า 4               ความเสี่ยงมาก
36826       น้อยกว่า 4               ความเสี่ยงมาก
36827       น้อยกว่า 4               ความเสี่ยงมาก
36828       น้อยกว่า 4               ความเสี่ยงมาก
36829       น้อยกว่า 4               ความเสี่ยงมาก

       Conditions_DATESALE_PolicyStartDate  INCDTE_DATOCC_Risk_Level  \
0                               มากกว่า 15           ไม่มีความเสี่ยง
1                               มากกว่า 15           ไม่มีความเสี่ยง
2                               มากกว่า 15           ไม่มีความเสี่ยง
3                               มากกว่า 15           ไม่มีความเสี่ยง
4                               มากกว่า 15           ไม่มีความเสี่ยง
...                                    ...                       ...
36825                           มากกว่า 10           ไม่มีความเสี่ยง
36826                           มากกว่า 10           ไม่มีความเสี่ยง
36827                           มากกว่า 10           ไม่มีความเสี่ยง
36828                           มากกว่า 10             ความเสี่ยงมาก
36829                           มากกว่า 10             ความเสี่ยงมาก

      Conditions_PolicyStartDate_DateofIncident  GIC_Count         GIC_Risk  \
0                                    มากกว่า 30          0  ไม่มีความเสี่ยง
1                                    มากกว่า 30          0  ไม่มีความเสี่ยง
2                                    มากกว่า 30          0  ไม่มีความเสี่ยง
3                                    มากกว่า 30          0  ไม่มีความเสี่ยง
4                                    มากกว่า 30          0  ไม่มีความเสี่ยง
...                                         ...        ...              ...
36825                                มากกว่า 30          0  ไม่มีความเสี่ยง
36826                                มากกว่า 30          0  ไม่มีความเสี่ยง
36827                                มากกว่า 30          0  ไม่มีความเสี่ยง
36828                                มากกว่า 20          0  ไม่มีความเสี่ยง
36829                                มากกว่า 20          0  ไม่มีความเสี่ยง

       Conditions_Reject  ID_PAID_Risk_Level  \
0             น้อยกว่า 3     ไม่มีความเสี่ยง
1             น้อยกว่า 3     ไม่มีความเสี่ยง
2             น้อยกว่า 3       ความเสี่ยงมาก
3             น้อยกว่า 3     ไม่มีความเสี่ยง
4             น้อยกว่า 3       ความเสี่ยงมาก
...                  ...                 ...
36825         น้อยกว่า 3     ไม่มีความเสี่ยง
36826         น้อยกว่า 3     ไม่มีความเสี่ยง
36827         น้อยกว่า 3     ไม่มีความเสี่ยง
36828         น้อยกว่า 3     ไม่มีความเสี่ยง
36829         น้อยกว่า 3     ไม่มีความเสี่ยง

                                   Conditions_Claim_Paid
0      จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
1      จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
2      จำนวนเคลมประกันภัยมากกว่า 4 และค่าสินไหมทดแทนม...
3      จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
4      จำนวนเคลมประกันภัยมากกว่า 4 และค่าสินไหมทดแทนม...
...                                                  ...
36825  จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36826  จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36827  จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36828  จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36829  จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...

[36830 rows x 40 columns]

In [134]:
print(df_combined[['ID_PAID_Risk_Level']])

      ID_PAID_Risk_Level
0        ไม่มีความเสี่ยง
1        ไม่มีความเสี่ยง
2          ความเสี่ยงมาก
3        ไม่มีความเสี่ยง
4          ความเสี่ยงมาก
...                  ...
36825    ไม่มีความเสี่ยง
36826    ไม่มีความเสี่ยง
36827    ไม่มีความเสี่ยง
36828    ไม่มีความเสี่ยง
36829    ไม่มีความเสี่ยง

[36830 rows x 1 columns]

In [135]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,Conditions_Claim,INCDTE_DATESALE_Risk_Level,Conditions_DATESALE_PolicyStartDate,INCDTE_DATOCC_Risk_Level,Conditions_PolicyStartDate_DateofIncident,GIC_Count,GIC_Risk,Conditions_Reject,ID_PAID_Risk_Level,Conditions_Claim_Paid
0,'000022391,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2023-05-12,04/22/2023,...,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
1,'000022392,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-07-02,03/23/2024,...,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
2,'000022393,0,GTS,YE,424980.0,1969-12-09,01/01/1970,2025-04-08,2024-04-30,04/23/2024,...,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ความเสี่ยงมาก,จำนวนเคลมประกันภัยมากกว่า 4 และค่าสินไหมทดแทนม...
3,'000022394,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-13,01/09/2024,...,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
4,'000022395,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-02,12/19/2023,...,น้อยกว่า 4,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ความเสี่ยงมาก,จำนวนเคลมประกันภัยมากกว่า 4 และค่าสินไหมทดแทนม...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,08/01/2022,2023-07-31,2023-07-11,06/30/2023,...,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,น้อยกว่า 4,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...

In [136]:
import pandas as pd

# ฟังก์ชันกำหนดระดับความเสี่ยงจากจำนวน 'ความเสี่ยงสูง'
def risk_level_from_count(high_risk_count, has_lower_risk):
    if high_risk_count >= 2:
        return 'ความเสี่ยงมาก'
    elif high_risk_count == 1:
        return 'ความเสี่ยงปานกลาง'
    elif has_lower_risk:
        return 'ความเสี่ยงน้อย'
    else:
        return 'ไม่มีความเสี่ยง'

# ฟังก์ชันในการคำนวณระดับความเสี่ยงของแต่ละแถว
def determine_risk_level(row):
    # นับจำนวน 'ความเสี่ยงสูง'
    high_risk_count = (row == 'ความเสี่ยงมาก').sum()
    # ตรวจสอบว่ามี 'ความเสี่ยงปานกลาง' หรือ 'ความเสี่ยงน้อย' อยู่หรือไม่
    has_lower_risk = ((row == 'ความเสี่ยงปานกลาง') | (row == 'ความเสี่ยงน้อย')).any()

    # กำหนดระดับความเสี่ยง
    return risk_level_from_count(high_risk_count, has_lower_risk)

# ใช้ apply() ในการประมวลผลแต่ละแถว (ไม่รวม 'Dummy ID')
df_combined['Risk_Level'] = df_combined.drop(columns=['ID_Card']).apply(determine_risk_level, axis=1)

# แสดงผลลัพธ์
print(df_combined[['ID_Card', 'Risk_Level']])

             ID_Card         Risk_Level
0         '000022391     ความเสี่ยงน้อย
1         '000022392     ความเสี่ยงน้อย
2         '000022393  ความเสี่ยงปานกลาง
3         '000022394     ความเสี่ยงน้อย
4         '000022395  ความเสี่ยงปานกลาง
...              ...                ...
36825  0000254010156  ความเสี่ยงปานกลาง
36826  0000254010156  ความเสี่ยงปานกลาง
36827  0000254010157  ความเสี่ยงปานกลาง
36828  1103900419504      ความเสี่ยงมาก
36829  1103900419504      ความเสี่ยงมาก

[36830 rows x 2 columns]

In [137]:
df_combined

,ID_Card,AGE,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,...,INCDTE_DATESALE_Risk_Level,Conditions_DATESALE_PolicyStartDate,INCDTE_DATOCC_Risk_Level,Conditions_PolicyStartDate_DateofIncident,GIC_Count,GIC_Risk,Conditions_Reject,ID_PAID_Risk_Level,Conditions_Claim_Paid,Risk_Level
0,'000022391,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2023-05-12,04/22/2023,...,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงน้อย
1,'000022392,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-07-02,03/23/2024,...,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงน้อย
2,'000022393,0,GTS,YE,424980.0,1969-12-09,01/01/1970,2025-04-08,2024-04-30,04/23/2024,...,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ความเสี่ยงมาก,จำนวนเคลมประกันภัยมากกว่า 4 และค่าสินไหมทดแทนม...,ความเสี่ยงปานกลาง
3,'000022394,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-13,01/09/2024,...,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงน้อย
4,'000022395,0,GTS,YE,524980.0,1969-12-09,01/01/1970,2024-04-08,2024-02-02,12/19/2023,...,ไม่มีความเสี่ยง,มากกว่า 15,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ความเสี่ยงมาก,จำนวนเคลมประกันภัยมากกว่า 4 และค่าสินไหมทดแทนม...,ความเสี่ยงปานกลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงปานกลาง
36826,0000254010156,45,PWT,YM,8180.0,2023-09-11,09/11/2023,2024-09-10,2024-11-13,08/20/2024,...,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงปานกลาง
36827,0000254010157,49,GWC,TIS,8280.0,2022-08-23,08/01/2022,2023-07-31,2023-07-11,06/30/2023,...,ความเสี่ยงมาก,มากกว่า 10,ไม่มีความเสี่ยง,มากกว่า 30,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงปานกลาง
36828,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงมาก
36829,1103900419504,7,GWT,YU,440.0,2024-04-08,04/13/2024,2024-04-19,2024-04-29,04/16/2024,...,ความเสี่ยงมาก,มากกว่า 10,ความเสี่ยงมาก,มากกว่า 20,0,ไม่มีความเสี่ยง,น้อยกว่า 3,ไม่มีความเสี่ยง,จำนวนเคลมประกันภัยมากกว่า 5 และค่าสินไหมทดแทนน...,ความเสี่ยงมาก

In [138]:
# บันทึก DataFrame เป็นไฟล์ Excel
df_combined.to_excel('df_combined_with_datesale.xlsx', index=False)

# แจ้งว่าไฟล์ถูกบันทึกแล้ว
print("ไฟล์ Excel ถูกบันทึกแล้วที่ 'df_combined_with_datesale.xlsx'")

ไฟล์ Excel ถูกบันทึกแล้วที่ 'df_combined_with_datesale.xlsx'

⏰

ไฟล์ใหญ่ไป

In [154]:
# แสดงชื่อคอลัมน์
print(df_combined.columns)

Index(['ID_Card', 'อายุ', 'แผนประกันภัย', 'แผนความคุ้มครอง', 'เบี้ยประกันภัย',
       'วันที่ขายประกันภัย', 'วันที่เริ่มคุ้มครอง', 'วันที่สิ้นสุดประกันภัย',
       'วันที่แจ้งเหตุ', 'วันที่เกิดเหตุ', 'สาเหตุการเคลมประกันภัย',
       'ค่าสินไหมที่ค้างจ่าย', 'ค่าสินไหมที่จ่าย', 'ค่าสินไหมที่เกิดขึ้นรวม',
       'Remark', 'date_difference', 'กลุ่มสาเหตุการเคลมประกันภัย',
       'ReseveDescription_Count', 'Claim_Count',
       'ReseveDescription_Risk_Level', 'Conditions_ReseveDescription',
       'DATESALE_DATOCC_difference', 'INCDTE_ExpireDate_difference',
       'INCDTE_DATESALE_difference', 'INCDTE_DATOCC_difference',
       'Premium_INCDTE_ExpireDate_difference_Risk_Level',
       'Conditions_Premium_NumberofCoveredDays', 'DATESALE_DATOCC_Risk_Level',
       'Conditions_DATESALE_DateofIncident', 'Claim_Count_Risk_Level',
       'Conditions_Claim', 'INCDTE_DATESALE_Risk_Level',
       'Conditions_DATESALE_PolicyStartDate', 'INCDTE_DATOCC_Risk_Level',
       'Conditions_PolicyStartDate_DateofIncident', 'GIC_Count', 'GIC_Risk',
       'Conditions_Reject', 'ID_PAID_Risk_Level', 'Conditions_Claim_Paid',
       'Risk_Level', 'ช่วงของเบี้ยประกันภัย', 'ช่วงของค่าสินไหมที่จ่าย',
       'Month', 'Year'],
      dtype='object')

In [140]:
df_combined.rename(columns={"Dummy ID": "เลขบัตรประจำตัวประชาชน", "AGE": "อายุ", "Policy_Class": "แผนประกันภัย", "INCDTE": "วันที่เริ่มคุ้มครอง", "ExpireDate": "วันที่สิ้นสุดประกันภัย",
                            "Plan_": "แผนความคุ้มครอง", "Premium": "เบี้ยประกันภัย", "DATESALE": "วันที่ขายประกันภัย",
                             "DATREP": "วันที่แจ้งเหตุ", "DATOCC": "วันที่เกิดเหตุ", "DATESALE": "วันที่ขายประกันภัย",
                             "ReseveDescription": "สาเหตุการเคลมประกันภัย", "GRS_OS": "ค่าสินไหมที่ค้างจ่าย", "GRS_PAID": "ค่าสินไหมที่จ่าย",
                             "GIC": "ค่าสินไหมที่เกิดขึ้นรวม", "ReseveDescriptionType": "กลุ่มสาเหตุการเคลมประกันภัย",
                            }, inplace=True)

In [141]:
print(df_combined.columns)

Index(['ID_Card', 'อายุ', 'แผนประกันภัย', 'แผนความคุ้มครอง', 'เบี้ยประกันภัย',
       'วันที่ขายประกันภัย', 'วันที่เริ่มคุ้มครอง', 'วันที่สิ้นสุดประกันภัย',
       'วันที่แจ้งเหตุ', 'วันที่เกิดเหตุ', 'สาเหตุการเคลมประกันภัย',
       'ค่าสินไหมที่ค้างจ่าย', 'ค่าสินไหมที่จ่าย', 'ค่าสินไหมที่เกิดขึ้นรวม',
       'Remark', 'date_difference', 'กลุ่มสาเหตุการเคลมประกันภัย',
       'ReseveDescription_Count', 'Claim_Count',
       'ReseveDescription_Risk_Level', 'Conditions_ReseveDescription',
       'DATESALE_DATOCC_difference', 'INCDTE_ExpireDate_difference',
       'INCDTE_DATESALE_difference', 'INCDTE_DATOCC_difference',
       'Premium_INCDTE_ExpireDate_difference_Risk_Level',
       'Conditions_Premium_NumberofCoveredDays', 'DATESALE_DATOCC_Risk_Level',
       'Conditions_DATESALE_DateofIncident', 'Claim_Count_Risk_Level',
       'Conditions_Claim', 'INCDTE_DATESALE_Risk_Level',
       'Conditions_DATESALE_PolicyStartDate', 'INCDTE_DATOCC_Risk_Level',
       'Conditions_PolicyStartDate_DateofIncident', 'GIC_Count', 'GIC_Risk',
       'Conditions_Reject', 'ID_PAID_Risk_Level', 'Conditions_Claim_Paid',
       'Risk_Level'],
      dtype='object')

⏰

In [142]:
print(len(df))  # นับจำนวนแถวทั้งหมด

38317

In [143]:
bins = [0, 500000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000, 4500000,5000000]
labels = [
    "0-500K", "500K-1M", "1M-1.5M", "1.5M-2M", "2M-2.5M",
    "2.5M-3M", "3M-3.5M", "3.5M-4M", "4M-4.5M", "4.5M-5M"
]


# จัดกลุ่มข้อมูล
df_combined["ช่วงของเบี้ยประกันภัย"] = pd.cut(df_combined["เบี้ยประกันภัย"], bins=bins, labels=labels, right=False)

# คำนวณความถี่
frequency = df_combined["ช่วงของเบี้ยประกันภัย"].value_counts().sort_index()

# คำนวณร้อยละ (percentage)
percentage = df_combined["ช่วงของเบี้ยประกันภัย"].value_counts(normalize=True).sort_index() * 100

# รวมเป็น DataFrame เดียวกัน
result = pd.DataFrame({"Frequency": frequency, "Percentage (%)": percentage})

# แสดงผลลัพธ์
print(result)

                       Frequency  Percentage (%)
ช่วงของเบี้ยประกันภัย
0-500K                     36620       99.429813
500K-1M                       85        0.230790
1M-1.5M                        3        0.008146
1.5M-2M                       34        0.092316
2M-2.5M                       51        0.138474
2.5M-3M                        0        0.000000
3M-3.5M                        0        0.000000
3.5M-4M                        0        0.000000
4M-4.5M                       37        0.100462
4.5M-5M                        0        0.000000

In [144]:
max_value = df_combined["ค่าสินไหมที่จ่าย"].max()
print(max_value)

5000000.0

In [145]:
bins = [0, 500000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000, 4500000,5000000,5500000]
labels = [
    "0-500K", "500K-1M", "1M-1.5M", "1.5M-2M", "2M-2.5M",
    "2.5M-3M", "3M-3.5M", "3.5M-4M", "4M-4.5M", "4.5M-5M","5M-5.5M"
]


# จัดกลุ่มข้อมูล
df_combined["ช่วงของค่าสินไหมที่จ่าย"] = pd.cut(df_combined["ค่าสินไหมที่จ่าย"], bins=bins, labels=labels, right=False)

# คำนวณความถี่
frequency = df_combined["ช่วงของค่าสินไหมที่จ่าย"].value_counts().sort_index()

# คำนวณร้อยละ (percentage)
percentage = df_combined["ช่วงของค่าสินไหมที่จ่าย"].value_counts(normalize=True).sort_index() * 100

# รวมเป็น DataFrame เดียวกัน
result = pd.DataFrame({"Frequency1": frequency, "Percentage (%)1": percentage})

# แสดงผลลัพธ์
print(result)

                         Frequency1  Percentage (%)1
ช่วงของค่าสินไหมที่จ่าย
0-500K                        36770        99.837089
500K-1M                          30         0.081455
1M-1.5M                          15         0.040728
1.5M-2M                           6         0.016291
2M-2.5M                           8         0.021721
2.5M-3M                           0         0.000000
3M-3.5M                           0         0.000000
3.5M-4M                           0         0.000000
4M-4.5M                           0         0.000000
4.5M-5M                           0         0.000000
5M-5.5M                           1         0.002715

In [146]:
out_of_range = df_combined[
    (df_combined["ค่าสินไหมที่จ่าย"] < bins[0]) | (df_combined["ค่าสินไหมที่จ่าย"] > bins[-1])
]
print(out_of_range)

Empty DataFrame
Columns: [ID_Card, อายุ, แผนประกันภัย, แผนความคุ้มครอง, เบี้ยประกันภัย, วันที่ขายประกันภัย, วันที่เริ่มคุ้มครอง, วันที่สิ้นสุดประกันภัย, วันที่แจ้งเหตุ, วันที่เกิดเหตุ, สาเหตุการเคลมประกันภัย, ค่าสินไหมที่ค้างจ่าย, ค่าสินไหมที่จ่าย, ค่าสินไหมที่เกิดขึ้นรวม, Remark, date_difference, กลุ่มสาเหตุการเคลมประกันภัย, ReseveDescription_Count, Claim_Count, ReseveDescription_Risk_Level, Conditions_ReseveDescription, DATESALE_DATOCC_difference, INCDTE_ExpireDate_difference, INCDTE_DATESALE_difference, INCDTE_DATOCC_difference, Premium_INCDTE_ExpireDate_difference_Risk_Level, Conditions_Premium_NumberofCoveredDays, DATESALE_DATOCC_Risk_Level, Conditions_DATESALE_DateofIncident, Claim_Count_Risk_Level, Conditions_Claim, INCDTE_DATESALE_Risk_Level, Conditions_DATESALE_PolicyStartDate, INCDTE_DATOCC_Risk_Level, Conditions_PolicyStartDate_DateofIncident, GIC_Count, GIC_Risk, Conditions_Reject, ID_PAID_Risk_Level, Conditions_Claim_Paid, Risk_Level, ช่วงของเบี้ยประกันภัย, ช่วงของค่าสินไหมที่จ่าย]
Index: []

[0 rows x 43 columns]

In [147]:
print(df_combined["ช่วงของค่าสินไหมที่จ่าย"].isna().sum())

0

In [148]:
total_rows = len(df_combined)  # จำนวนแถวทั้งหมดใน DataFrame
total_frequency = result["Frequency1"].sum()  # ผลรวมของ Frequency ที่จัดกลุ่มแล้ว

print(f"Total Rows in df_combined: {total_rows}")
print(f"Total Frequency from Binning: {total_frequency}")

if total_rows == total_frequency:
    print("✅ ค่าทั้งหมดถูกจัดกลุ่มครบถ้วน")
else:
    print("⚠️ มีบางค่าที่ไม่ถูกจัดกลุ่ม")

Total Rows in df_combined: 36830
Total Frequency from Binning: 36830
✅ ค่าทั้งหมดถูกจัดกลุ่มครบถ้วน

In [149]:
# แปลงคอลัมน์วันที่ให้เป็น DateTime ถ้ายังไม่ได้แปลง
df_combined["วันที่ขายประกันภัย"] = pd.to_datetime(df_combined["วันที่ขายประกันภัย"])

# แยกเดือนออกมา
df_combined["Month"] = df_combined["วันที่ขายประกันภัย"].dt.month

# คำนวณความถี่
monthly_frequency = df_combined["Month"].value_counts().sort_index()

# คำนวณร้อยละ
monthly_percentage = df_combined["Month"].value_counts(normalize=True).sort_index() * 100

# รวมความถี่และร้อยละ
monthly_result = pd.DataFrame({
    "Frequency": monthly_frequency,
    "Percentage (%)": monthly_percentage
})

# แสดงผลลัพธ์
print(monthly_result)

       Frequency  Percentage (%)
Month
1           2695        7.317404
2           3290        8.932935
3           3892       10.567472
4           4134       11.224545
5           2609        7.083899
6           2366        6.424111
7           2402        6.521857
8           2654        7.206082
9           2669        7.246810
10          3607        9.793646
11          2933        7.963617
12          3579        9.717622

In [150]:
# แปลงคอลัมน์วันที่ให้เป็น DateTime ถ้ายังไม่ได้แปลง
df_combined["วันที่แจ้งเหตุ"] = pd.to_datetime(df_combined["วันที่แจ้งเหตุ"])

# แยกเดือนออกมา
df_combined["Month"] = df_combined["วันที่แจ้งเหตุ"].dt.month

# คำนวณความถี่
monthly_frequency = df_combined["Month"].value_counts().sort_index()

# คำนวณร้อยละ
monthly_percentage = df_combined["Month"].value_counts(normalize=True).sort_index() * 100

# รวมความถี่และร้อยละ
monthly_result = pd.DataFrame({
    "Frequency": monthly_frequency,
    "Percentage (%)": monthly_percentage
})

# แสดงผลลัพธ์
print(monthly_result)

       Frequency  Percentage (%)
Month
1           2924        7.939180
2           2113        5.737171
3           2691        7.306544
4           2707        7.349986
5           4355       11.824600
6           4166       11.311431
7           2997        8.137388
8           2932        7.960901
9           2233        6.062992
10          2741        7.442302
11          3783       10.271518
12          3188        8.655987

In [151]:
# แปลงคอลัมน์วันที่ให้เป็น DateTime ถ้ายังไม่ได้แปลง
df_combined["วันที่ขายประกันภัย"] = pd.to_datetime(df_combined["วันที่ขายประกันภัย"])

# แยกปีออกมา
df_combined["Year"] = df_combined["วันที่ขายประกันภัย"].dt.year

# คำนวณความถี่
yearly_frequency = df_combined["Year"].value_counts().sort_index()

# คำนวณร้อยละ
yearly_percentage = df_combined["Year"].value_counts(normalize=True).sort_index() * 100

# รวมความถี่และร้อยละ
yearly_result = pd.DataFrame({
    "Frequency": yearly_frequency,
    "Percentage (%)": yearly_percentage
})

# แสดงผลลัพธ์
print(yearly_result)

      Frequency  Percentage (%)
Year
1969        576        1.563942
2019          3        0.008146
2020          1        0.002715
2021         63        0.171056
2022       2620        7.113766
2023      16342       44.371436
2024      17225       46.768938

In [152]:
# แปลงคอลัมน์วันที่ให้เป็น DateTime ถ้ายังไม่ได้แปลง
df_combined["วันที่แจ้งเหตุ"] = pd.to_datetime(df_combined["วันที่แจ้งเหตุ"])

# แยกปีออกมา
df_combined["Year"] = df_combined["วันที่แจ้งเหตุ"].dt.year

# คำนวณความถี่
yearly_frequency = df_combined["Year"].value_counts().sort_index()

# คำนวณร้อยละ
yearly_percentage = df_combined["Year"].value_counts(normalize=True).sort_index() * 100

# รวมความถี่และร้อยละ
yearly_result = pd.DataFrame({
    "Frequency": yearly_frequency,
    "Percentage (%)": yearly_percentage
})

# แสดงผลลัพธ์
print(yearly_result)

      Frequency  Percentage (%)
Year
2023      13625       36.994298
2024      23205       63.005702

In [153]:
# แสดงชื่อคอลัมน์
print(df_combined.columns)

Index(['ID_Card', 'อายุ', 'แผนประกันภัย', 'แผนความคุ้มครอง', 'เบี้ยประกันภัย',
       'วันที่ขายประกันภัย', 'วันที่เริ่มคุ้มครอง', 'วันที่สิ้นสุดประกันภัย',
       'วันที่แจ้งเหตุ', 'วันที่เกิดเหตุ', 'สาเหตุการเคลมประกันภัย',
       'ค่าสินไหมที่ค้างจ่าย', 'ค่าสินไหมที่จ่าย', 'ค่าสินไหมที่เกิดขึ้นรวม',
       'Remark', 'date_difference', 'กลุ่มสาเหตุการเคลมประกันภัย',
       'ReseveDescription_Count', 'Claim_Count',
       'ReseveDescription_Risk_Level', 'Conditions_ReseveDescription',
       'DATESALE_DATOCC_difference', 'INCDTE_ExpireDate_difference',
       'INCDTE_DATESALE_difference', 'INCDTE_DATOCC_difference',
       'Premium_INCDTE_ExpireDate_difference_Risk_Level',
       'Conditions_Premium_NumberofCoveredDays', 'DATESALE_DATOCC_Risk_Level',
       'Conditions_DATESALE_DateofIncident', 'Claim_Count_Risk_Level',
       'Conditions_Claim', 'INCDTE_DATESALE_Risk_Level',
       'Conditions_DATESALE_PolicyStartDate', 'INCDTE_DATOCC_Risk_Level',
       'Conditions_PolicyStartDate_DateofIncident', 'GIC_Count', 'GIC_Risk',
       'Conditions_Reject', 'ID_PAID_Risk_Level', 'Conditions_Claim_Paid',
       'Risk_Level', 'ช่วงของเบี้ยประกันภัย', 'ช่วงของค่าสินไหมที่จ่าย',
       'Month', 'Year'],
      dtype='object')