<a href="https://colab.research.google.com/github/Suchada2000/MY-WORK/blob/main/Untitled29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#นำข้อมูลเข้าและเปลี่ยนให้เป็นตัวเลข
import pandas as pd

# อ่านไฟล์ Excel
df = pd.read_excel('/content/sample_data/ข้อมูลตัวอย่าง.xlsx', engine='openpyxl')

# ดูข้อมูลในไฟล์ Excel
print(df.head())  # แสดงข้อมูล 5 แถวแรกเพื่อดูตัวอย่าง

# สมมติว่ามีคอลัมน์ 'Response' ที่ต้องการแปลงจาก 'Yes'/'No' เป็น 1/0
df['อาชีพ'] = df['อาชีพ'].replace({'แพทย์': 0, 'พนักงานบริษัท': 1, 'เจ้าของธุรกิจ': 2, 'รับจ้าง': 3})
df['ประเภทกรมธรรมม์'] = df['ประเภทกรมธรรมม์'].replace({'Single Trip Travel Easy Plus WWE US&Canada':1, 'Single Trip Asia':2 ,'Single_Trip_Travel_Easy_Plus_WWi_US&Canada':3, 'Annual-Trip':4,'Single Trip Asia':5,'Single-Trip-Only':5})
df['แผนประกันภัย']=df['แผนประกันภัย'].replace({'Easy ViSA Plus':1, 'Easy 1':2 ,'Easy 2':3,'Easy 3':4, 'Easy VISA':5})
df['ประเภทของการเคลม']=df['ประเภทของการเคลม'].replace({'ค่ารักษาพยาบาลจากการบาดเจ็บหรือเจ็บป่วย':1, 'การล่าช้าของเที่ยวบิน':2 ,'ความสูญเสียหรือความเสียหายของกระเป๋าเดินทาง':3})
df['ฉ้อฉล/ไม่ฉ้อฉล']=df['ฉ้อฉล/ไม่ฉ้อฉล'].replace({'ฉ้อฉล':1, 'ไม่ฉ้อฉล':2})
df

   เลขบัตรประชาชน 13 หลัก  อายุ  เพศ          อาชีพ  \
0                       1    66    2          แพทย์
1                       2    55    2  พนักงานบริษัท
2                       3    71    1  พนักงานบริษัท
3                       4    49    2  พนักงานบริษัท
4                       5    19    1  พนักงานบริษัท

                              ประเภทกรมธรรมม์    แผนประกันภัย  \
0                                 Annual-Trip  Easy ViSA Plus
1  Single Trip Travel Easy Plus WWE US&Canada          Easy 2
2                            Single Trip Asia          Easy 1
3                            Single Trip Asia       Easy VISA
4  Single Trip Travel Easy Plus WWE US&Canada          Easy 1

   ค่าเบี้ยประกันภัย วันที่ซื้อกรมณรรม์ วันที่เริ่มคุ้มครอง วันที่สิ้นสุด  \
0             5950.0         17/03/2024          19/03/2024    27/03/2025
1            23888.0         19/01/2023          22/01/2023    26/01/2023
2            23888.0         17/07/2024          19/07/2024    02/08/2024
3             9485.0         16/05/2023          18/05/2023    26/05/2023
4            23888.0         27/11/2023          29/11/2023    11/12/2023

  วันที่แจ้งเคลม วันที่เกิดเหตุ                             ประเภทของการเคลม  \
0     21/09/2024     20/09/2024      ค่ารักษาพยาบาลจากการบาดเจ็บหรือเจ็บป่วย
1     24/01/2023     22/01/2023      ค่ารักษาพยาบาลจากการบาดเจ็บหรือเจ็บป่วย
2     26/07/2024     25/07/2024                        การล่าช้าของเที่ยวบิน
3     22/05/2023     22/05/2023      ค่ารักษาพยาบาลจากการบาดเจ็บหรือเจ็บป่วย
4     05/12/2023     04/12/2023  ความสูญเสียหรือความเสียหายของกระเป๋าเดินทาง

   จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS)  \
0                                      100000
1                                      100000
2                                       15000
3                                      100000
4                                       30000

   จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred)  \
0                                             25000
1                                             90000
2                                              5000
3                                             90000
4                                             20000

   จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid) ฉ้อฉล/ไม่ฉ้อฉล
0                                           75000       ไม่ฉ้อฉล
1                                           10000          ฉ้อฉล
2                                           10000       ไม่ฉ้อฉล
3                                           10000       ไม่ฉ้อฉล
4                                           10000       ไม่ฉ้อฉล

<ipython-input-2-0fe334e625dc>:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['อาชีพ'] = df['อาชีพ'].replace({'แพทย์': 0, 'พนักงานบริษัท': 1, 'เจ้าของธุรกิจ': 2, 'รับจ้าง': 3})
<ipython-input-2-0fe334e625dc>:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['ประเภทกรมธรรมม์'] = df['ประเภทกรมธรรมม์'].replace({'Single Trip Travel Easy Plus WWE US&Canada':1, 'Single Trip Asia':2 ,'Single_Trip_Travel_Easy_Plus_WWi_US&Canada':3, 'Annual-Trip':4,'Single Trip Asia':5,'Single-Trip-Only':5})
<ipython-input-2-0fe334e625dc>:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['แผนประกันภัย']=df['แผนประกันภัย'].replace({'Easy ViSA Plus':1, 'Easy 1':2 ,'Easy 2':3,'Easy 3':4, 'Easy VISA':5})
<ipython-input-2-0fe334e625dc>:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['ประเภทของการเคลม']=df['ประเภทของการเคลม'].replace({'ค่ารักษาพยาบาลจากการบาดเจ็บหรือเจ็บป่วย':1, 'การล่าช้าของเที่ยวบิน':2 ,'ความสูญเสียหรือความเสียหายของกระเป๋าเดินทาง':3})
<ipython-input-2-0fe334e625dc>:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['ฉ้อฉล/ไม่ฉ้อฉล']=df['ฉ้อฉล/ไม่ฉ้อฉล'].replace({'ฉ้อฉล':1, 'ไม่ฉ้อฉล':2})

,เลขบัตรประชาชน 13 หลัก,อายุ,เพศ,อาชีพ,ประเภทกรมธรรมม์,แผนประกันภัย,ค่าเบี้ยประกันภัย,วันที่ซื้อกรมณรรม์,วันที่เริ่มคุ้มครอง,วันที่สิ้นสุด,วันที่แจ้งเคลม,วันที่เกิดเหตุ,ประเภทของการเคลม,จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS),จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred),จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid),ฉ้อฉล/ไม่ฉ้อฉล
0,1,66,2,0,4,1,5950.0,17/03/2024,19/03/2024,27/03/2025,21/09/2024,20/09/2024,1,100000,25000,75000,2
1,2,55,2,1,1,3,23888.0,19/01/2023,22/01/2023,26/01/2023,24/01/2023,22/01/2023,1,100000,90000,10000,1
2,3,71,1,1,5,2,23888.0,17/07/2024,19/07/2024,02/08/2024,26/07/2024,25/07/2024,2,15000,5000,10000,2
3,4,49,2,1,5,5,9485.0,16/05/2023,18/05/2023,26/05/2023,22/05/2023,22/05/2023,1,100000,90000,10000,2
4,5,19,1,1,1,2,23888.0,27/11/2023,29/11/2023,11/12/2023,05/12/2023,04/12/2023,3,30000,20000,10000,2
5,6,35,1,1,5,3,11678.0,25/06/2023,30/06/2023,04/07/2023,02/07/2023,01/07/2023,2,35000,10000,25000,2
6,7,58,2,2,3,2,4775.0,23/12/2023,27/12/2023,02/01/2024,30/12/2023,30/12/2023,2,35000,10000,25000,2
7,8,42,2,2,1,3,8425.0,06/10/2023,09/10/2023,16/10/2023,12/10/2023,12/10/2023,2,15000,5000,10000,2
8,9,27,1,3,5,5,18390.0,18/10/2024,23/10/2024,29/10/2024,26/10/2024,24/10/2024,3,10000,5000,5000,2
9,10,18,2,2,4,2,23888.0,16/02/2024,18/02/2024,25/02/2025,22/08/2024,20/08/2024,3,10000,5000,5000,2
10,11,41,1,3,1,1,22239.0,25/04/2024,29/04/2024,2024-04-05 00:00:00,01/05/2024,30/04/2024,2,15000,5000,10000,2
11,12,49,1,2,4,2,23888.0,03/02/2023,06/02/2023,14/2/2024,11/08/2023,11/08/2023,2,15000,5000,10000,2
12,13,43,1,2,5,1,6291.0,24/02/2023,27/02/2023,2023-05-03 00:00:00,2023-02-03 00:00:00,28/02/2023,1,100000,25000,75000,2
13,14,40,1,3,4,3,9485.0,13/10/2024,17/10/2024,17/10/2025,17/04/2025,15/04/2025,2,35000,10000,25000,2
14,15,26,1,0,5,5,6291.0,05/02/2024,10/02/2024,15/2/2024,12/02/2024,11/02/2024,1,100000,25000,75000,2
15,16,74,2,2,5,3,14278.0,22/09/2024,26/09/2024,29/09/2024,27/09/2024,26/09/2024,1,100000,25000,75000,2
16,17,39,1,1,4,1,23888.0,17/05/2024,20/05/2024,20/05/2025,18/11/2024,18/11/2024,2,25000,10000,15000,2
17,18,31,2,3,3,1,7050.0,26/04/2024,30/04/2024,2024-02-05 00:00:00,01/05/2024,29/04/2024,2,35000,10000,25000,2
18,19,64,1,0,5,2,21790.0,21/08/2023,26/08/2023,30/08/2023,28/08/2023,27/08/2023,3,30000,25000,5000,2
19,20,25,1,2,4,1,11678.0,15/03/2024,18/03/2024,18/03/2025,16/09/2024,15/09/2024,2,25000,10000,15000,2
20,21,17,2,0,5,3,NaN,14/09/2023,18/09/2023,24/09/2023,21/09/2023,19/09/2023,3,30000,25000,5000,2
21,22,64,1,2,3,2,17002.0,15/06/2024,19/06/2024,29/06/2024,24/06/2024,24/06/2024,3,20000,10000,10000,2
22,23,75,1,2,4,5,4775.0,28/07/2024,02/08/2024,2025-02-08 00:00:00,31/01/2025,29/01/2025,1,75000,5000,70000,2
23,24,16,1,2,5,4,11470.0,09/06/2023,13/06/2023,17/6/2023,15/06/2023,13/06/2023,2,15000,5000,10000,2
24,25,28,1,0,4,5,8425.0,09/02/2024,12/02/2024,2025-12-02 00:00:00,13/08/2024,12/08/2024,3,20000,15000,5000,2
25,26,34,2,2,5,2,17002.0,19/05/2023,24/05/2023,30/05/2023,27/05/2023,27/05/2023,3,10000,5000,5000,2
26,27,40,2,1,5,1,11470.0,05/12/2024,09/12/2024,24/12/2024,16/12/2024,14/12/2024,2,15000,5000,10000,2
27,28,32,2,1,4,4,18390.0,17/12/2024,22/12/2024,22/12/2025,22/06/2025,22/06/2025,1,100000,90000,10000,1
28,29,74,2,0,5,4,7050.0,12/08/2024,17/08/2024,31/08/2024,24/08/2024,24/08/2024,1,75000,25000,50000,2
29,30,28,1,3,1,1,20394.0,21/10/2024,23/10/2024,06/11/2024,30/10/2024,29/10/2024,1,100000,90000,10000,2
30,31,22,1,3,5,3,22034.0,03/09/2024,06/09/2024,08/09/2024,07/09/2024,05/09/2024,1,100000,25000,75000,2
31,32,53,1,1,5,3,7037.0,02/01/2024,07/01/2024,17/01/2024,12/01/2024,12/01/2024,3,10000,5000,5000,2
32,33,32,2,0,3,3,9374.0,25/07/2024,30/07/2024,04/08/2024,01/08/2024,31/07/2024,3,20000,10000,10000,2
33,34,12,1,0,1,2,14278.0,23/03/2024,28/03/2024,01/04/2024,30/03/2024,28/03/2024,1,100000,90000,10000,2
34,35,31,1,0,5,1,7483.0,26/08/2024,28/08/2024,11/09/2024,04/09/2024,03/09/2024,3,30000,10000,20000,2
35,36,64,2,3,1,1,7512.0,26/09/2023,01/10/2023,05/10/2023,03/10/2023,01/10/2023,2,35000,10000,25000,2
36,37,29,2,3,5,1,17002.0,09/07/2023,14/07/2023,17/07/2023,15/07/2023,15/07/2023,1,75000,25000,50000,2
37,38,52,1,2,4,5,6740.0,24/06/2023,26/06/2023,30/06/2024,28/12/2023,27/12/2023,3,20000,10000,10000,2
38,39,26,1,0,5,1,11470.0,16/05/2023,19/05/2023,30/05/2023,24/05/2023,24/05/2023,2,15000,5000,10000,2
39,40,34,1,2,5,5,17002.0,24/10/2024,27/10/2024,30/10/2024,28/10/2024,27/10/2024,1,75000,25000,50000,1
40,2,55,2,1,1,3,23888.0,19/01/2023,22/01/2023,26/01/2023,24/01/2023,22/01/2023,1,100000,90000,10000,2
41,28,32,2,1,4,4,18390.0,17/12/2024,22/12/2024,22/12/2025,22/06/2025,22/06/2025,1,100000,90000,10000,2
42,28,32,2,1,4,4,18390.0,17/12/2024,22/12/2024,22/12/2025,22/06/2025,22/06/2025,1,100000,90000,10000,2

# clean+นำเข้า+แบ่ง

In [3]:
#เติมค่าในช่องว่าง
from sklearn.impute import SimpleImputer

# สร้าง SimpleImputer
imputer = SimpleImputer(strategy='mean')  # ใช้การเติมค่าเฉลี่ย

df['ค่าเบี้ยประกันภัย'] = imputer.fit_transform(df[['ค่าเบี้ยประกันภัย']])

print(df)

    เลขบัตรประชาชน 13 หลัก  อายุ  เพศ  อาชีพ  ประเภทกรมธรรมม์  แผนประกันภัย  \
0                        1    66    2      0                4             1
1                        2    55    2      1                1             3
2                        3    71    1      1                5             2
3                        4    49    2      1                5             5
4                        5    19    1      1                1             2
5                        6    35    1      1                5             3
6                        7    58    2      2                3             2
7                        8    42    2      2                1             3
8                        9    27    1      3                5             5
9                       10    18    2      2                4             2
10                      11    41    1      3                1             1
11                      12    49    1      2                4             2
12                      13    43    1      2                5             1
13                      14    40    1      3                4             3
14                      15    26    1      0                5             5
15                      16    74    2      2                5             3
16                      17    39    1      1                4             1
17                      18    31    2      3                3             1
18                      19    64    1      0                5             2
19                      20    25    1      2                4             1
20                      21    17    2      0                5             3
21                      22    64    1      2                3             2
22                      23    75    1      2                4             5
23                      24    16    1      2                5             4
24                      25    28    1      0                4             5
25                      26    34    2      2                5             2
26                      27    40    2      1                5             1
27                      28    32    2      1                4             4
28                      29    74    2      0                5             4
29                      30    28    1      3                1             1
30                      31    22    1      3                5             3
31                      32    53    1      1                5             3
32                      33    32    2      0                3             3
33                      34    12    1      0                1             2
34                      35    31    1      0                5             1
35                      36    64    2      3                1             1
36                      37    29    2      3                5             1
37                      38    52    1      2                4             5
38                      39    26    1      0                5             1
39                      40    34    1      2                5             5
40                       2    55    2      1                1             3
41                      28    32    2      1                4             4
42                      28    32    2      1                4             4

    ค่าเบี้ยประกันภัย วันที่ซื้อกรมณรรม์ วันที่เริ่มคุ้มครอง  \
0         5950.000000         17/03/2024          19/03/2024
1        23888.000000         19/01/2023          22/01/2023
2        23888.000000         17/07/2024          19/07/2024
3         9485.000000         16/05/2023          18/05/2023
4        23888.000000         27/11/2023          29/11/2023
5        11678.000000         25/06/2023          30/06/2023
6         4775.000000         23/12/2023          27/12/2023
7         8425.000000         06/10/2023          09/10/2023
8        18390.000000         18/10/2024          23/10/2024
9        23888.000000         16/02/2024          18/02/2024
10       22239.000000         25/04/2024          29/04/2024
11       23888.000000         03/02/2023          06/02/2023
12        6291.000000         24/02/2023          27/02/2023
13        9485.000000         13/10/2024          17/10/2024
14        6291.000000         05/02/2024          10/02/2024
15       14278.000000         22/09/2024          26/09/2024
16       23888.000000         17/05/2024          20/05/2024
17        7050.000000         26/04/2024          30/04/2024
18       21790.000000         21/08/2023          26/08/2023
19       11678.000000         15/03/2024          18/03/2024
20       14231.214286         14/09/2023          18/09/2023
21       17002.000000         15/06/2024          19/06/2024
22        4775.000000         28/07/2024          02/08/2024
23       11470.000000         09/06/2023          13/06/2023
24        8425.000000         09/02/2024          12/02/2024
25       17002.000000         19/05/2023          24/05/2023
26       11470.000000         05/12/2024          09/12/2024
27       18390.000000         17/12/2024          22/12/2024
28        7050.000000         12/08/2024          17/08/2024
29       20394.000000         21/10/2024          23/10/2024
30       22034.000000         03/09/2024          06/09/2024
31        7037.000000         02/01/2024          07/01/2024
32        9374.000000         25/07/2024          30/07/2024
33       14278.000000         23/03/2024          28/03/2024
34        7483.000000         26/08/2024          28/08/2024
35        7512.000000         26/09/2023          01/10/2023
36       17002.000000         09/07/2023          14/07/2023
37        6740.000000         24/06/2023          26/06/2023
38       11470.000000         16/05/2023          19/05/2023
39       17002.000000         24/10/2024          27/10/2024
40       23888.000000         19/01/2023          22/01/2023
41       18390.000000         17/12/2024          22/12/2024
42       18390.000000         17/12/2024          22/12/2024

          วันที่สิ้นสุด       วันที่แจ้งเคลม วันที่เกิดเหตุ  ประเภทของการเคลม  \
0            27/03/2025           21/09/2024     20/09/2024                 1
1            26/01/2023           24/01/2023     22/01/2023                 1
2            02/08/2024           26/07/2024     25/07/2024                 2
3            26/05/2023           22/05/2023     22/05/2023                 1
4            11/12/2023           05/12/2023     04/12/2023                 3
5            04/07/2023           02/07/2023     01/07/2023                 2
6            02/01/2024           30/12/2023     30/12/2023                 2
7            16/10/2023           12/10/2023     12/10/2023                 2
8            29/10/2024           26/10/2024     24/10/2024                 3
9            25/02/2025           22/08/2024     20/08/2024                 3
10  2024-04-05 00:00:00           01/05/2024     30/04/2024                 2
11            14/2/2024           11/08/2023     11/08/2023                 2
12  2023-05-03 00:00:00  2023-02-03 00:00:00     28/02/2023                 1
13           17/10/2025           17/04/2025     15/04/2025                 2
14            15/2/2024           12/02/2024     11/02/2024                 1
15           29/09/2024           27/09/2024     26/09/2024                 1
16           20/05/2025           18/11/2024     18/11/2024                 2
17  2024-02-05 00:00:00           01/05/2024     29/04/2024                 2
18           30/08/2023           28/08/2023     27/08/2023                 3
19           18/03/2025           16/09/2024     15/09/2024                 2
20           24/09/2023           21/09/2023     19/09/2023                 3
21           29/06/2024           24/06/2024     24/06/2024                 3
22  2025-02-08 00:00:00           31/01/2025     29/01/2025                 1
23            17/6/2023           15/06/2023     13/06/2023                 2
24  2025-12-02 00:00:00           13/08/2024     12/08/2024                 3
25           30/05/2023           27/05/2023     27/05/2023                 3
26           24/12/2024           16/12/2024     14/12/2024                 2
27           22/12/2025           22/06/2025     22/06/2025                 1
28           31/08/2024           24/08/2024     24/08/2024                 1
29           06/11/2024           30/10/2024     29/10/2024                 1
30           08/09/2024           07/09/2024     05/09/2024                 1
31           17/01/2024           12/01/2024     12/01/2024                 3
32           04/08/2024           01/08/2024     31/07/2024                 3
33           01/04/2024           30/03/2024     28/03/2024                 1
34           11/09/2024           04/09/2024     03/09/2024                 3
35           05/10/2023           03/10/2023     01/10/2023                 2
36           17/07/2023           15/07/2023     15/07/2023                 1
37           30/06/2024           28/12/2023     27/12/2023                 3
38           30/05/2023           24/05/2023     24/05/2023                 2
39           30/10/2024           28/10/2024     27/10/2024                 1
40           26/01/2023           24/01/2023     22/01/2023                 1
41           22/12/2025           22/06/2025     22/06/2025                 1
42           22/12/2025           22/06/2025     22/06/2025                 1

    จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS)  \
0                                       100000
1                                       100000
2                                        15000
3                                       100000
4                                        30000
5                                        35000
6                                        35000
7                                        15000
8                                        10000
9                                        10000
10                                       15000
11                                       15000
12                                      100000
13                                       35000
14                                      100000
15                                      100000
16                                       25000
17                                       35000
18                                       30000
19                                       25000
20                                       30000
21                                       20000
22                                       75000
23                                       15000
24                                       20000
25                                       10000
26                                       15000
27                                      100000
28                                       75000
29                                      100000
30                                      100000
31                                       10000
32                                       20000
33                                      100000
34                                       30000
35                                       35000
36                                       75000
37                                       20000
38                                       15000
39                                       75000
40                                      100000
41                                      100000
42                                      100000

    จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred)  \
0                                              25000
1                                              90000
2                                               5000
3                                              90000
4                                              20000
5                                              10000
6                                              10000
7                                               5000
8                                               5000
9                                               5000
10                                              5000
11                                              5000
12                                             25000
13                                             10000
14                                             25000
15                                             25000
16                                             10000
17                                             10000
18                                             25000
19                                             10000
20                                             25000
21                                             10000
22                                              5000
23                                              5000
24                                             15000
25                                              5000
26                                              5000
27                                             90000
28                                             25000
29                                             90000
30                                             25000
31                                              5000
32                                             10000
33                                             90000
34                                             10000
35                                             10000
36                                             25000
37                                             10000
38                                              5000
39                                             25000
40                                             90000
41                                             90000
42                                             90000

    จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid)  ฉ้อฉล/ไม่ฉ้อฉล
0                                            75000               2
1                                            10000               1
2                                            10000               2
3                                            10000               2
4                                            10000               2
5                                            25000               2
6                                            25000               2
7                                            10000               2
8                                             5000               2
9                                             5000               2
10                                           10000               2
11                                           10000               2
12                                           75000               2
13                                           25000               2
14                                           75000               2
15                                           75000               2
16                                           15000               2
17                                           25000               2
18                                            5000               2
19                                           15000               2
20                                            5000               2
21                                           10000               2
22                                           70000               2
23                                           10000               2
24                                            5000               2
25                                            5000               2
26                                           10000               2
27                                           10000               1
28                                           50000               2
29                                           10000               2
30                                           75000               2
31                                            5000               2
32                                           10000               2
33                                           10000               2
34                                           20000               2
35                                           25000               2
36                                           50000               2
37                                           10000               2
38                                           10000               2
39                                           50000               1
40                                           10000               2
41                                           10000               2
42                                           10000               2

In [4]:
#เปลี่ยนวันที่ให้เหลือแค่วันสำหรับ nn
from sklearn import preprocessing

# สมมติว่า df เป็น DataFrame ที่มีคอลัมน์ 'date1', 'date2', 'date3' เป็นคอลัมน์วันที่
df['วันที่ซื้อกรมณรรม์'] = pd.to_datetime(df['วันที่ซื้อกรมณรรม์'], format='%d/%m/%Y')
df['วันที่เริ่มคุ้มครอง'] = pd.to_datetime(df['วันที่เริ่มคุ้มครอง'], format='%d/%m/%Y')
df['วันที่สิ้นสุด'] = pd.to_datetime(df['วันที่สิ้นสุด'], format='%d/%m/%Y')
df['วันที่แจ้งเคลม'] = pd.to_datetime(df['วันที่แจ้งเคลม'], format='%d/%m/%Y')
df['วันที่เกิดเหตุ'] = pd.to_datetime(df['วันที่เกิดเหตุ'], format='%d/%m/%Y')

# แปลงวันที่ในแต่ละคอลัมน์เป็นจำนวนวันที่ตั้งแต่ epoch
df['date1_numeric'] = df['วันที่ซื้อกรมณรรม์'].apply(lambda x: x.timestamp())
df['date2_numeric'] = df['วันที่เริ่มคุ้มครอง'].apply(lambda x: x.timestamp())
df['date3_numeric'] = df['วันที่สิ้นสุด'].apply(lambda x: x.timestamp())
df['date2_numeric'] = df['วันที่แจ้งเคลม'].apply(lambda x: x.timestamp())
df['date3_numeric'] = df['วันที่เกิดเหตุ'].apply(lambda x: x.timestamp())

# ลบคอลัมน์วันที่ออกไปจาก X
X = df.drop(['ฉ้อฉล/ไม่ฉ้อฉล','วันที่ซื้อกรมณรรม์', 'วันที่เริ่มคุ้มครอง', 'วันที่สิ้นสุด', 'วันที่แจ้งเคลม','วันที่เกิดเหตุ'], axis=1)
y = df['ฉ้อฉล/ไม่ฉ้อฉล']

In [5]:
#แยกชุดฝึกและชุดทดสอบ
from sklearn.model_selection import train_test_split

# แบ่งข้อมูลออกเป็น Training set (80%) และ Test set (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# แสดงผลลัพธ์
print("Training data (X_train):")
print(X_train.head())  # ดูข้อมูล 5 แถวแรกของ Training data
print("Test data (X_test):")
print(X_test.head())  # ดูข้อมูล 5 แถวแรกของ Test data

Training data (X_train):
    เลขบัตรประชาชน 13 หลัก  อายุ  เพศ  อาชีพ  ประเภทกรมธรรมม์  แผนประกันภัย  \
3                        4    49    2      1                5             5
6                        7    58    2      2                3             2
27                      28    32    2      1                4             4
31                      32    53    1      1                5             3
19                      20    25    1      2                4             1

    ค่าเบี้ยประกันภัย  ประเภทของการเคลม  \
3              9485.0                 1
6              4775.0                 2
27            18390.0                 1
31             7037.0                 3
19            11678.0                 2

    จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS)  \
3                                       100000
6                                        35000
27                                      100000
31                                       10000
19                                       25000

    จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred)  \
3                                              90000
6                                              10000
27                                             90000
31                                              5000
19                                             10000

    จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid)  date1_numeric  \
3                                            10000   1.684195e+09
6                                            25000   1.703290e+09
27                                           10000   1.734394e+09
31                                            5000   1.704154e+09
19                                           15000   1.710461e+09

    date2_numeric  date3_numeric
3    1.684714e+09   1.684714e+09
6    1.703894e+09   1.703894e+09
27   1.750550e+09   1.750550e+09
31   1.705018e+09   1.705018e+09
19   1.726445e+09   1.726358e+09
Test data (X_test):
    เลขบัตรประชาชน 13 หลัก  อายุ  เพศ  อาชีพ  ประเภทกรมธรรมม์  แผนประกันภัย  \
37                      38    52    1      2                4             5
24                      25    28    1      0                4             5
25                      26    34    2      2                5             2
36                      37    29    2      3                5             1
34                      35    31    1      0                5             1

    ค่าเบี้ยประกันภัย  ประเภทของการเคลม  \
37             6740.0                 3
24             8425.0                 3
25            17002.0                 3
36            17002.0                 1
34             7483.0                 3

    จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS)  \
37                                       20000
24                                       20000
25                                       10000
36                                       75000
34                                       30000

    จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred)  \
37                                             10000
24                                             15000
25                                              5000
36                                             25000
34                                             10000

    จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid)  date1_numeric  \
37                                           10000   1.687565e+09
24                                            5000   1.707437e+09
25                                            5000   1.684454e+09
36                                           50000   1.688861e+09
34                                           20000   1.724630e+09

    date2_numeric  date3_numeric
37   1.703722e+09   1.703635e+09
24   1.723507e+09   1.723421e+09
25   1.685146e+09   1.685146e+09
36   1.689379e+09   1.689379e+09
34   1.725408e+09   1.725322e+09

In [29]:
X_train

,เลขบัตรประชาชน 13 หลัก,อายุ,เพศ,อาชีพ,ประเภทกรมธรรมม์,แผนประกันภัย,ค่าเบี้ยประกันภัย,ประเภทของการเคลม,จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS),จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred),จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid),date1_numeric,date2_numeric,date3_numeric
3,4,49,2,1,5,5,9485.000000,1,100000,90000,10000,1.684195e+09,1.684714e+09,1.684714e+09
6,7,58,2,2,3,2,4775.000000,2,35000,10000,25000,1.703290e+09,1.703894e+09,1.703894e+09
27,28,32,2,1,4,4,18390.000000,1,100000,90000,10000,1.734394e+09,1.750550e+09,1.750550e+09
31,32,53,1,1,5,3,7037.000000,3,10000,5000,5000,1.704154e+09,1.705018e+09,1.705018e+09
19,20,25,1,2,4,1,11678.000000,2,25000,10000,15000,1.710461e+09,1.726445e+09,1.726358e+09
17,18,31,2,3,3,1,7050.000000,2,35000,10000,25000,1.714090e+09,1.714522e+09,1.714349e+09
13,14,40,1,3,4,3,9485.000000,2,35000,10000,25000,1.728778e+09,1.744848e+09,1.744675e+09
40,2,55,2,1,1,3,23888.000000,1,100000,90000,10000,1.674086e+09,1.674518e+09,1.674346e+09
15,16,74,2,2,5,3,14278.000000,1,100000,25000,75000,1.726963e+09,1.727395e+09,1.727309e+09
9,10,18,2,2,4,2,23888.000000,3,10000,5000,5000,1.708042e+09,1.724285e+09,1.724112e+09
16,17,39,1,1,4,1,23888.000000,2,25000,10000,15000,1.715904e+09,1.731888e+09,1.731888e+09
30,31,22,1,3,5,3,22034.000000,1,100000,25000,75000,1.725322e+09,1.725667e+09,1.725494e+09
26,27,40,2,1,5,1,11470.000000,2,15000,5000,10000,1.733357e+09,1.734307e+09,1.734134e+09
0,1,66,2,0,4,1,5950.000000,1,100000,25000,75000,1.710634e+09,1.726877e+09,1.726790e+09
29,30,28,1,3,1,1,20394.000000,1,100000,90000,10000,1.729469e+09,1.730246e+09,1.730160e+09
41,28,32,2,1,4,4,18390.000000,1,100000,90000,10000,1.734394e+09,1.750550e+09,1.750550e+09
5,6,35,1,1,5,3,11678.000000,2,35000,10000,25000,1.687651e+09,1.688256e+09,1.688170e+09
11,12,49,1,2,4,2,23888.000000,2,15000,5000,10000,1.675382e+09,1.691712e+09,1.691712e+09
32,33,32,2,0,3,3,9374.000000,3,20000,10000,10000,1.721866e+09,1.722470e+09,1.722384e+09
1,2,55,2,1,1,3,23888.000000,1,100000,90000,10000,1.674086e+09,1.674518e+09,1.674346e+09
42,28,32,2,1,4,4,18390.000000,1,100000,90000,10000,1.734394e+09,1.750550e+09,1.750550e+09
21,22,64,1,2,3,2,17002.000000,3,20000,10000,10000,1.718410e+09,1.719187e+09,1.719187e+09
2,3,71,1,1,5,2,23888.000000,2,15000,5000,10000,1.721174e+09,1.721952e+09,1.721866e+09
33,34,12,1,0,1,2,14278.000000,1,100000,90000,10000,1.711152e+09,1.711757e+09,1.711584e+09
23,24,16,1,2,5,4,11470.000000,2,15000,5000,10000,1.686269e+09,1.686787e+09,1.686614e+09
35,36,64,2,3,1,1,7512.000000,2,35000,10000,25000,1.695686e+09,1.696291e+09,1.696118e+09
10,11,41,1,3,1,1,22239.000000,2,15000,5000,10000,1.714003e+09,1.714522e+09,1.714435e+09
22,23,75,1,2,4,5,4775.000000,1,75000,5000,70000,1.722125e+09,1.738282e+09,1.738109e+09
18,19,64,1,0,5,2,21790.000000,3,30000,25000,5000,1.692576e+09,1.693181e+09,1.693094e+09
20,21,17,2,0,5,3,14231.214286,3,30000,25000,5000,1.694650e+09,1.695254e+09,1.695082e+09
7,8,42,2,2,1,3,8425.000000,2,15000,5000,10000,1.696550e+09,1.697069e+09,1.697069e+09
14,15,26,1,0,5,5,6291.000000,1,100000,25000,75000,1.707091e+09,1.707696e+09,1.707610e+09
28,29,74,2,0,5,4,7050.000000,1,75000,25000,50000,1.723421e+09,1.724458e+09,1.724458e+09
38,39,26,1,0,5,1,11470.000000,2,15000,5000,10000,1.684195e+09,1.684886e+09,1.684886e+09

In [28]:
y_train

3     2
6     2
27    1
31    2
19    2
17    2
13    2
40    2
15    2
9     2
16    2
30    2
26    2
0     2
29    2
41    2
5     2
11    2
32    2
1     1
42    2
21    2
2     2
33    2
23    2
35    2
10    2
22    2
18    2
20    2
7     2
14    2
28    2
38    2
Name: ฉ้อฉล/ไม่ฉ้อฉล, dtype: int64

In [6]:
# สมมติว่าคุณต้องการตรวจหาค่าผิดปกติในคอลัมน์ 'Column_Name'
column_name = 'จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid)'

# คำนวณ Z-Score
mean = df[column_name].mean()
std_dev = df[column_name].std()

# คำนวณ Z-Score สำหรับแต่ละแถว
df['Z-Score'] = (df[column_name] - mean) / std_dev

# ตรวจสอบค่าที่มี Z-Score > 3 หรือ < -3 เป็น outliers
outliers_zscore = df[df['Z-Score'].abs() > 3]

# แสดงข้อมูลที่มี Z-Score > 3 หรือ < -3
print("Outliers based on Z-Score:")
print(outliers_zscore)

# คำนวณ IQR (Interquartile Range)
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# คำนวณค่า Lower Bound และ Upper Bound
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# ตรวจสอบค่าผิดปกติที่อยู่นอกขอบเขต
outliers_iqr = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)]

# แสดงข้อมูลที่มี outliers จาก IQR
print("Outliers based on IQR:")
print(outliers_iqr)

Outliers based on Z-Score:
Empty DataFrame
Columns: [เลขบัตรประชาชน 13 หลัก, อายุ, เพศ, อาชีพ, ประเภทกรมธรรมม์, แผนประกันภัย, ค่าเบี้ยประกันภัย, วันที่ซื้อกรมณรรม์, วันที่เริ่มคุ้มครอง, วันที่สิ้นสุด, วันที่แจ้งเคลม, วันที่เกิดเหตุ, ประเภทของการเคลม, จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS), จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred), จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid), ฉ้อฉล/ไม่ฉ้อฉล, date1_numeric, date2_numeric, date3_numeric, Z-Score]
Index: []

[0 rows x 21 columns]
Outliers based on IQR:
    เลขบัตรประชาชน 13 หลัก  อายุ  เพศ  อาชีพ  ประเภทกรมธรรมม์  แผนประกันภัย  \
0                        1    66    2      0                4             1
12                      13    43    1      2                5             1
14                      15    26    1      0                5             5
15                      16    74    2      2                5             3
22                      23    75    1      2                4             5
28                      29    74    2      0                5             4
30                      31    22    1      3                5             3
36                      37    29    2      3                5             1
39                      40    34    1      2                5             5

    ค่าเบี้ยประกันภัย วันที่ซื้อกรมณรรม์ วันที่เริ่มคุ้มครอง วันที่สิ้นสุด  \
0              5950.0         2024-03-17          2024-03-19    2025-03-27
12             6291.0         2023-02-24          2023-02-27    2023-05-03
14             6291.0         2024-02-05          2024-02-10    2024-02-15
15            14278.0         2024-09-22          2024-09-26    2024-09-29
22             4775.0         2024-07-28          2024-08-02    2025-02-08
28             7050.0         2024-08-12          2024-08-17    2024-08-31
30            22034.0         2024-09-03          2024-09-06    2024-09-08
36            17002.0         2023-07-09          2023-07-14    2023-07-17
39            17002.0         2024-10-24          2024-10-27    2024-10-30

    ... วันที่เกิดเหตุ ประเภทของการเคลม  \
0   ...     2024-09-20                1
12  ...     2023-02-28                1
14  ...     2024-02-11                1
15  ...     2024-09-26                1
22  ...     2025-01-29                1
28  ...     2024-08-24                1
30  ...     2024-09-05                1
36  ...     2023-07-15                1
39  ...     2024-10-27                1

    จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS)  \
0                                       100000
12                                      100000
14                                      100000
15                                      100000
22                                       75000
28                                       75000
30                                      100000
36                                       75000
39                                       75000

    จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred)  \
0                                              25000
12                                             25000
14                                             25000
15                                             25000
22                                              5000
28                                             25000
30                                             25000
36                                             25000
39                                             25000

    จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid)  ฉ้อฉล/ไม่ฉ้อฉล  \
0                                            75000               2
12                                           75000               2
14                                           75000               2
15                                           75000               2
22                                           70000               2
28                                           50000               2
30                                           75000               2
36                                           50000               2
39                                           50000               1

    date1_numeric  date2_numeric  date3_numeric   Z-Score
0    1.710634e+09   1.726877e+09   1.726790e+09  2.190054
12   1.677197e+09   1.675382e+09   1.677542e+09  2.190054
14   1.707091e+09   1.707696e+09   1.707610e+09  2.190054
15   1.726963e+09   1.727395e+09   1.727309e+09  2.190054
22   1.722125e+09   1.738282e+09   1.738109e+09  1.978906
28   1.723421e+09   1.724458e+09   1.724458e+09  1.134311
30   1.725322e+09   1.725667e+09   1.725494e+09  2.190054
36   1.688861e+09   1.689379e+09   1.689379e+09  1.134311
39   1.729728e+09   1.730074e+09   1.729987e+09  1.134311

[9 rows x 21 columns]

# ปรับ

In [7]:
scaler = preprocessing.StandardScaler().fit(X_train)
scaler

scaler.mean_

scaler.scale_

X_scaled = scaler.transform(X_train)
X_scaled

array([[-1.38148086,  0.33342494,  1.        , -0.37142857,  0.90632697,
         1.90956037, -0.74373792, -1.04756985,  1.25630347,  1.76265311,
        -0.54232614, -1.33887731, -1.3525348 , -1.34799317],
       [-1.10733485,  0.82159735,  1.        ,  0.6       , -0.43346072,
        -0.46574643, -1.45594715,  0.32232919, -0.4789657 , -0.60495996,
         0.10846523, -0.29862045, -0.46541865, -0.46123594],
       [ 0.8116872 , -0.58867849,  1.        , -0.37142857,  0.23643312,
         1.11779144,  0.60280629, -1.04756985,  1.25630347,  1.76265311,
        -0.54232614,  1.39591562,  1.69243144,  1.6957411 ],
       [ 1.17721521,  0.55039046, -1.        , -0.37142857,  0.90632697,
         0.3260225 , -1.11390527,  1.69222822, -1.14637691, -0.75293577,
        -0.7592566 , -0.25155   , -0.4134704 , -0.40930871],
       [ 0.08063118, -0.96836814, -1.        ,  0.6       ,  0.23643312,
        -1.25751537, -0.41212967,  0.32232919, -0.74593018, -0.60495996,
        -0.32539569,  0.09206426,  0.57754223,  0.57730856],
       [-0.10213283, -0.64291987,  1.        ,  1.57142857, -0.43346072,
        -1.25751537, -1.11193951,  0.32232919, -0.4789657 , -0.60495996,
         0.10846523,  0.28976013,  0.02609165,  0.02208669],
       [-0.46766084, -0.15474746, -1.        ,  1.57142857,  0.23643312,
         0.3260225 , -0.74373792,  0.32232919, -0.4789657 , -0.60495996,
         0.10846523,  1.08995772,  1.42869421,  1.42412177],
       [-1.56424486,  0.65887321,  1.        , -0.37142857, -1.77324841,
         0.3260225 ,  1.4341707 , -1.04756985,  1.25630347,  1.76265311,
        -0.54232614, -1.88960154, -1.824065  , -1.8273214 ],
       [-0.28489683,  1.68945941,  1.        ,  0.6       ,  0.90632697,
         0.3260225 , -0.01897808, -1.04756985,  1.25630347, -0.16103251,
         2.27776981,  0.99110978,  0.62149844,  0.62124698],
       [-0.83318885, -1.34805779,  1.        ,  0.6       ,  0.23643312,
        -0.46574643,  1.4341707 ,  1.69222822, -1.14637691, -0.75293577,
        -0.7592566 , -0.03973299,  0.47764176,  0.47345411],
       [-0.19351483, -0.20898884, -1.        , -0.37142857,  0.23643312,
        -1.25751537,  1.4341707 ,  0.32232919, -0.74593018, -0.60495996,
        -0.32539569,  0.38860807,  0.82929141,  0.83295028],
       [ 1.08583321, -1.13109227, -1.        ,  1.57142857,  0.90632697,
         0.3260225 ,  1.15382337, -1.04756985,  1.25630347, -0.16103251,
         2.27776981,  0.90167593,  0.54157806,  0.53736454],
       [ 0.7203052 , -0.15474746,  1.        , -0.37142857,  0.90632697,
        -1.25751537, -0.4435818 ,  0.32232919, -1.01289467, -0.75293577,
        -0.54232614,  1.33943108,  0.94117993,  0.93680473],
       [-1.65562687,  1.25552838,  1.        , -1.34285714,  0.23643312,
        -1.25751537, -1.27827288, -1.04756985,  1.25630347, -0.16103251,
         2.27776981,  0.10147834,  0.59752232,  0.59728057],
       [ 0.9944512 , -0.805644  , -1.        ,  1.57142857, -1.77324841,
        -1.25751537,  0.90583544, -1.04756985,  1.25630347,  1.76265311,
        -0.54232614,  1.12761408,  0.75336705,  0.75306224],
       [ 0.8116872 , -0.58867849,  1.        , -0.37142857,  0.23643312,
         1.11779144,  0.60280629, -1.04756985,  1.25630347,  1.76265311,
        -0.54232614,  1.39591562,  1.69243144,  1.6957411 ],
       [-1.19871686, -0.42595435, -1.        , -0.37142857,  0.90632697,
         0.3260225 , -0.41212967,  0.32232919, -0.4789657 , -0.60495996,
         0.10846523, -1.15059553, -1.18869803, -1.18821709],
       [-0.65042484,  0.33342494, -1.        ,  0.6       ,  0.23643312,
        -0.46574643,  1.4341707 ,  0.32232919, -1.01289467, -0.75293577,
        -0.54232614, -1.81899587, -1.02885728, -1.02444661],
       [ 1.26859721, -0.58867849,  1.        , -1.34285714, -0.43346072,
         0.3260225 , -0.76052247,  1.69222822, -0.87941243, -0.60495996,
        -0.54232614,  0.71339415,  0.39372537,  0.39356607],
       [-1.56424486,  0.65887321,  1.        , -0.37142857, -1.77324841,
         0.3260225 ,  1.4341707 , -1.04756985,  1.25630347,  1.76265311,
        -0.54232614, -1.88960154, -1.824065  , -1.8273214 ],
       [ 0.8116872 , -0.58867849,  1.        , -0.37142857,  0.23643312,
         1.11779144,  0.60280629, -1.04756985,  1.25630347,  1.76265311,
        -0.54232614,  1.39591562,  1.69243144,  1.6957411 ],
       [ 0.26339518,  1.14704562, -1.        ,  0.6       , -0.43346072,
        -0.46574643,  0.39292382,  1.69222822, -0.87941243, -0.60495996,
        -0.54232614,  0.52511236,  0.24187666,  0.2457732 ],
       [-1.47286286,  1.52673527, -1.        , -0.37142857,  0.90632697,
        -0.46574643,  1.4341707 ,  0.32232919, -1.01289467, -0.75293577,
        -0.54232614,  0.67573779,  0.36974926,  0.36959966],
       [ 1.35997921, -1.67350606, -1.        , -1.34285714, -1.77324841,
        -0.46574643, -0.01897808, -1.04756985,  1.25630347,  1.76265311,
        -0.54232614,  0.12972061, -0.10178095, -0.10573417],
       [ 0.44615919, -1.45654055, -1.        ,  0.6       ,  0.90632697,
         1.11779144, -0.4435818 ,  0.32232919, -1.01289467, -0.75293577,
        -0.54232614, -1.22590824, -1.25663035, -1.26011632],
       [ 1.54274322,  1.14704562,  1.        ,  1.57142857, -1.77324841,
        -1.25751537, -1.0420795 ,  0.32232919, -0.4789657 , -0.60495996,
         0.10846523, -0.71284038, -0.81706829, -0.82073211],
       [-0.74180684, -0.10050608, -1.        ,  1.57142857, -1.77324841,
        -1.25751537,  1.18482186,  0.32232919, -1.01289467, -0.75293577,
        -0.54232614,  0.28505309,  0.02609165,  0.02608109],
       [ 0.35477719,  1.74370078, -1.        ,  0.6       ,  0.23643312,
         1.90956037, -1.45594715, -1.04756985,  0.58889225, -0.75293577,
         2.06083935,  0.72751528,  1.12499679,  1.12054722],
       [-0.01075082,  1.14704562, -1.        , -1.34285714,  0.90632697,
        -0.46574643,  1.1169276 ,  1.69222822, -0.61244794, -0.16103251,
        -0.7592566 , -0.88229398, -0.96092496, -0.96053618],
       [ 0.17201318, -1.40229917,  1.        , -1.34285714,  0.90632697,
         0.3260225 , -0.02605265,  1.69222822, -0.61244794, -0.16103251,
        -0.7592566 , -0.76932491, -0.86502052, -0.86866494],
       [-1.01595285, -0.04626471,  1.        ,  0.6       , -1.77324841,
         0.3260225 , -0.9040228 ,  0.32232919, -1.01289467, -0.75293577,
        -0.54232614, -0.66576993, -0.78110412, -0.77679369],
       [-0.37627883, -0.91412676, -1.        , -1.34285714,  0.90632697,
         1.90956037, -1.22670953, -1.04756985,  1.25630347, -0.16103251,
         2.27776981, -0.09151049, -0.28959382, -0.28947666],
       [ 0.9030692 ,  1.68945941,  1.        , -1.34285714,  0.90632697,
         1.11779144, -1.11193951, -1.04756985,  0.58889225, -0.16103251,
         1.19311752,  0.79812095,  0.4856338 ,  0.48943172],
       [ 1.81688922, -0.91412676, -1.        , -1.34285714,  0.90632697,
        -1.25751537, -0.4435818 ,  0.32232919, -1.01289467, -0.75293577,
        -0.54232614, -1.33887731, -1.34454276, -1.34000436]])

In [8]:
X_scaled.mean(axis=0)

X_scaled.std(axis=0)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [9]:
# 3. ใช้ StandardScaler เพื่อปรับขนาดข้อมูล
scaler = preprocessing.StandardScaler()

# ฟิต scaler กับข้อมูลฝึก (X)
scaler.fit(X_train)

# แปลงข้อมูล X โดยการปรับขนาด
X_scaled = scaler.transform(X_train)

# แสดงผลลัพธ์ที่ได้จากการปรับขนาด
print("Mean ของข้อมูลที่ปรับขนาด:", scaler.mean_)
print("ค่า Scale ของข้อมูลที่ปรับขนาด:", scaler.scale_)
print("ข้อมูลที่ปรับขนาดแล้ว:")
print(X_scaled)

# หากต้องการแปลงข้อมูลที่ถูกปรับขนาดกลับเป็น DataFrame
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

# แสดงข้อมูลที่ถูกปรับขนาดใน DataFrame
print("ข้อมูลที่ปรับขนาดใน DataFrame:")
print(X_scaled_df)

Mean ของข้อมูลที่ปรับขนาด: [1.91176471e+01 4.28529412e+01 1.50000000e+00 1.38235294e+00
 3.64705882e+00 2.58823529e+00 1.44035063e+04 1.76470588e+00
 5.29411765e+04 3.04411765e+04 2.25000000e+04 1.70877092e+09
 1.71395746e+09 1.71387106e+09]
ค่า Scale ของข้อมูลที่ปรับขนาด: [1.09430738e+01 1.84361096e+01 5.00000000e-01 1.02941176e+00
 1.49277383e+00 1.26299474e+00 6.61322512e+03 7.29980803e-01
 3.74581658e+04 3.37893049e+04 2.30488611e+04 1.83554665e+07
 2.16215205e+07 2.16302720e+07]
ข้อมูลที่ปรับขนาดแล้ว:
[[-1.38148086  0.33342494  1.         -0.37142857  0.90632697  1.90956037
  -0.74373792 -1.04756985  1.25630347  1.76265311 -0.54232614 -1.33887731
  -1.3525348  -1.34799317]
 [-1.10733485  0.82159735  1.          0.6        -0.43346072 -0.46574643
  -1.45594715  0.32232919 -0.4789657  -0.60495996  0.10846523 -0.29862045
  -0.46541865 -0.46123594]
 [ 0.8116872  -0.58867849  1.         -0.37142857  0.23643312  1.11779144
   0.60280629 -1.04756985  1.25630347  1.76265311 -0.54232614  1.39591562
   1.69243144  1.6957411 ]
 [ 1.17721521  0.55039046 -1.         -0.37142857  0.90632697  0.3260225
  -1.11390527  1.69222822 -1.14637691 -0.75293577 -0.7592566  -0.25155
  -0.4134704  -0.40930871]
 [ 0.08063118 -0.96836814 -1.          0.6         0.23643312 -1.25751537
  -0.41212967  0.32232919 -0.74593018 -0.60495996 -0.32539569  0.09206426
   0.57754223  0.57730856]
 [-0.10213283 -0.64291987  1.          1.57142857 -0.43346072 -1.25751537
  -1.11193951  0.32232919 -0.4789657  -0.60495996  0.10846523  0.28976013
   0.02609165  0.02208669]
 [-0.46766084 -0.15474746 -1.          1.57142857  0.23643312  0.3260225
  -0.74373792  0.32232919 -0.4789657  -0.60495996  0.10846523  1.08995772
   1.42869421  1.42412177]
 [-1.56424486  0.65887321  1.         -0.37142857 -1.77324841  0.3260225
   1.4341707  -1.04756985  1.25630347  1.76265311 -0.54232614 -1.88960154
  -1.824065   -1.8273214 ]
 [-0.28489683  1.68945941  1.          0.6         0.90632697  0.3260225
  -0.01897808 -1.04756985  1.25630347 -0.16103251  2.27776981  0.99110978
   0.62149844  0.62124698]
 [-0.83318885 -1.34805779  1.          0.6         0.23643312 -0.46574643
   1.4341707   1.69222822 -1.14637691 -0.75293577 -0.7592566  -0.03973299
   0.47764176  0.47345411]
 [-0.19351483 -0.20898884 -1.         -0.37142857  0.23643312 -1.25751537
   1.4341707   0.32232919 -0.74593018 -0.60495996 -0.32539569  0.38860807
   0.82929141  0.83295028]
 [ 1.08583321 -1.13109227 -1.          1.57142857  0.90632697  0.3260225
   1.15382337 -1.04756985  1.25630347 -0.16103251  2.27776981  0.90167593
   0.54157806  0.53736454]
 [ 0.7203052  -0.15474746  1.         -0.37142857  0.90632697 -1.25751537
  -0.4435818   0.32232919 -1.01289467 -0.75293577 -0.54232614  1.33943108
   0.94117993  0.93680473]
 [-1.65562687  1.25552838  1.         -1.34285714  0.23643312 -1.25751537
  -1.27827288 -1.04756985  1.25630347 -0.16103251  2.27776981  0.10147834
   0.59752232  0.59728057]
 [ 0.9944512  -0.805644   -1.          1.57142857 -1.77324841 -1.25751537
   0.90583544 -1.04756985  1.25630347  1.76265311 -0.54232614  1.12761408
   0.75336705  0.75306224]
 [ 0.8116872  -0.58867849  1.         -0.37142857  0.23643312  1.11779144
   0.60280629 -1.04756985  1.25630347  1.76265311 -0.54232614  1.39591562
   1.69243144  1.6957411 ]
 [-1.19871686 -0.42595435 -1.         -0.37142857  0.90632697  0.3260225
  -0.41212967  0.32232919 -0.4789657  -0.60495996  0.10846523 -1.15059553
  -1.18869803 -1.18821709]
 [-0.65042484  0.33342494 -1.          0.6         0.23643312 -0.46574643
   1.4341707   0.32232919 -1.01289467 -0.75293577 -0.54232614 -1.81899587
  -1.02885728 -1.02444661]
 [ 1.26859721 -0.58867849  1.         -1.34285714 -0.43346072  0.3260225
  -0.76052247  1.69222822 -0.87941243 -0.60495996 -0.54232614  0.71339415
   0.39372537  0.39356607]
 [-1.56424486  0.65887321  1.         -0.37142857 -1.77324841  0.3260225
   1.4341707  -1.04756985  1.25630347  1.76265311 -0.54232614 -1.88960154
  -1.824065   -1.8273214 ]
 [ 0.8116872  -0.58867849  1.         -0.37142857  0.23643312  1.11779144
   0.60280629 -1.04756985  1.25630347  1.76265311 -0.54232614  1.39591562
   1.69243144  1.6957411 ]
 [ 0.26339518  1.14704562 -1.          0.6        -0.43346072 -0.46574643
   0.39292382  1.69222822 -0.87941243 -0.60495996 -0.54232614  0.52511236
   0.24187666  0.2457732 ]
 [-1.47286286  1.52673527 -1.         -0.37142857  0.90632697 -0.46574643
   1.4341707   0.32232919 -1.01289467 -0.75293577 -0.54232614  0.67573779
   0.36974926  0.36959966]
 [ 1.35997921 -1.67350606 -1.         -1.34285714 -1.77324841 -0.46574643
  -0.01897808 -1.04756985  1.25630347  1.76265311 -0.54232614  0.12972061
  -0.10178095 -0.10573417]
 [ 0.44615919 -1.45654055 -1.          0.6         0.90632697  1.11779144
  -0.4435818   0.32232919 -1.01289467 -0.75293577 -0.54232614 -1.22590824
  -1.25663035 -1.26011632]
 [ 1.54274322  1.14704562  1.          1.57142857 -1.77324841 -1.25751537
  -1.0420795   0.32232919 -0.4789657  -0.60495996  0.10846523 -0.71284038
  -0.81706829 -0.82073211]
 [-0.74180684 -0.10050608 -1.          1.57142857 -1.77324841 -1.25751537
   1.18482186  0.32232919 -1.01289467 -0.75293577 -0.54232614  0.28505309
   0.02609165  0.02608109]
 [ 0.35477719  1.74370078 -1.          0.6         0.23643312  1.90956037
  -1.45594715 -1.04756985  0.58889225 -0.75293577  2.06083935  0.72751528
   1.12499679  1.12054722]
 [-0.01075082  1.14704562 -1.         -1.34285714  0.90632697 -0.46574643
   1.1169276   1.69222822 -0.61244794 -0.16103251 -0.7592566  -0.88229398
  -0.96092496 -0.96053618]
 [ 0.17201318 -1.40229917  1.         -1.34285714  0.90632697  0.3260225
  -0.02605265  1.69222822 -0.61244794 -0.16103251 -0.7592566  -0.76932491
  -0.86502052 -0.86866494]
 [-1.01595285 -0.04626471  1.          0.6        -1.77324841  0.3260225
  -0.9040228   0.32232919 -1.01289467 -0.75293577 -0.54232614 -0.66576993
  -0.78110412 -0.77679369]
 [-0.37627883 -0.91412676 -1.         -1.34285714  0.90632697  1.90956037
  -1.22670953 -1.04756985  1.25630347 -0.16103251  2.27776981 -0.09151049
  -0.28959382 -0.28947666]
 [ 0.9030692   1.68945941  1.         -1.34285714  0.90632697  1.11779144
  -1.11193951 -1.04756985  0.58889225 -0.16103251  1.19311752  0.79812095
   0.4856338   0.48943172]
 [ 1.81688922 -0.91412676 -1.         -1.34285714  0.90632697 -1.25751537
  -0.4435818   0.32232919 -1.01289467 -0.75293577 -0.54232614 -1.33887731
  -1.34454276 -1.34000436]]
ข้อมูลที่ปรับขนาดใน DataFrame:
    เลขบัตรประชาชน 13 หลัก      อายุ  เพศ     อาชีพ  ประเภทกรมธรรมม์  \
0                -1.381481  0.333425  1.0 -0.371429         0.906327
1                -1.107335  0.821597  1.0  0.600000        -0.433461
2                 0.811687 -0.588678  1.0 -0.371429         0.236433
3                 1.177215  0.550390 -1.0 -0.371429         0.906327
4                 0.080631 -0.968368 -1.0  0.600000         0.236433
5                -0.102133 -0.642920  1.0  1.571429        -0.433461
6                -0.467661 -0.154747 -1.0  1.571429         0.236433
7                -1.564245  0.658873  1.0 -0.371429        -1.773248
8                -0.284897  1.689459  1.0  0.600000         0.906327
9                -0.833189 -1.348058  1.0  0.600000         0.236433
10               -0.193515 -0.208989 -1.0 -0.371429         0.236433
11                1.085833 -1.131092 -1.0  1.571429         0.906327
12                0.720305 -0.154747  1.0 -0.371429         0.906327
13               -1.655627  1.255528  1.0 -1.342857         0.236433
14                0.994451 -0.805644 -1.0  1.571429        -1.773248
15                0.811687 -0.588678  1.0 -0.371429         0.236433
16               -1.198717 -0.425954 -1.0 -0.371429         0.906327
17               -0.650425  0.333425 -1.0  0.600000         0.236433
18                1.268597 -0.588678  1.0 -1.342857        -0.433461
19               -1.564245  0.658873  1.0 -0.371429        -1.773248
20                0.811687 -0.588678  1.0 -0.371429         0.236433
21                0.263395  1.147046 -1.0  0.600000        -0.433461
22               -1.472863  1.526735 -1.0 -0.371429         0.906327
23                1.359979 -1.673506 -1.0 -1.342857        -1.773248
24                0.446159 -1.456541 -1.0  0.600000         0.906327
25                1.542743  1.147046  1.0  1.571429        -1.773248
26               -0.741807 -0.100506 -1.0  1.571429        -1.773248
27                0.354777  1.743701 -1.0  0.600000         0.236433
28               -0.010751  1.147046 -1.0 -1.342857         0.906327
29                0.172013 -1.402299  1.0 -1.342857         0.906327
30               -1.015953 -0.046265  1.0  0.600000        -1.773248
31               -0.376279 -0.914127 -1.0 -1.342857         0.906327
32                0.903069  1.689459  1.0 -1.342857         0.906327
33                1.816889 -0.914127 -1.0 -1.342857         0.906327

    แผนประกันภัย  ค่าเบี้ยประกันภัย  ประเภทของการเคลม  \
0       1.909560          -0.743738         -1.047570
1      -0.465746          -1.455947          0.322329
2       1.117791           0.602806         -1.047570
3       0.326023          -1.113905          1.692228
4      -1.257515          -0.412130          0.322329
5      -1.257515          -1.111940          0.322329
6       0.326023          -0.743738          0.322329
7       0.326023           1.434171         -1.047570
8       0.326023          -0.018978         -1.047570
9      -0.465746           1.434171          1.692228
10     -1.257515           1.434171          0.322329
11      0.326023           1.153823         -1.047570
12     -1.257515          -0.443582          0.322329
13     -1.257515          -1.278273         -1.047570
14     -1.257515           0.905835         -1.047570
15      1.117791           0.602806         -1.047570
16      0.326023          -0.412130          0.322329
17     -0.465746           1.434171          0.322329
18      0.326023          -0.760522          1.692228
19      0.326023           1.434171         -1.047570
20      1.117791           0.602806         -1.047570
21     -0.465746           0.392924          1.692228
22     -0.465746           1.434171          0.322329
23     -0.465746          -0.018978         -1.047570
24      1.117791          -0.443582          0.322329
25     -1.257515          -1.042079          0.322329
26     -1.257515           1.184822          0.322329
27      1.909560          -1.455947         -1.047570
28     -0.465746           1.116928          1.692228
29      0.326023          -0.026053          1.692228
30      0.326023          -0.904023          0.322329
31      1.909560          -1.226710         -1.047570
32      1.117791          -1.111940         -1.047570
33     -1.257515          -0.443582          0.322329

    จำนวนเงินความเสียหายที่ยังไม่จ่าย (GRS OS)  \
0                                     1.256303
1                                    -0.478966
2                                     1.256303
3                                    -1.146377
4                                    -0.745930
5                                    -0.478966
6                                    -0.478966
7                                     1.256303
8                                     1.256303
9                                    -1.146377
10                                   -0.745930
11                                    1.256303
12                                   -1.012895
13                                    1.256303
14                                    1.256303
15                                    1.256303
16                                   -0.478966
17                                   -1.012895
18                                   -0.879412
19                                    1.256303
20                                    1.256303
21                                   -0.879412
22                                   -1.012895
23                                    1.256303
24                                   -1.012895
25                                   -0.478966
26                                   -1.012895
27                                    0.588892
28                                   -0.612448
29                                   -0.612448
30                                   -1.012895
31                                    1.256303
32                                    0.588892
33                                   -1.012895

    จำนวนเงินความเสียหายที่เกิดขึ้น (Claim Incurred)  \
0                                           1.762653
1                                          -0.604960
2                                           1.762653
3                                          -0.752936
4                                          -0.604960
5                                          -0.604960
6                                          -0.604960
7                                           1.762653
8                                          -0.161033
9                                          -0.752936
10                                         -0.604960
11                                         -0.161033
12                                         -0.752936
13                                         -0.161033
14                                          1.762653
15                                          1.762653
16                                         -0.604960
17                                         -0.752936
18                                         -0.604960
19                                          1.762653
20                                          1.762653
21                                         -0.604960
22                                         -0.752936
23                                          1.762653
24                                         -0.752936
25                                         -0.604960
26                                         -0.752936
27                                         -0.752936
28                                         -0.161033
29                                         -0.161033
30                                         -0.752936
31                                         -0.161033
32                                         -0.161033
33                                         -0.752936

    จำนวนเงินความเสียหายที่บริษัทจ่ายไป (GRS Paid)  date1_numeric  \
0                                        -0.542326      -1.338877
1                                         0.108465      -0.298620
2                                        -0.542326       1.395916
3                                        -0.759257      -0.251550
4                                        -0.325396       0.092064
5                                         0.108465       0.289760
6                                         0.108465       1.089958
7                                        -0.542326      -1.889602
8                                         2.277770       0.991110
9                                        -0.759257      -0.039733
10                                       -0.325396       0.388608
11                                        2.277770       0.901676
12                                       -0.542326       1.339431
13                                        2.277770       0.101478
14                                       -0.542326       1.127614
15                                       -0.542326       1.395916
16                                        0.108465      -1.150596
17                                       -0.542326      -1.818996
18                                       -0.542326       0.713394
19                                       -0.542326      -1.889602
20                                       -0.542326       1.395916
21                                       -0.542326       0.525112
22                                       -0.542326       0.675738
23                                       -0.542326       0.129721
24                                       -0.542326      -1.225908
25                                        0.108465      -0.712840
26                                       -0.542326       0.285053
27                                        2.060839       0.727515
28                                       -0.759257      -0.882294
29                                       -0.759257      -0.769325
30                                       -0.542326      -0.665770
31                                        2.277770      -0.091510
32                                        1.193118       0.798121
33                                       -0.542326      -1.338877

    date2_numeric  date3_numeric
0       -1.352535      -1.347993
1       -0.465419      -0.461236
2        1.692431       1.695741
3       -0.413470      -0.409309
4        0.577542       0.577309
5        0.026092       0.022087
6        1.428694       1.424122
7       -1.824065      -1.827321
8        0.621498       0.621247
9        0.477642       0.473454
10       0.829291       0.832950
11       0.541578       0.537365
12       0.941180       0.936805
13       0.597522       0.597281
14       0.753367       0.753062
15       1.692431       1.695741
16      -1.188698      -1.188217
17      -1.028857      -1.024447
18       0.393725       0.393566
19      -1.824065      -1.827321
20       1.692431       1.695741
21       0.241877       0.245773
22       0.369749       0.369600
23      -0.101781      -0.105734
24      -1.256630      -1.260116
25      -0.817068      -0.820732
26       0.026092       0.026081
27       1.124997       1.120547
28      -0.960925      -0.960536
29      -0.865021      -0.868665
30      -0.781104      -0.776794
31      -0.289594      -0.289477
32       0.485634       0.489432
33      -1.344543      -1.340004

# สมดุลข้อมูล

In [23]:
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import SMOTE

# สร้าง SMOTE ที่มีการตั้งค่า k_neighbors
smote = SMOTE(k_neighbors=1, random_state=0)

# สร้าง SMOTEENN โดยใช้ SMOTE ที่สร้างขึ้น
smote_enn = SMOTEENN(smote=smote, sampling_strategy='auto', random_state=0)

# ทำการ resample
X_resampled_enn, y_resampled_enn = smote_enn.fit_resample(X_train, y_train)

# แสดงผล
print(sorted(Counter(y_resampled_enn).items()))

[(1, 9), (2, 8)]

In [ ]:
from collections import Counter
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=5000, n_features=2, n_informative=2,
                           n_redundant=0, n_repeated=0, n_classes=3,
                           n_clusters_per_class=1,
                           weights=[0.01, 0.05, 0.94],
                           class_sep=0.8, random_state=0)
print(sorted(Counter(y).items()))
[(0, 64), (1, 262), (2, 4674)]
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
print(sorted(Counter(y_resampled).items()))
[(0, 4060), (1, 4381), (2, 3502)]
from imblearn.combine import SMOTETomek
smote_tomek = SMOTETomek(random_state=0)
X_resampled, y_resampled = smote_tomek.fit_resample(X, y)
print(sorted(Counter(y_resampled).items()))
[(0, 4499), (1, 4566), (2, 4413)]