<a href="https://colab.research.google.com/github/Suchada2000/MY-WORK/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
exit()

In [ ]:
pip install pandas scikit-learn openpyxl
#pandas read excal
#openpyxl อ่านไฟล์ excal
#scikit-learn standardization

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# 1. อ่านข้อมูลจากไฟล์ Excel
df = pd.read_excel("/content/sample_data/Databaseใหม่.xlsx")

# 2. ดูข้อมูลใน DataFrame
print("Original Data:")
print(df)

Original Data:
     chdrnum       UNIT_DESC  cownnum
0   31503378          AGENCY   637084
1   31362289          AGENCY   887918
2   31380352          AGENCY   675582
3   31380352          AGENCY   675582
4   34881057          DIRECT  1299239
5   34881235          DIRECT  1299598
6   31380265          DIRECT   933179
7   31380352          AGENCY   675582
8   31380352          AGENCY   675582
9   31380352          AGENCY   675582
10  34881523          DIRECT  1294172
11  34881523          DIRECT  1294172
12  34951121  IN-HOUSE AGENT   841044
13  34951121  IN-HOUSE AGENT   841044
14  34951121  IN-HOUSE AGENT   841044
15  34951121  IN-HOUSE AGENT   841044
16  34951121  IN-HOUSE AGENT   841044
17  35511371          DIRECT  1049123
18  35528224          AGENCY   942361

In [4]:
df

     chdrnum       UNIT_DESC  cownnum
0   31503378          AGENCY   637084
1   31362289          AGENCY   887918
2   31380352          AGENCY   675582
3   31380352          AGENCY   675582
4   34881057          DIRECT  1299239
5   34881235          DIRECT  1299598
6   31380265          DIRECT   933179
7   31380352          AGENCY   675582
8   31380352          AGENCY   675582
9   31380352          AGENCY   675582
10  34881523          DIRECT  1294172
11  34881523          DIRECT  1294172
12  34951121  IN-HOUSE AGENT   841044
13  34951121  IN-HOUSE AGENT   841044
14  34951121  IN-HOUSE AGENT   841044
15  34951121  IN-HOUSE AGENT   841044
16  34951121  IN-HOUSE AGENT   841044
17  35511371          DIRECT  1049123
18  35528224          AGENCY   942361

In [5]:
df = pd.DataFrame(df)

# แปลงคอลัมน์ 'Amount' เป็นตัวเลข โดยแปลงค่าที่ไม่สามารถแปลงเป็น NaN
df['UNIT_DESC'] = df['UNIT_DESC'].replace('AGENCY', 0)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('DIRECT', 1)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('BROKER', 2)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('IN-HOUSE AGENT', 3)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('BANCASSURANCE', 4)

# แสดงผลลัพธ์
print(df)

     chdrnum  UNIT_DESC  cownnum
0   31503378          0   637084
1   31362289          0   887918
2   31380352          0   675582
3   31380352          0   675582
4   34881057          1  1299239
5   34881235          1  1299598
6   31380265          1   933179
7   31380352          0   675582
8   31380352          0   675582
9   31380352          0   675582
10  34881523          1  1294172
11  34881523          1  1294172
12  34951121          3   841044
13  34951121          3   841044
14  34951121          3   841044
15  34951121          3   841044
16  34951121          3   841044
17  35511371          1  1049123
18  35528224          0   942361

<ipython-input-5-6546e0f749be>:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['UNIT_DESC'] = df['UNIT_DESC'].replace('IN-HOUSE AGENT', 3)

In [6]:
df

     chdrnum  UNIT_DESC  cownnum
0   31503378          0   637084
1   31362289          0   887918
2   31380352          0   675582
3   31380352          0   675582
4   34881057          1  1299239
5   34881235          1  1299598
6   31380265          1   933179
7   31380352          0   675582
8   31380352          0   675582
9   31380352          0   675582
10  34881523          1  1294172
11  34881523          1  1294172
12  34951121          3   841044
13  34951121          3   841044
14  34951121          3   841044
15  34951121          3   841044
16  34951121          3   841044
17  35511371          1  1049123
18  35528224          0   942361

In [7]:
from sklearn import preprocessing

In [8]:
scaler = preprocessing.StandardScaler().fit(df)

In [9]:
scaler.mean_ #ค่าเฉลี่ยของแต่ละพีเจอร์

array([3.34983279e+07, 1.10526316e+00, 9.06314526e+05])

In [10]:
scaler.scale_ #ส่วนเบี่ยงเบนมาตรฐานแต่ละฟีเจอร์ คอลัม

array([1.80400835e+06, 1.20938161e+00, 2.28571754e+05])

In [11]:
# 3. สร้าง StandardScaler และทำการ fit กับข้อมูล
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

# 4. เปลี่ยนข้อมูลที่ถูก Standardized กลับเป็น DataFrame เพื่อให้ดูได้ง่าย
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

# 5. ดูข้อมูลหลังจากทำการ Standardization
print("\nStandardized Data:")
print(df_scaled)

Standardized Data:
     chdrnum  UNIT_DESC   cownnum
0  -1.105843  -0.913908 -1.177882
1  -1.184052  -0.913908 -0.080485
2  -1.174039  -0.913908 -1.009453
3  -1.174039  -0.913908 -1.009453
4   0.766476  -0.087039  1.719042
5   0.766575  -0.087039  1.720613
6  -1.174087  -0.087039  0.117532
7  -1.174039  -0.913908 -1.009453
8  -1.174039  -0.913908 -1.009453
9  -1.174039  -0.913908 -1.009453
10  0.766734  -0.087039  1.696874
11  0.766734  -0.087039  1.696874
12  0.805314   1.566699 -0.285558
13  0.805314   1.566699 -0.285558
14  0.805314   1.566699 -0.285558
15  0.805314   1.566699 -0.285558
16  0.805314   1.566699 -0.285558
17  1.115872  -0.087039  0.624786
18  1.125214  -0.913908  0.157703

In [12]:
# 3. สร้าง StandardScaler และทำการ fit กับข้อมูล
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

In [13]:
df_scaled

array([[-1.10584294, -0.91390769, -1.17788187],
       [-1.18405156, -0.91390769, -0.08048469],
       [-1.17403886, -0.91390769, -1.00945336],
       [-1.17403886, -0.91390769, -1.00945336],
       [ 0.766476  , -0.08703883,  1.71904212],
       [ 0.76657467, -0.08703883,  1.72061275],
       [-1.17408708, -0.08703883,  0.1175319 ],
       [-1.17403886, -0.91390769, -1.00945336],
       [-1.17403886, -0.91390769, -1.00945336],
       [-1.17403886, -0.91390769, -1.00945336],
       [ 0.76673432, -0.08703883,  1.69687403],
       [ 0.76673432, -0.08703883,  1.69687403],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 1.11587239, -0.08703883,  0.62478618],
       [ 1.12521436, -0.91390769,  0.1577031 ]])

In [14]:
# สร้าง StandardScaler
scaler = StandardScaler()

# ทำการ fit และ transform ข้อมูล
df_scaled = scaler.fit_transform(df)

# แปลงข้อมูลให้เป็น DataFrame และตรวจสอบผล
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

In [15]:
df.isna().sum()  # ดูว่ามีค่า NaN ในคอลัมน์ไหนบ้าง
df = df.fillna(0)

In [16]:
df = df.fillna(df.mean())

In [17]:
df_scaled.mean(axis=0) #ค่าไม่เป็น ?????????????????????????

chdrnum      4.090295e-16
UNIT_DESC   -8.764919e-17
cownnum      1.913674e-16
dtype: float64

In [18]:
df = df.select_dtypes(include=['float64', 'int64'])

In [19]:
df_scaled.std(axis=0)

chdrnum      1.027402
UNIT_DESC    1.027402
cownnum      1.027402
dtype: float64

In [20]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

#สร้างชุดข้อมูลจำลอง
X, y = make_classification(random_state=42)
#แบ่งออกเป็นชุดฝึกและทดสอบ
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
#สร้าง Pipeline ที่ประกอบด้วยการปรับมาตรฐาน (StandardScaler) และการฝึก Logistic Regression
pipe = make_pipeline(StandardScaler(), LogisticRegression())
#ฝึก
pipe.fit(X_train, y_train)  # apply scaling on training data
Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])
#ทำนาย
pipe.score(X_test, y_test)  # apply scaling on testing data, without leaking training data เอาไว้ทดสอบความแม่นยำ

0.96

In [21]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [22]:
min_max_scaler = MinMaxScaler()

In [23]:
df_minmax = min_max_scaler.fit_transform(df)

In [24]:
print(df_minmax)

[[0.03386731 0.         0.        ]
 [0.         0.         0.37860936]
 [0.00433588 0.         0.05810896]
 [0.00433588 0.         0.05810896]
 [0.84465264 0.33333333 0.99945812]
 [0.84469537 0.33333333 1.        ]
 [0.004315   0.33333333 0.4469264 ]
 [0.00433588 0.         0.05810896]
 [0.00433588 0.         0.05810896]
 [0.00433588 0.         0.05810896]
 [0.8447645  0.33333333 0.99180998]
 [0.8447645  0.33333333 0.99180998]
 [0.86147095 1.         0.30785765]
 [0.86147095 1.         0.30785765]
 [0.86147095 1.         0.30785765]
 [0.86147095 1.         0.30785765]
 [0.86147095 1.         0.30785765]
 [0.99595457 0.33333333 0.62193252]
 [1.         0.         0.46078573]]

In [25]:
x = df[['chdrnum', 'cownnum']]  # Features (ข้อมูลที่ใช้ในการฝึก)
y = df['UNIT_DESC']  # Labels (ข้อมูลคำตอบ)

In [26]:
print("จำนวนแถวใน DataFrame:", df.shape)

จำนวนแถวใน DataFrame: (19, 3)

In [27]:
x = df[['chdrnum', 'cownnum']]  # Features (ข้อมูลที่ใช้ในการฝึก)
y = df['UNIT_DESC']  # Labels (ข้อมูลคำตอบ)

In [28]:
print("Shape ของ x:", x.shape)
print("Shape ของ y:", y.shape)

Shape ของ x: (19, 2)
Shape ของ y: (19,)

In [29]:
df_cleaned = df.dropna()

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

การปรับขนาดแบบ Normalization หรือ การปรับขนาดแบบ Min-Max

In [31]:
min_max_scaler = MinMaxScaler()

In [32]:
x_train_minmax = min_max_scaler.fit_transform(x_train)

In [33]:
x_test_minmax = min_max_scaler.transform(x_test)

In [34]:
print("ข้อมูลที่ปรับขนาดแล้วใน x_train:")
print(x_train_minmax)

print("ข้อมูลที่ปรับขนาดแล้วใน x_test:")
print(x_test_minmax)

ข้อมูลที่ปรับขนาดแล้วใน x_train:
[[2.09741707e-05 0.00000000e+00]
 [8.60870611e-01 2.65309297e-01]
 [2.09741707e-05 0.00000000e+00]
 [8.60870611e-01 2.65309297e-01]
 [8.60870611e-01 2.65309297e-01]
 [9.95937038e-01 5.98952629e-01]
 [2.09741707e-05 0.00000000e+00]
 [2.09741707e-05 0.00000000e+00]
 [1.00000000e+00 4.27765583e-01]
 [8.43979413e-01 1.00000000e+00]
 [8.60870611e-01 2.65309297e-01]
 [2.09741707e-05 0.00000000e+00]
 [8.44091757e-01 9.91875342e-01]
 [8.60870611e-01 2.65309297e-01]
 [0.00000000e+00 4.13042746e-01]]
ข้อมูลที่ปรับขนาดแล้วใน x_test:
[[ 0.02968038 -0.06172944]
 [ 0.84402233  1.00057564]
 [ 0.84409176  0.99187534]
 [-0.0043337   0.3404692 ]]

In [35]:
min_max_scaler.scale_

array([2.41082421e-07, 1.60344548e-06])

การปรับขนาดที่ใช้ค่ามากสุดแบบสัมบูรณ์ (Maximum Absolute Value Scaling)

In [38]:
from sklearn import preprocessing

In [40]:
max_abs_scaler = preprocessing.MaxAbsScaler()

In [41]:
x_train_maxabs = max_abs_scaler.fit_transform(x_train)

In [42]:
x_train_maxabs

array([[0.88325136, 0.51998285],
       [0.98375649, 0.64733586],
       [0.88325136, 0.51998285],
       [0.98375649, 0.64733586],
       [0.98375649, 0.64733586],
       [0.99952564, 0.80749038],
       [0.88325136, 0.51998285],
       [0.88325136, 0.51998285],
       [1.        , 0.72531767],
       [0.98178443, 1.        ],
       [0.98375649, 0.64733586],
       [0.88325136, 0.51998285],
       [0.98179754, 0.99610002],
       [0.98375649, 0.64733586],
       [0.88324891, 0.71825045]])

การปรับขนาดแบบ Robust

In [43]:
from sklearn.preprocessing import RobustScaler

In [44]:
scaler = RobustScaler()

# ฟิตและแปลงข้อมูล
x_scaled = scaler.fit_transform(x)

# แสดงข้อมูลที่ถูกแปลง
print(x_scaled)

[[-9.45974663e-01 -6.37056472e-01]
 [-9.85486880e-01  1.46408046e-01]
 [-9.80428305e-01 -5.16810345e-01]
 [-9.80428305e-01 -5.16810345e-01]
 [-4.98492062e-05  1.43114380e+00]
 [ 0.00000000e+00  1.43226512e+00]
 [-9.80452670e-01  2.87777986e-01]
 [-9.80428305e-01 -5.16810345e-01]
 [-9.80428305e-01 -5.16810345e-01]
 [-9.80428305e-01 -5.16810345e-01]
 [ 8.06548953e-05  1.41531734e+00]
 [ 8.06548953e-05  1.41531734e+00]
 [ 1.95716945e-02  0.00000000e+00]
 [ 1.95716945e-02  0.00000000e+00]
 [ 1.95716945e-02  0.00000000e+00]
 [ 1.95716945e-02  0.00000000e+00]
 [ 1.95716945e-02  0.00000000e+00]
 [ 1.76470671e-01  6.49921914e-01]
 [ 1.81190382e-01  3.16457396e-01]]

นำไฟล์ออก

In [36]:
df.to_excel('D:\output_file.xlsx', index=False)