<a href="https://colab.research.google.com/github/Suchada2000/MY-WORK/blob/main/Untitled43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:

import pandas as pd

# อ่านไฟล์ Excel
df = pd.read_excel('/content/sample_data/CLAIM_TA_2023_2024_FINAL.xlsx')

In [54]:
df = df.drop(columns=['ReserveCode','Plan_','ExpireDate'])

❌

เติมค่าว่างวันที่

In [55]:
import numpy as np
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

<ipython-input-55-83f14fa381f3>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [56]:
df.isnull().sum()

ID_Card                0
AGE                    0
Policy_Class           0
Premium                0
DATESALE             586
INCDTE                 0
DATREP                 0
DATOCC                 0
ReseveDescription     41
GRS_OS                 0
GRS_PAID               0
GIC                    0
Remark                 0
dtype: int64

In [57]:
# สมมติว่า df เป็น DataFrame ของคุณ

# ตารางที่มี Plan_ เป็นค่าว่าง
df_missing = df[df['DATESALE'].isnull()]

# ตารางที่ไม่มี Plan_ เป็นค่าว่าง
df_not_missing = df[df['DATESALE'].notnull()]

# ตรวจสอบผลลัพธ์
print("ตารางที่มี DATESALE เป็นค่าว่าง:")
print(df_missing.head())

print("\nตารางที่ไม่มี DATESALE เป็นค่าว่าง:")
print(df_not_missing.head())

ตารางที่มี DATESALE เป็นค่าว่าง:
        ID_Card  AGE Policy_Class  Premium DATESALE    INCDTE    DATREP  \
5897  000005803    0          GAT   1708.0      NaT  20230324  20230410
5898  000005804    0          GAT   1272.0      NaT  20241021  20241118
6007  000005913    0          GAT   7760.0      NaT  20230821  20230913
6008  000005914    0          GAT  26730.0      NaT  20231013  20231115
6009  000005915    0          GAT   1421.0      NaT  20231016  20231114

        DATOCC     ReseveDescription  GRS_OS  GRS_PAID     GIC Remark
5897  20230325  GP/A Medical Expense     0.0    2407.0  2407.0      N
5898  20241025  GP/A Medical Expense     0.0    1202.0  1202.0      N
6007  20230825  GP/A Medical Expense     0.0    3620.0  3620.0      N
6008  20231013  GP/A Medical Expense     1.0       0.0     1.0      N
6009  20231017  GP/A Medical Expense     0.0    4153.0  4153.0      N

ตารางที่ไม่มี DATESALE เป็นค่าว่าง:
     ID_Card  AGE Policy_Class  Premium            DATESALE    INCDTE  \
0  000000002   34          PWT  3170.50 2023-10-07 19:05:32  20231102
1  000000008   35          PWT  6953.00 2023-09-21 12:03:03  20231001
2  000000007   35          PWT  6953.00 2023-09-21 12:03:03  20231001
3  000000002   34          PWT  3170.50 2023-10-07 19:05:32  20231102
4  000000019   40          PWT  1134.75 2023-11-29 06:05:48  20231129

     DATREP    DATOCC           ReseveDescription  GRS_OS  GRS_PAID      GIC  \
0  20240213  20240122  Trip Cancellation Coverage     0.0    5970.0   5970.0
1  20240701  20240601       Flight Delay Coverage     0.0   28000.0  28000.0
2  20241002  20240927      Baggage Delay Coverage     0.0   35000.0  35000.0
3  20240213  20240122  Baggage & Personal Effects     0.0    3570.0   3570.0
4  20231208  20231201              Daily Benefits     0.0   18000.0  18000.0

  Remark
0      Y
1      Y
2      Y
3      Y
4      Y

In [58]:
df_not_missing

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
0,000000002,34,PWT,3170.50,2023-10-07 19:05:32,20231102,20240213,20240122,Trip Cancellation Coverage,0.0,5970.00,5970.00,Y
1,000000008,35,PWT,6953.00,2023-09-21 12:03:03,20231001,20240701,20240601,Flight Delay Coverage,0.0,28000.00,28000.00,Y
2,000000007,35,PWT,6953.00,2023-09-21 12:03:03,20231001,20241002,20240927,Baggage Delay Coverage,0.0,35000.00,35000.00,Y
3,000000002,34,PWT,3170.50,2023-10-07 19:05:32,20231102,20240213,20240122,Baggage & Personal Effects,0.0,3570.00,3570.00,Y
4,000000019,40,PWT,1134.75,2023-11-29 06:05:48,20231129,20231208,20231201,Daily Benefits,0.0,18000.00,18000.00,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,'0000254010159,55,PWT,1570.50,2024-03-29 08:37:28,20240804,20241030,20240807,GP/A Medical Expense,2000.0,16749.58,18749.58,N
38313,'0000254010159,55,PWT,1570.50,2024-03-29 08:37:28,20240804,20241030,20240807,Transportation Cost for OPD,0.0,1000.00,1000.00,N
38314,'0000254010160,49,PWT,3357.00,2023-02-07 15:49:07,20230726,20230822,20230803,Baggage Delay Coverage,0.0,3000.00,3000.00,N
38315,'0000254010160,49,PWT,3357.00,2023-02-07 15:49:07,20230726,20231117,20231022,Baggage & Personal Effects,1.0,0.00,1.00,N
38316,'0000254010160,49,PWT,3357.00,2023-02-07 15:49:07,20230726,20231213,20230731,Rental Vehicle Excess,0.0,15000.00,15000.00,N

In [59]:
df_missing

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
5897,000005803,0,GAT,1708.0,NaT,20230324,20230410,20230325,GP/A Medical Expense,0.0,2407.00,2407.00,N
5898,000005804,0,GAT,1272.0,NaT,20241021,20241118,20241025,GP/A Medical Expense,0.0,1202.00,1202.00,N
6007,000005913,0,GAT,7760.0,NaT,20230821,20230913,20230825,GP/A Medical Expense,0.0,3620.00,3620.00,N
6008,000005914,0,GAT,26730.0,NaT,20231013,20231115,20231013,GP/A Medical Expense,1.0,0.00,1.00,N
6009,000005915,0,GAT,1421.0,NaT,20231016,20231114,20231017,GP/A Medical Expense,0.0,4153.00,4153.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,20980.0,NaT,20220503,20230301,20230217,GP/A Medical Expense,0.0,5291.79,5291.79,N
38184,0000254010110,55,GWW,214846.0,NaT,20240723,20240827,20240730,GP/A Medical Expense,400000.0,0.00,400000.00,N
38185,0000254010110,55,GWW,214846.0,NaT,20240723,20240827,20240730,GP/A Others,20000.0,0.00,20000.00,N
38273,0000254010147,0,GTS,62480.0,NaT,20230623,20240222,20240117,GP/A Medical Expense,0.0,1428.00,1428.00,N
38274,0000254010147,0,GTS,62480.0,NaT,20230623,20240105,20231021,GP/A Medical Expense,0.0,44723.00,44723.00,N

df_not_missing

In [60]:
# แปลงคอลัมน์ DATESALE เป็น datetime โดยไม่ระบุ format และจัดการกับข้อผิดพลาด
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATESALE'] = df_not_missing['DATESALE'].dt.strftime('%Y-%m-%d')

<ipython-input-60-dabede504ad1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], errors='coerce')
<ipython-input-60-dabede504ad1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = df_not_missing['DATESALE'].dt.strftime('%Y-%m-%d')

In [61]:
# แปลงคอลัมน์ DATESALE เป็น string แล้วค่อยแปลงเป็น datetime โดยระบุ format
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'].astype(str), format='%Y%m%d', errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_not_missing['INCDTE'] = df_not_missing['INCDTE'].dt.strftime('%Y-%m-%d')

<ipython-input-61-007d33c2a900>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'].astype(str), format='%Y%m%d', errors='coerce')
<ipython-input-61-007d33c2a900>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = df_not_missing['INCDTE'].dt.strftime('%Y-%m-%d')

In [62]:
# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATREP'] = df_not_missing['DATREP'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATOCC'] = df_not_missing['DATOCC'].dt.strftime('%Y-%m-%d')

<ipython-input-62-57cfbf7e1831>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'].astype(str), format='%Y%m%d')
<ipython-input-62-57cfbf7e1831>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = df_not_missing['DATREP'].dt.strftime('%Y-%m-%d')
<ipython-input-62-57cfbf7e1831>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'].astype(str), format='%Y%m%d')
<ipython-input-62-57cfbf7e1831>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = df_not_missing['DATOCC'].dt.strftime('%Y-%m-%d')

In [63]:
df_not_missing

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
0,000000002,34,PWT,3170.50,2023-10-07,2023-11-02,2024-02-13,2024-01-22,Trip Cancellation Coverage,0.0,5970.00,5970.00,Y
1,000000008,35,PWT,6953.00,2023-09-21,2023-10-01,2024-07-01,2024-06-01,Flight Delay Coverage,0.0,28000.00,28000.00,Y
2,000000007,35,PWT,6953.00,2023-09-21,2023-10-01,2024-10-02,2024-09-27,Baggage Delay Coverage,0.0,35000.00,35000.00,Y
3,000000002,34,PWT,3170.50,2023-10-07,2023-11-02,2024-02-13,2024-01-22,Baggage & Personal Effects,0.0,3570.00,3570.00,Y
4,000000019,40,PWT,1134.75,2023-11-29,2023-11-29,2023-12-08,2023-12-01,Daily Benefits,0.0,18000.00,18000.00,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,'0000254010159,55,PWT,1570.50,2024-03-29,2024-08-04,2024-10-30,2024-08-07,GP/A Medical Expense,2000.0,16749.58,18749.58,N
38313,'0000254010159,55,PWT,1570.50,2024-03-29,2024-08-04,2024-10-30,2024-08-07,Transportation Cost for OPD,0.0,1000.00,1000.00,N
38314,'0000254010160,49,PWT,3357.00,2023-02-07,2023-07-26,2023-08-22,2023-08-03,Baggage Delay Coverage,0.0,3000.00,3000.00,N
38315,'0000254010160,49,PWT,3357.00,2023-02-07,2023-07-26,2023-11-17,2023-10-22,Baggage & Personal Effects,1.0,0.00,1.00,N
38316,'0000254010160,49,PWT,3357.00,2023-02-07,2023-07-26,2023-12-13,2023-07-31,Rental Vehicle Excess,0.0,15000.00,15000.00,N

In [64]:
# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')

# คำนวณความต่างของวัน
df_not_missing['date_difference'] = (df_not_missing['INCDTE'] - df_not_missing['DATESALE']).dt.days

<ipython-input-64-58e63643be80>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
<ipython-input-64-58e63643be80>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')
<ipython-input-64-58e63643be80>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['date_difference'] = (df_not_missing['INCDTE'] - df_not_missing['DATESALE']).dt.days

In [65]:
# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'], format='mixed', errors='coerce')
df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'], format='mixed', errors='coerce')

<ipython-input-65-dbf71baa249e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'], format='mixed', errors='coerce')
<ipython-input-65-dbf71baa249e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'], format='mixed', errors='coerce')

In [66]:
df_not_missing['ReseveDescription'].mode()[0]

'GP/A Medical Expense'

In [67]:
df_not_missing['ReseveDescription'] = df_not_missing['ReseveDescription'].fillna('GP/A Medical Expense')

<ipython-input-67-34750cec6d3c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ReseveDescription'] = df_not_missing['ReseveDescription'].fillna('GP/A Medical Expense')

df_missing

In [68]:
df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE']).dt.strftime('%Y-%m-%d')

<ipython-input-68-e4e45b614958>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE']).dt.strftime('%Y-%m-%d')

In [69]:
df_missing

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
5897,000005803,0,GAT,1708.0,NaN,20230324,20230410,20230325,GP/A Medical Expense,0.0,2407.00,2407.00,N
5898,000005804,0,GAT,1272.0,NaN,20241021,20241118,20241025,GP/A Medical Expense,0.0,1202.00,1202.00,N
6007,000005913,0,GAT,7760.0,NaN,20230821,20230913,20230825,GP/A Medical Expense,0.0,3620.00,3620.00,N
6008,000005914,0,GAT,26730.0,NaN,20231013,20231115,20231013,GP/A Medical Expense,1.0,0.00,1.00,N
6009,000005915,0,GAT,1421.0,NaN,20231016,20231114,20231017,GP/A Medical Expense,0.0,4153.00,4153.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,20980.0,NaN,20220503,20230301,20230217,GP/A Medical Expense,0.0,5291.79,5291.79,N
38184,0000254010110,55,GWW,214846.0,NaN,20240723,20240827,20240730,GP/A Medical Expense,400000.0,0.00,400000.00,N
38185,0000254010110,55,GWW,214846.0,NaN,20240723,20240827,20240730,GP/A Others,20000.0,0.00,20000.00,N
38273,0000254010147,0,GTS,62480.0,NaN,20230623,20240222,20240117,GP/A Medical Expense,0.0,1428.00,1428.00,N
38274,0000254010147,0,GTS,62480.0,NaN,20230623,20240105,20231021,GP/A Medical Expense,0.0,44723.00,44723.00,N

In [70]:
df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')

<ipython-input-70-257c08447173>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')

In [71]:
# แปลงคอลัมน์ DATESALE เป็น datetime โดยไม่ระบุ format และจัดการกับข้อผิดพลาด
df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_missing['DATESALE'] = df_missing['DATESALE'].dt.strftime('%Y-%m-%d')

<ipython-input-71-916b08e74fe2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], errors='coerce')
<ipython-input-71-916b08e74fe2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = df_missing['DATESALE'].dt.strftime('%Y-%m-%d')

In [72]:
# แปลงคอลัมน์ DATESALE เป็น string แล้วค่อยแปลงเป็น datetime โดยระบุ format
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'].astype(str), format='%Y%m%d', errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_missing['INCDTE'] = df_missing['INCDTE'].dt.strftime('%Y-%m-%d')

<ipython-input-72-8f2bb9d81b95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'].astype(str), format='%Y%m%d', errors='coerce')
<ipython-input-72-8f2bb9d81b95>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = df_missing['INCDTE'].dt.strftime('%Y-%m-%d')

In [73]:
# แปลงคอลัมน์ DATESALE เป็น string แล้วค่อยแปลงเป็น datetime โดยระบุ format
df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'].astype(str), format='%Y%m%d', errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_missing['DATREP'] = df_missing['DATREP'].dt.strftime('%Y-%m-%d')

<ipython-input-73-994e6494a486>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'].astype(str), format='%Y%m%d', errors='coerce')
<ipython-input-73-994e6494a486>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATREP'] = df_missing['DATREP'].dt.strftime('%Y-%m-%d')

In [74]:
# แปลงคอลัมน์ DATESALE เป็น string แล้วค่อยแปลงเป็น datetime โดยระบุ format
df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'].astype(str), format='%Y%m%d', errors='coerce')

# แปลงให้เป็นรูปแบบ YYYY-MM-DD
df_missing['DATOCC'] = df_missing['DATOCC'].dt.strftime('%Y-%m-%d')

<ipython-input-74-a416781266b0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'].astype(str), format='%Y%m%d', errors='coerce')
<ipython-input-74-a416781266b0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATOCC'] = df_missing['DATOCC'].dt.strftime('%Y-%m-%d')

In [75]:
df_missing

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
5897,000005803,0,GAT,1708.0,NaN,2023-03-24,2023-04-10,2023-03-25,GP/A Medical Expense,0.0,2407.00,2407.00,N
5898,000005804,0,GAT,1272.0,NaN,2024-10-21,2024-11-18,2024-10-25,GP/A Medical Expense,0.0,1202.00,1202.00,N
6007,000005913,0,GAT,7760.0,NaN,2023-08-21,2023-09-13,2023-08-25,GP/A Medical Expense,0.0,3620.00,3620.00,N
6008,000005914,0,GAT,26730.0,NaN,2023-10-13,2023-11-15,2023-10-13,GP/A Medical Expense,1.0,0.00,1.00,N
6009,000005915,0,GAT,1421.0,NaN,2023-10-16,2023-11-14,2023-10-17,GP/A Medical Expense,0.0,4153.00,4153.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,20980.0,NaN,2022-05-03,2023-03-01,2023-02-17,GP/A Medical Expense,0.0,5291.79,5291.79,N
38184,0000254010110,55,GWW,214846.0,NaN,2024-07-23,2024-08-27,2024-07-30,GP/A Medical Expense,400000.0,0.00,400000.00,N
38185,0000254010110,55,GWW,214846.0,NaN,2024-07-23,2024-08-27,2024-07-30,GP/A Others,20000.0,0.00,20000.00,N
38273,0000254010147,0,GTS,62480.0,NaN,2023-06-23,2024-02-22,2024-01-17,GP/A Medical Expense,0.0,1428.00,1428.00,N
38274,0000254010147,0,GTS,62480.0,NaN,2023-06-23,2024-01-05,2023-10-21,GP/A Medical Expense,0.0,44723.00,44723.00,N

♈

In [76]:
print(df_missing.dtypes)

ID_Card               object
AGE                    int64
Policy_Class          object
Premium              float64
DATESALE              object
INCDTE                object
DATREP                object
DATOCC                object
ReseveDescription     object
GRS_OS               float64
GRS_PAID             float64
GIC                  float64
Remark                object
dtype: object

In [77]:
# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'], format='mixed', errors='coerce')

<ipython-input-77-e7c89d90af5f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE'], format='mixed', errors='coerce')
<ipython-input-77-e7c89d90af5f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'], format='mixed', errors='coerce')

In [78]:
# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'], format='mixed', errors='coerce')
df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'], format='mixed', errors='coerce')

<ipython-input-78-77f6a500f95e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'], format='mixed', errors='coerce')
<ipython-input-78-77f6a500f95e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'], format='mixed', errors='coerce')

In [79]:
df_missing

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
5897,000005803,0,GAT,1708.0,NaT,2023-03-24,2023-04-10,2023-03-25,GP/A Medical Expense,0.0,2407.00,2407.00,N
5898,000005804,0,GAT,1272.0,NaT,2024-10-21,2024-11-18,2024-10-25,GP/A Medical Expense,0.0,1202.00,1202.00,N
6007,000005913,0,GAT,7760.0,NaT,2023-08-21,2023-09-13,2023-08-25,GP/A Medical Expense,0.0,3620.00,3620.00,N
6008,000005914,0,GAT,26730.0,NaT,2023-10-13,2023-11-15,2023-10-13,GP/A Medical Expense,1.0,0.00,1.00,N
6009,000005915,0,GAT,1421.0,NaT,2023-10-16,2023-11-14,2023-10-17,GP/A Medical Expense,0.0,4153.00,4153.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,20980.0,NaT,2022-05-03,2023-03-01,2023-02-17,GP/A Medical Expense,0.0,5291.79,5291.79,N
38184,0000254010110,55,GWW,214846.0,NaT,2024-07-23,2024-08-27,2024-07-30,GP/A Medical Expense,400000.0,0.00,400000.00,N
38185,0000254010110,55,GWW,214846.0,NaT,2024-07-23,2024-08-27,2024-07-30,GP/A Others,20000.0,0.00,20000.00,N
38273,0000254010147,0,GTS,62480.0,NaT,2023-06-23,2024-02-22,2024-01-17,GP/A Medical Expense,0.0,1428.00,1428.00,N
38274,0000254010147,0,GTS,62480.0,NaT,2023-06-23,2024-01-05,2023-10-21,GP/A Medical Expense,0.0,44723.00,44723.00,N

In [80]:
# หาค่าเฉลี่ยของคอลัมน์เฉพาะ
mean_incdte = df_not_missing['date_difference'].mean()  # หาก 'INCDTE' เป็นตัวเลข
print(mean_incdte)

23.019426996369035

In [81]:
print(df_missing['DATESALE'].dtype)

datetime64[ns]

In [82]:
print(df_missing['DATREP'].dtype)

datetime64[ns]

In [83]:
print(df_missing['DATOCC'].dtype)

datetime64[ns]

In [84]:
print(df_missing['INCDTE'].dtype)

datetime64[ns]

In [85]:
df_missing['DATESALE'] = df_missing['INCDTE'] - pd.to_timedelta(23, unit='D')

<ipython-input-85-9647dfc5ff46>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = df_missing['INCDTE'] - pd.to_timedelta(23, unit='D')

In [86]:
df_missing

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
5897,000005803,0,GAT,1708.0,2023-03-01,2023-03-24,2023-04-10,2023-03-25,GP/A Medical Expense,0.0,2407.00,2407.00,N
5898,000005804,0,GAT,1272.0,2024-09-28,2024-10-21,2024-11-18,2024-10-25,GP/A Medical Expense,0.0,1202.00,1202.00,N
6007,000005913,0,GAT,7760.0,2023-07-29,2023-08-21,2023-09-13,2023-08-25,GP/A Medical Expense,0.0,3620.00,3620.00,N
6008,000005914,0,GAT,26730.0,2023-09-20,2023-10-13,2023-11-15,2023-10-13,GP/A Medical Expense,1.0,0.00,1.00,N
6009,000005915,0,GAT,1421.0,2023-09-23,2023-10-16,2023-11-14,2023-10-17,GP/A Medical Expense,0.0,4153.00,4153.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37714,0000254009906,0,GTS,20980.0,2022-04-10,2022-05-03,2023-03-01,2023-02-17,GP/A Medical Expense,0.0,5291.79,5291.79,N
38184,0000254010110,55,GWW,214846.0,2024-06-30,2024-07-23,2024-08-27,2024-07-30,GP/A Medical Expense,400000.0,0.00,400000.00,N
38185,0000254010110,55,GWW,214846.0,2024-06-30,2024-07-23,2024-08-27,2024-07-30,GP/A Others,20000.0,0.00,20000.00,N
38273,0000254010147,0,GTS,62480.0,2023-05-31,2023-06-23,2024-02-22,2024-01-17,GP/A Medical Expense,0.0,1428.00,1428.00,N
38274,0000254010147,0,GTS,62480.0,2023-05-31,2023-06-23,2024-01-05,2023-10-21,GP/A Medical Expense,0.0,44723.00,44723.00,N

In [87]:
df_missing['ReseveDescription'] = df_missing['ReseveDescription'].fillna('GP/A Medical Expense')

<ipython-input-87-1ab6f9ea0672>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['ReseveDescription'] = df_missing['ReseveDescription'].fillna('GP/A Medical Expense')

In [88]:
df_missing.isnull().sum()

ID_Card              0
AGE                  0
Policy_Class         0
Premium              0
DATESALE             0
INCDTE               0
DATREP               0
DATOCC               0
ReseveDescription    0
GRS_OS               0
GRS_PAID             0
GIC                  0
Remark               0
dtype: int64

In [89]:
df_combined = pd.concat([df_not_missing, df_missing])  # รวม DataFrame
df_combined = df_combined.sort_values(by='ID_Card')   # เรียงตาม 'Dummy ID'
df_combined = df_combined.reset_index(drop=True)       # รีเซ็ต index ใหม่

In [90]:
df_combined.drop(columns=['date_difference'], inplace=True)

In [91]:
df_combined

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
0,'000022391,0,GTS,524980.0,2023-03-16,2023-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N
1,'000022392,0,GTS,524980.0,2023-03-16,2023-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N
2,'000022393,0,GTS,424980.0,2024-03-16,2024-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N
3,'000022394,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N
4,'000022395,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N
38313,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N
38314,0000254010157,49,GWC,8280.0,2022-08-23,2022-08-01,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N
38315,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N
38316,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N

In [92]:
print(df_combined.dtypes)

ID_Card                      object
AGE                           int64
Policy_Class                 object
Premium                     float64
DATESALE             datetime64[ns]
INCDTE               datetime64[ns]
DATREP               datetime64[ns]
DATOCC               datetime64[ns]
ReseveDescription            object
GRS_OS                      float64
GRS_PAID                    float64
GIC                         float64
Remark                       object
dtype: object

In [93]:
df_combined = df_combined.reset_index(drop=True)

In [94]:
print(df_combined.isnull().sum())

ID_Card              0
AGE                  0
Policy_Class         0
Premium              0
DATESALE             0
INCDTE               0
DATREP               0
DATOCC               0
ReseveDescription    0
GRS_OS               0
GRS_PAID             0
GIC                  0
Remark               0
dtype: int64

In [95]:
df_combined = df_combined.loc[~((df_combined['GRS_OS'] == 0) &
                               (df_combined['GRS_PAID'] == 0) &
                               (df_combined['GIC'] == 0))]

In [96]:
df_combined

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark
0,'000022391,0,GTS,524980.0,2023-03-16,2023-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N
1,'000022392,0,GTS,524980.0,2023-03-16,2023-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N
2,'000022393,0,GTS,424980.0,2024-03-16,2024-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N
3,'000022394,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N
4,'000022395,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N
38313,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N
38314,0000254010157,49,GWC,8280.0,2022-08-23,2022-08-01,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N
38315,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N
38316,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N

⏰

เงื่อนไข

In [97]:
# ฟังก์ชันเพื่อจัดกลุ่มค่าของ ReseveDescription และกำหนดค่าลงในคอลัมน์ ReseveDescriptionType
def categorize_reserve_description(description):
    # กลุ่ม Medical Expense
    if any(keyword in description for keyword in ['GP/A Medical Expense', 'Medical Accident &sickness', 'MedFUinThailand', 'อาหารเป็นพิษ', 'ค่ารักษาจากโควิค19', 'Medical from Covid-19', 'MEDICAL']):
        return 'Medical Expense'

    # กลุ่ม Baggage & Personal Effects
    elif any(keyword in description for keyword in ['Baggage & Personal Effects', 'เสียหายของกระเป๋าเดินทาง', 'Baggage']):
        return 'Baggage & Personal Effects'

    # กลุ่ม TripCurtailment
    elif any(keyword in description for keyword in ['TripCurtailment', 'Tlrip Curtailment Exp.Coverage']):
        return 'TripCurtailment'

    # กลุ่ม Death
    elif any(keyword in description for keyword in ['Death AD&D (O.B.1)', 'GP/A Death']):
        return 'Death'

    # กลุ่ม Hospital Benefit
    elif any(keyword in description for keyword in ['Daily Benefits', 'Hospital Benefit']):
        return 'Hospital Benefit'

    # กลุ่ม Total Permanent Disability
    elif any(keyword in description for keyword in ['GPA Total Permanent Disability', 'GP/A Disability', 'GPA Total Temporary Disability']):
        return 'Total Permanent Disability'

    # ถ้าไม่ตรงกับเงื่อนไขใด ๆ ให้คงค่าปัจจุบัน
    else:
        return description

# ใช้ apply เพื่อสร้างคอลัมน์ใหม่ 'ReseveDescriptionType'
df_combined['ReseveDescriptionType'] = df_combined['ReseveDescription'].apply(categorize_reserve_description)

In [98]:
df_combined

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,ReseveDescriptionType
0,'000022391,0,GTS,524980.0,2023-03-16,2023-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,Medical Expense
1,'000022392,0,GTS,524980.0,2023-03-16,2023-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,Death
2,'000022393,0,GTS,424980.0,2024-03-16,2024-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,Medical Expense
3,'000022394,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,Medical Expense
4,'000022395,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,Medical Expense
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,Transportation Cost for OPD
38313,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,Medical Expense
38314,0000254010157,49,GWC,8280.0,2022-08-23,2022-08-01,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,Medical Expense
38315,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,Medical Expense
38316,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,Transportation Cost for OPD

In [99]:
# นับจำนวนการเกิดซ้ำของ ReseveDescription สำหรับแต่ละ ID_Card
claim_type_counts_per_customer = df_combined.groupby(['ID_Card', 'ReseveDescription']).size().reset_index(name='ReseveDescription_Count')

# กรองข้อมูลที่มีการเคลมซ้ำมากกว่า 1 ครั้ง
duplicate_claims = claim_type_counts_per_customer[claim_type_counts_per_customer['ReseveDescription_Count'] > 1]

# แสดงข้อมูลที่มีการเคลมซ้ำ
print(duplicate_claims)

             ID_Card            ReseveDescription  ReseveDescription_Count
350       '000022751   Baggage & Personal Effects                        2
443       '000022829   Baggage & Personal Effects                        2
455       '000022836   Baggage & Personal Effects                        2
456       '000022837         GP/A Medical Expense                        2
457       '000022837  Transportation Cost for OPD                        2
...              ...                          ...                      ...
35244  0000254010150  Transportation Cost for OPD                        4
35249  0000254010153         GP/A Medical Expense                        3
35250  0000254010153  Transportation Cost for OPD                        3
35252  0000254010154        Flight Delay Coverage                        2
35254  0000254010155       Baggage Delay Coverage                        3

[1155 rows x 3 columns]

In [102]:
df_combined

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,ReseveDescriptionType
0,'000022391,0,GTS,524980.0,2023-03-16,2023-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,Medical Expense
1,'000022392,0,GTS,524980.0,2023-03-16,2023-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,Death
2,'000022393,0,GTS,424980.0,2024-03-16,2024-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,Medical Expense
3,'000022394,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,Medical Expense
4,'000022395,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,Medical Expense
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38312,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,Transportation Cost for OPD
38313,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,Medical Expense
38314,0000254010157,49,GWC,8280.0,2022-08-23,2022-08-01,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,Medical Expense
38315,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,Medical Expense
38316,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,Transportation Cost for OPD

In [103]:
# นับจำนวน Claim ตาม Dummy ID และ ReserveDescription
claim_counts_per_customer = df_combined.groupby(['ID_Card', 'ReseveDescription']).size().reset_index(name='ReseveDescription_Count')

# รวมค่า Claim_Count กลับเข้า df
df_combined = df_combined.merge(claim_counts_per_customer, on=['ID_Card', 'ReseveDescription'], how='left')

# กำหนดระดับความเสี่ยงตาม Claim_Count
df_combined['ReseveDescription_Risk_Level'] = df_combined['ReseveDescription_Count'].apply(lambda x:
    'ความเสี่ยงต่ำ' if x <= 1 else
    'ความเสี่ยงปานกลาง' if x == 2 else
    'ความเสี่ยงสูง' if x == 3 else
    'ความเสี่ยงสูงมาก'  # กำหนดค่าที่เหลือทั้งหมดเป็น 'ความเสี่ยงสูงมาก'
)

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'ReseveDescription', 'ReseveDescription_Count', 'ReseveDescription_Risk_Level']].head())

      ID_Card     ReseveDescription  ReseveDescription_Count  \
0  '000022391  GP/A Medical Expense                        1
1  '000022392    Death AD&D (O.B.1)                        1
2  '000022393  GP/A Medical Expense                        1
3  '000022394          อาหารเป็นพิษ                        1
4  '000022395  GP/A Medical Expense                        1

  ReseveDescription_Risk_Level
0                ความเสี่ยงต่ำ
1                ความเสี่ยงต่ำ
2                ความเสี่ยงต่ำ
3                ความเสี่ยงต่ำ
4                ความเสี่ยงต่ำ

In [105]:
df_combined

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,GRS_PAID,GIC,Remark,ReseveDescriptionType,ReseveDescription_Count,ReseveDescription_Risk_Level
0,'000022391,0,GTS,524980.0,2023-03-16,2023-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,6218.00,6218.00,N,Medical Expense,1,ความเสี่ยงต่ำ
1,'000022392,0,GTS,524980.0,2023-03-16,2023-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,0.00,1000000.00,N,Death,1,ความเสี่ยงต่ำ
2,'000022393,0,GTS,424980.0,2024-03-16,2024-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,369641.84,369641.84,N,Medical Expense,1,ความเสี่ยงต่ำ
3,'000022394,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,2244.00,2244.00,N,Medical Expense,1,ความเสี่ยงต่ำ
4,'000022395,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,351883.00,351883.00,N,Medical Expense,1,ความเสี่ยงต่ำ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,1000.00,1000.00,N,Transportation Cost for OPD,1,ความเสี่ยงต่ำ
36826,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,8811.16,8811.16,N,Medical Expense,1,ความเสี่ยงต่ำ
36827,0000254010157,49,GWC,8280.0,2022-08-23,2022-08-01,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,10435.94,10435.94,N,Medical Expense,1,ความเสี่ยงต่ำ
36828,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,2103.50,2103.50,N,Medical Expense,1,ความเสี่ยงต่ำ
36829,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,1000.00,1000.00,N,Transportation Cost for OPD,1,ความเสี่ยงต่ำ

In [104]:
df_combined['ReseveDescription_Count'].value_counts()

ReseveDescription_Count
1     34105
2      1834
3       474
5       160
4       136
7        35
6        24
16       16
14       14
13       13
10       10
9         9
Name: count, dtype: int64

In [106]:
import numpy as np

# กำหนดเงื่อนไขและค่าที่ต้องการแสดงในคอลัมน์ใหม่
conditions = [
    (df_combined['ReseveDescription_Risk_Level'] == 'ความเสี่ยงสูงมาก'),
    (df_combined['ReseveDescription_Risk_Level'] == 'ความเสี่ยงสูง'),
    (df_combined['ReseveDescription_Risk_Level'] == 'ความเสี่ยงปานกลาง'),
    (df_combined['ReseveDescription_Risk_Level'] == 'ความเสี่ยงต่ำ')
]

choices = [
    'มากกว่า 3', 'เท่ากับ 3', 'เท่ากับ 2', 'น้อยกว่าเท่ากับ 1'
]

# สร้างคอลัมน์ใหม่ที่ใช้ np.select()
df_combined['Conditions_ReseveDescription'] = np.select(conditions, choices, default='ไม่ระบุ')

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'ReseveDescription_Risk_Level', 'Conditions_ReseveDescription']].head())

      ID_Card ReseveDescription_Risk_Level Conditions_ReseveDescription
0  '000022391                ความเสี่ยงต่ำ            น้อยกว่าเท่ากับ 1
1  '000022392                ความเสี่ยงต่ำ            น้อยกว่าเท่ากับ 1
2  '000022393                ความเสี่ยงต่ำ            น้อยกว่าเท่ากับ 1
3  '000022394                ความเสี่ยงต่ำ            น้อยกว่าเท่ากับ 1
4  '000022395                ความเสี่ยงต่ำ            น้อยกว่าเท่ากับ 1

In [107]:
df_combined['Conditions_ReseveDescription'].value_counts()

Conditions_ReseveDescription
น้อยกว่าเท่ากับ 1    34105
เท่ากับ 2             1834
เท่ากับ 3              474
มากกว่า 3              417
Name: count, dtype: int64

In [108]:
df_combined['DATESALE_DATOCC_difference'] = (df_combined['DATOCC'] - df_combined['DATESALE']).dt.days

In [109]:
# กำหนดคอลัมน์ใหม่ 'Risk_Level' ตามเงื่อนไขของ DATESALE_DATOCC_difference
df_combined['DATESALE_DATOCC_Risk_Level'] = df_combined['DATESALE_DATOCC_difference'].apply(lambda x:
    'ความเสี่ยงสูงมาก' if x < 0 else 'ไม่มีความเสี่ยง'
)

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'DATESALE_DATOCC_difference', 'DATESALE_DATOCC_Risk_Level']].head())

      ID_Card  DATESALE_DATOCC_difference DATESALE_DATOCC_Risk_Level
0  '000022391                          37            ไม่มีความเสี่ยง
1  '000022392                         373            ไม่มีความเสี่ยง
2  '000022393                          38            ไม่มีความเสี่ยง
3  '000022394                         299            ไม่มีความเสี่ยง
4  '000022395                         278            ไม่มีความเสี่ยง

In [110]:
df_combined['DATESALE_DATOCC_Risk_Level'].value_counts()

DATESALE_DATOCC_Risk_Level
ไม่มีความเสี่ยง     36587
ความเสี่ยงสูงมาก      243
Name: count, dtype: int64

In [111]:
import numpy as np

conditions = [
    df_combined["DATESALE_DATOCC_Risk_Level"] == "ความเสี่ยงสูงมาก",
    df_combined["DATESALE_DATOCC_Risk_Level"] == "ไม่มีความเสี่ยง"

    ]

choices = [
    'น้อยกว่า 0','มากกว่าเท่ากับ 0'
]

# สร้างคอลัมน์ใหม่ที่ใช้ np.select()
df_combined['Conditions_DATESALE_DATOCC'] = np.select(conditions, choices, default='ไม่ระบุ')

In [112]:
df_combined['Conditions_DATESALE_DATOCC'].value_counts()

Conditions_DATESALE_DATOCC
มากกว่าเท่ากับ 0    36587
น้อยกว่า 0            243
Name: count, dtype: int64

In [113]:
# แสดงชื่อคอลัมน์ทั้งหมดใน DataFrame df_combined
print(df_combined.columns)

Index(['ID_Card', 'AGE', 'Policy_Class', 'Premium', 'DATESALE', 'INCDTE',
       'DATREP', 'DATOCC', 'ReseveDescription', 'GRS_OS', 'GRS_PAID', 'GIC',
       'Remark', 'ReseveDescriptionType', 'ReseveDescription_Count',
       'ReseveDescription_Risk_Level', 'Conditions_ReseveDescription',
       'DATESALE_DATOCC_difference', 'DATESALE_DATOCC_Risk_Level',
       'Conditions_DATESALE_DATOCC'],
      dtype='object')

In [114]:
df_combined['INCDTE_DATOCC_difference'] = (df_combined['DATOCC'] - df_combined['INCDTE']).dt.days
mean_INCDTE_DATOCC_difference = df_combined['INCDTE_DATOCC_difference'].mean()
mean_INCDTE_DATOCC_difference

37.205538962802066

In [115]:
df_combined['INCDTE_DATOCC_difference'].value_counts()

INCDTE_DATOCC_difference
0      5861
1      2876
3      2172
5      2136
4      2132
       ...
634       1
419       1
602       1
368       1
691       1
Name: count, Length: 454, dtype: int64

In [116]:
# กำหนดคอลัมน์ใหม่ 'Risk_Level' ตามเงื่อนไขของ INCDTE_DATOCC_difference
df_combined['INCDTE_DATOCC_Risk_Level'] = df_combined['INCDTE_DATOCC_difference'].apply(lambda x:
    'ไม่มีความเสี่ยง' if x > 40 else
    'ความเสี่ยงต่ำ' if 31 <= x <= 40 else
    'ความเสี่ยงปานกลาง' if 21 <= x <= 30 else
    'ความเสี่ยงสูง' if 11 <= x <= 20 else
    'ความเสี่ยงสูงมาก' if x <= 10 else 'ค่าไม่ระบุ'
)

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'INCDTE_DATOCC_difference', 'INCDTE_DATOCC_Risk_Level']].head())

      ID_Card  INCDTE_DATOCC_difference INCDTE_DATOCC_Risk_Level
0  '000022391                        14            ความเสี่ยงสูง
1  '000022392                       350          ไม่มีความเสี่ยง
2  '000022393                        15            ความเสี่ยงสูง
3  '000022394                       276          ไม่มีความเสี่ยง
4  '000022395                       255          ไม่มีความเสี่ยง

In [117]:
df_combined['INCDTE_DATOCC_Risk_Level'].value_counts()

INCDTE_DATOCC_Risk_Level
ความเสี่ยงสูงมาก     24500
ไม่มีความเสี่ยง       6637
ความเสี่ยงสูง         4034
ความเสี่ยงปานกลาง     1018
ความเสี่ยงต่ำ          641
Name: count, dtype: int64

In [118]:
import numpy as np

conditions = [
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ความเสี่ยงสูงมาก",
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ความเสี่ยงสูง",
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ความเสี่ยงต่ำ",
    df_combined["INCDTE_DATOCC_Risk_Level"] == "ไม่มีความเสี่ยง"

    ]

choices = [
    'มากกว่า 40','น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31','น้อยกว่าเท่ากับ 30 และ มากกว่าเท่ากับ 21','น้อยกว่าเท่ากับ 20 และ มากกว่าเท่ากับ 11','น้อยกว่าเท่ากับ 10'
]

# สร้างคอลัมน์ใหม่ที่ใช้ np.select()
df_combined['Conditions_DATESALE_DATOCC'] = np.select(conditions, choices, default='ไม่ระบุ')

In [119]:
df_combined['Conditions_DATESALE_DATOCC'].value_counts()

Conditions_DATESALE_DATOCC
มากกว่า 40                                  24500
น้อยกว่าเท่ากับ 10                           6637
น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31     4034
น้อยกว่าเท่ากับ 30 และ มากกว่าเท่ากับ 21     1018
น้อยกว่าเท่ากับ 20 และ มากกว่าเท่ากับ 11      641
Name: count, dtype: int64

In [120]:
# กำหนดคอลัมน์ใหม่ 'Risk_Level' ตามเงื่อนไขของ INCDTE_DATOCC_difference
df_combined['INCDTE_DATOCC_Risk_Level'] = df_combined['INCDTE_DATOCC_difference'].apply(lambda x:
    'ไม่มีความเสี่ยง' if x > 40 else
    'ความเสี่ยงน้อย' if 31 <= x <= 40 else
    'ความเสี่ยงปานกลาง' if 21 <= x <= 30 else
    'ความเสี่ยงมาก' if 11 <= x <= 20 else
    'ความเสี่ยงสูงมาก' if 0 <= x <= 10 else 'ค่าไม่ระบุ'  # เพิ่มกรณีที่ค่ามากกว่า 40 หรือไม่อยู่ในช่วง
)

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'INCDTE_DATOCC_difference', 'INCDTE_DATOCC_Risk_Level']].head())

      ID_Card  INCDTE_DATOCC_difference INCDTE_DATOCC_Risk_Level
0  '000022391                        14            ความเสี่ยงมาก
1  '000022392                       350          ไม่มีความเสี่ยง
2  '000022393                        15            ความเสี่ยงมาก
3  '000022394                       276          ไม่มีความเสี่ยง
4  '000022395                       255          ไม่มีความเสี่ยง

In [121]:
# นับจำนวน Claim ตาม Dummy ID (ID_Card)
claim_counts_per_customer = df_combined.groupby('ID_Card').size().reset_index(name='Claim_Count')

# รวมค่า Claim_Count กลับเข้า df
df_combined = df_combined.merge(claim_counts_per_customer, on='ID_Card', how='left')

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'Claim_Count']].head())

      ID_Card  Claim_Count
0  '000022391            1
1  '000022392            1
2  '000022393            1
3  '000022394            1
4  '000022395            1

In [122]:
df_combined['Claim_Count'].value_counts()

Claim_Count
1     24598
2      8506
3      1896
4       980
5       395
6       138
7        84
8        48
10       40
13       39
25       25
11       22
20       20
16       16
14       14
9         9
Name: count, dtype: int64

In [123]:
# ฟังก์ชันกำหนดระดับความเสี่ยงตาม Dummy ID Count
def categorize_dummy_risk(count):
    if count == 1:
        return 'ไม่มีความเสี่ยง'
    elif count == 2:
        return 'ความเสี่ยงต่ำ'
    elif count == 3:
        return 'ความเสี่ยงปานกลาง'
    elif count == 4:
        return 'ความเสี่ยงสูง'
    else:
        return 'ความเสี่ยงสูงมาก'

# สร้างคอลัมน์ใหม่ 'Dummy_ID_Risk_Level' ตามจำนวน Dummy ID Count
df_combined['Claim_Count_Risk_Level'] = df_combined['Claim_Count'].apply(categorize_dummy_risk)

In [124]:
import numpy as np

conditions = [
    df_combined["Claim_Count_Risk_Level"] == "ความเสี่ยงสูงมาก",
    df_combined["Claim_Count_Risk_Level"] == "ความเสี่ยงสูง",
    df_combined["Claim_Count_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["Claim_Count_Risk_Level"] == "ความเสี่ยงต่ำ",
    df_combined["Claim_Count_Risk_Level"] == "ไม่มีความเสี่ยง"
]

choices = ["มากกว่า 4", "เท่ากับ 4", "เท่ากับ 3", "เท่ากับ 2","เท่ากับ 1"]

df_combined["Conditions_Claim"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class   Premium   DATESALE     INCDTE  \
0         '000022391    0          GTS  524980.0 2023-03-16 2023-04-08
1         '000022392    0          GTS  524980.0 2023-03-16 2023-04-08
2         '000022393    0          GTS  424980.0 2024-03-16 2024-04-08
3         '000022394    0          GTS  524980.0 2023-03-16 2023-04-08
4         '000022395    0          GTS  524980.0 2023-03-16 2023-04-08
...              ...  ...          ...       ...        ...        ...
36825  0000254010156   45          PWT    8180.0 2023-09-11 2023-09-11
36826  0000254010156   45          PWT    8180.0 2023-09-11 2023-09-11
36827  0000254010157   49          GWC    8280.0 2022-08-23 2022-08-01
36828  1103900419504    7          GWT     440.0 2024-04-08 2024-04-13
36829  1103900419504    7          GWT     440.0 2024-04-08 2024-04-13

          DATREP     DATOCC            ReseveDescription     GRS_OS  ...  \
0     2023-05-12 2023-04-22         GP/A Medical Expense        0.0  ...
1     2024-07-02 2024-03-23           Death AD&D (O.B.1)  1000000.0  ...
2     2024-04-30 2024-04-23         GP/A Medical Expense        0.0  ...
3     2024-02-13 2024-01-09                 อาหารเป็นพิษ        0.0  ...
4     2024-02-02 2023-12-19         GP/A Medical Expense        0.0  ...
...          ...        ...                          ...        ...  ...
36825 2024-11-13 2024-08-20  Transportation Cost for OPD        0.0  ...
36826 2024-11-13 2024-08-20         GP/A Medical Expense        0.0  ...
36827 2023-07-11 2023-06-30         GP/A Medical Expense        0.0  ...
36828 2024-04-29 2024-04-16         GP/A Medical Expense        0.0  ...
36829 2024-04-29 2024-04-16  Transportation Cost for OPD        0.0  ...

       ReseveDescription_Risk_Level  Conditions_ReseveDescription  \
0                     ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
1                     ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
2                     ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
3                     ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
4                     ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
...                             ...                           ...
36825                 ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
36826                 ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
36827                 ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
36828                 ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1
36829                 ความเสี่ยงต่ำ             น้อยกว่าเท่ากับ 1

      DATESALE_DATOCC_difference DATESALE_DATOCC_Risk_Level  \
0                             37            ไม่มีความเสี่ยง
1                            373            ไม่มีความเสี่ยง
2                             38            ไม่มีความเสี่ยง
3                            299            ไม่มีความเสี่ยง
4                            278            ไม่มีความเสี่ยง
...                          ...                        ...
36825                        344            ไม่มีความเสี่ยง
36826                        344            ไม่มีความเสี่ยง
36827                        311            ไม่มีความเสี่ยง
36828                          8            ไม่มีความเสี่ยง
36829                          8            ไม่มีความเสี่ยง

                     Conditions_DATESALE_DATOCC INCDTE_DATOCC_difference  \
0      น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31                       14
1                            น้อยกว่าเท่ากับ 10                      350
2      น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31                       15
3                            น้อยกว่าเท่ากับ 10                      276
4                            น้อยกว่าเท่ากับ 10                      255
...                                         ...                      ...
36825                        น้อยกว่าเท่ากับ 10                      344
36826                        น้อยกว่าเท่ากับ 10                      344
36827                        น้อยกว่าเท่ากับ 10                      333
36828                                มากกว่า 40                        3
36829                                มากกว่า 40                        3

      INCDTE_DATOCC_Risk_Level  Claim_Count Claim_Count_Risk_Level  \
0                ความเสี่ยงมาก            1        ไม่มีความเสี่ยง
1              ไม่มีความเสี่ยง            1        ไม่มีความเสี่ยง
2                ความเสี่ยงมาก            1        ไม่มีความเสี่ยง
3              ไม่มีความเสี่ยง            1        ไม่มีความเสี่ยง
4              ไม่มีความเสี่ยง            1        ไม่มีความเสี่ยง
...                        ...          ...                    ...
36825          ไม่มีความเสี่ยง            2          ความเสี่ยงต่ำ
36826          ไม่มีความเสี่ยง            2          ความเสี่ยงต่ำ
36827          ไม่มีความเสี่ยง            1        ไม่มีความเสี่ยง
36828         ความเสี่ยงสูงมาก            2          ความเสี่ยงต่ำ
36829         ความเสี่ยงสูงมาก            2          ความเสี่ยงต่ำ

      Conditions_Claim
0            เท่ากับ 1
1            เท่ากับ 1
2            เท่ากับ 1
3            เท่ากับ 1
4            เท่ากับ 1
...                ...
36825        เท่ากับ 2
36826        เท่ากับ 2
36827        เท่ากับ 1
36828        เท่ากับ 2
36829        เท่ากับ 2

[36830 rows x 25 columns]

In [125]:
df_combined['Conditions_Claim'].value_counts()

Conditions_Claim
เท่ากับ 1    24598
เท่ากับ 2     8506
เท่ากับ 3     1896
เท่ากับ 4      980
มากกว่า 4      850
Name: count, dtype: int64

In [126]:
df_combined

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,...,ReseveDescription_Risk_Level,Conditions_ReseveDescription,DATESALE_DATOCC_difference,DATESALE_DATOCC_Risk_Level,Conditions_DATESALE_DATOCC,INCDTE_DATOCC_difference,INCDTE_DATOCC_Risk_Level,Claim_Count,Claim_Count_Risk_Level,Conditions_Claim
0,'000022391,0,GTS,524980.0,2023-03-16,2023-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,37,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31,14,ความเสี่ยงมาก,1,ไม่มีความเสี่ยง,เท่ากับ 1
1,'000022392,0,GTS,524980.0,2023-03-16,2023-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,373,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 10,350,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1
2,'000022393,0,GTS,424980.0,2024-03-16,2024-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,38,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31,15,ความเสี่ยงมาก,1,ไม่มีความเสี่ยง,เท่ากับ 1
3,'000022394,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,299,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 10,276,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1
4,'000022395,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,278,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 10,255,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,344,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 10,344,ไม่มีความเสี่ยง,2,ความเสี่ยงต่ำ,เท่ากับ 2
36826,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,344,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 10,344,ไม่มีความเสี่ยง,2,ความเสี่ยงต่ำ,เท่ากับ 2
36827,0000254010157,49,GWC,8280.0,2022-08-23,2022-08-01,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,311,ไม่มีความเสี่ยง,น้อยกว่าเท่ากับ 10,333,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1
36828,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,8,ไม่มีความเสี่ยง,มากกว่า 40,3,ความเสี่ยงสูงมาก,2,ความเสี่ยงต่ำ,เท่ากับ 2
36829,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,...,ความเสี่ยงต่ำ,น้อยกว่าเท่ากับ 1,8,ไม่มีความเสี่ยง,มากกว่า 40,3,ความเสี่ยงสูงมาก,2,ความเสี่ยงต่ำ,เท่ากับ 2

In [127]:
# นับจำนวนครั้งที่ GIC = 1 ปรากฏในแต่ละ ID_Card
gic_count_1 = df_combined[df_combined['GIC'] == 1].groupby('ID_Card')['GIC'].count().reset_index(name='GIC_Count')

# รวมข้อมูล GIC_Count เข้าไปใน df_combined
df_combined = df_combined.merge(gic_count_1, on='ID_Card', how='left')

# แทนค่า NaN ด้วย 0 (กรณีที่ ID_Card ไม่มี GIC = 1 เลย)
df_combined['GIC_Count'] = df_combined['GIC_Count'].fillna(0).astype(int)

# แสดงผลลัพธ์บางส่วน
print(df_combined[['ID_Card', 'GIC', 'GIC_Count']].head())

      ID_Card         GIC  GIC_Count
0  '000022391     6218.00          0
1  '000022392  1000000.00          0
2  '000022393   369641.84          0
3  '000022394     2244.00          0
4  '000022395   351883.00          0

In [128]:
# ฟังก์ชันกำหนดระดับความเสี่ยงจาก GIC_Count
def assign_risk(count):
    if count == 1:
        return 'ความเสี่ยงน้อย'
    elif count == 2:
        return 'ความเสี่ยงปานกลาง'
    elif count == 3:
        return 'ความเสี่ยงสูง'
    else:
        return 'ความเสี่ยงสูงมาก'

# ใช้ apply เพื่อกำหนดระดับความเสี่ยง
df_combined['GIC_Risk_Level'] = df_combined['GIC_Count'].apply(assign_risk)

In [129]:
import numpy as np

conditions = [
    df_combined["GIC_Risk_Level"] == "ความเสี่ยงสูงมาก",
    df_combined["GIC_Risk_Level"] == "ความเสี่ยงสูง",
    df_combined["GIC_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["GIC_Risk_Level"] == "ความเสี่ยงน้อย"
]

choices = ["มากกว่า 3","เท่ากับ 3", "เท่ากับ 2", "น้อยกว่า 1"]

df_combined["Conditions_Deny"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class   Premium   DATESALE     INCDTE  \
0         '000022391    0          GTS  524980.0 2023-03-16 2023-04-08
1         '000022392    0          GTS  524980.0 2023-03-16 2023-04-08
2         '000022393    0          GTS  424980.0 2024-03-16 2024-04-08
3         '000022394    0          GTS  524980.0 2023-03-16 2023-04-08
4         '000022395    0          GTS  524980.0 2023-03-16 2023-04-08
...              ...  ...          ...       ...        ...        ...
36825  0000254010156   45          PWT    8180.0 2023-09-11 2023-09-11
36826  0000254010156   45          PWT    8180.0 2023-09-11 2023-09-11
36827  0000254010157   49          GWC    8280.0 2022-08-23 2022-08-01
36828  1103900419504    7          GWT     440.0 2024-04-08 2024-04-13
36829  1103900419504    7          GWT     440.0 2024-04-08 2024-04-13

          DATREP     DATOCC            ReseveDescription     GRS_OS  ...  \
0     2023-05-12 2023-04-22         GP/A Medical Expense        0.0  ...
1     2024-07-02 2024-03-23           Death AD&D (O.B.1)  1000000.0  ...
2     2024-04-30 2024-04-23         GP/A Medical Expense        0.0  ...
3     2024-02-13 2024-01-09                 อาหารเป็นพิษ        0.0  ...
4     2024-02-02 2023-12-19         GP/A Medical Expense        0.0  ...
...          ...        ...                          ...        ...  ...
36825 2024-11-13 2024-08-20  Transportation Cost for OPD        0.0  ...
36826 2024-11-13 2024-08-20         GP/A Medical Expense        0.0  ...
36827 2023-07-11 2023-06-30         GP/A Medical Expense        0.0  ...
36828 2024-04-29 2024-04-16         GP/A Medical Expense        0.0  ...
36829 2024-04-29 2024-04-16  Transportation Cost for OPD        0.0  ...

       DATESALE_DATOCC_Risk_Level                Conditions_DATESALE_DATOCC  \
0                 ไม่มีความเสี่ยง  น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31
1                 ไม่มีความเสี่ยง                        น้อยกว่าเท่ากับ 10
2                 ไม่มีความเสี่ยง  น้อยกว่าเท่ากับ 40 และ มากกว่าเท่ากับ 31
3                 ไม่มีความเสี่ยง                        น้อยกว่าเท่ากับ 10
4                 ไม่มีความเสี่ยง                        น้อยกว่าเท่ากับ 10
...                           ...                                       ...
36825             ไม่มีความเสี่ยง                        น้อยกว่าเท่ากับ 10
36826             ไม่มีความเสี่ยง                        น้อยกว่าเท่ากับ 10
36827             ไม่มีความเสี่ยง                        น้อยกว่าเท่ากับ 10
36828             ไม่มีความเสี่ยง                                มากกว่า 40
36829             ไม่มีความเสี่ยง                                มากกว่า 40

      INCDTE_DATOCC_difference INCDTE_DATOCC_Risk_Level  Claim_Count  \
0                           14            ความเสี่ยงมาก            1
1                          350          ไม่มีความเสี่ยง            1
2                           15            ความเสี่ยงมาก            1
3                          276          ไม่มีความเสี่ยง            1
4                          255          ไม่มีความเสี่ยง            1
...                        ...                      ...          ...
36825                      344          ไม่มีความเสี่ยง            2
36826                      344          ไม่มีความเสี่ยง            2
36827                      333          ไม่มีความเสี่ยง            1
36828                        3         ความเสี่ยงสูงมาก            2
36829                        3         ความเสี่ยงสูงมาก            2

      Claim_Count_Risk_Level Conditions_Claim  GIC_Count    GIC_Risk_Level  \
0            ไม่มีความเสี่ยง        เท่ากับ 1          0  ความเสี่ยงสูงมาก
1            ไม่มีความเสี่ยง        เท่ากับ 1          0  ความเสี่ยงสูงมาก
2            ไม่มีความเสี่ยง        เท่ากับ 1          0  ความเสี่ยงสูงมาก
3            ไม่มีความเสี่ยง        เท่ากับ 1          0  ความเสี่ยงสูงมาก
4            ไม่มีความเสี่ยง        เท่ากับ 1          0  ความเสี่ยงสูงมาก
...                      ...              ...        ...               ...
36825          ความเสี่ยงต่ำ        เท่ากับ 2          0  ความเสี่ยงสูงมาก
36826          ความเสี่ยงต่ำ        เท่ากับ 2          0  ความเสี่ยงสูงมาก
36827        ไม่มีความเสี่ยง        เท่ากับ 1          0  ความเสี่ยงสูงมาก
36828          ความเสี่ยงต่ำ        เท่ากับ 2          0  ความเสี่ยงสูงมาก
36829          ความเสี่ยงต่ำ        เท่ากับ 2          0  ความเสี่ยงสูงมาก

      Conditions_Deny
0           มากกว่า 3
1           มากกว่า 3
2           มากกว่า 3
3           มากกว่า 3
4           มากกว่า 3
...               ...
36825       มากกว่า 3
36826       มากกว่า 3
36827       มากกว่า 3
36828       มากกว่า 3
36829       มากกว่า 3

[36830 rows x 28 columns]

In [130]:
df_combined['Conditions_Deny'].value_counts()

Conditions_Deny
มากกว่า 3     34954
น้อยกว่า 1     1837
เท่ากับ 2        36
เท่ากับ 3         3
Name: count, dtype: int64

In [131]:
# แสดงชื่อคอลัมน์ทั้งหมดใน df_combined
print(df_combined.columns)

Index(['ID_Card', 'AGE', 'Policy_Class', 'Premium', 'DATESALE', 'INCDTE',
       'DATREP', 'DATOCC', 'ReseveDescription', 'GRS_OS', 'GRS_PAID', 'GIC',
       'Remark', 'ReseveDescriptionType', 'ReseveDescription_Count',
       'ReseveDescription_Risk_Level', 'Conditions_ReseveDescription',
       'DATESALE_DATOCC_difference', 'DATESALE_DATOCC_Risk_Level',
       'Conditions_DATESALE_DATOCC', 'INCDTE_DATOCC_difference',
       'INCDTE_DATOCC_Risk_Level', 'Claim_Count', 'Claim_Count_Risk_Level',
       'Conditions_Claim', 'GIC_Count', 'GIC_Risk_Level', 'Conditions_Deny'],
      dtype='object')

In [132]:

df_combined['GRS_PAID_Risk_Level'] = df_combined['GRS_PAID'].apply(lambda x:
    'ความเสี่ยงน้อย' if x <=400000 else
    'ความเสี่ยงปานกลาง' if 400000 < x <= 500000 else
    'ความเสี่ยงสูง' if 500000 < x < 600000 else
    'ความเสี่ยงสูงมาก' if x >=600000 else 'ค่าไม่ระบุ'
)

In [133]:
import numpy as np

conditions = [
    df_combined["GRS_PAID_Risk_Level"] == "ความเสี่ยงสูงมาก",
    df_combined["GRS_PAID_Risk_Level"] == "ความเสี่ยงสูง",
    df_combined["GRS_PAID_Risk_Level"] == "ความเสี่ยงปานกลาง",
    df_combined["GRS_PAID_Risk_Level"] == "ความเสี่ยงน้อย"
]

choices = ["มากกว่าเท่ากับ 4 แสน","มากกว่า 4 แสน และ น้อยกว่าเท่ากับ 5 แสน", "มากกว่า 4 แสน และ น้อยกว่า 6 แสน", "มากกว่าเท่ากับ 6 แสน"]

df_combined["Conditions_GRS_PAID"] = np.select(conditions, choices, default="ไม่ระบุ")

print(df_combined)

             ID_Card  AGE Policy_Class   Premium   DATESALE     INCDTE  \
0         '000022391    0          GTS  524980.0 2023-03-16 2023-04-08
1         '000022392    0          GTS  524980.0 2023-03-16 2023-04-08
2         '000022393    0          GTS  424980.0 2024-03-16 2024-04-08
3         '000022394    0          GTS  524980.0 2023-03-16 2023-04-08
4         '000022395    0          GTS  524980.0 2023-03-16 2023-04-08
...              ...  ...          ...       ...        ...        ...
36825  0000254010156   45          PWT    8180.0 2023-09-11 2023-09-11
36826  0000254010156   45          PWT    8180.0 2023-09-11 2023-09-11
36827  0000254010157   49          GWC    8280.0 2022-08-23 2022-08-01
36828  1103900419504    7          GWT     440.0 2024-04-08 2024-04-13
36829  1103900419504    7          GWT     440.0 2024-04-08 2024-04-13

          DATREP     DATOCC            ReseveDescription     GRS_OS  ...  \
0     2023-05-12 2023-04-22         GP/A Medical Expense        0.0  ...
1     2024-07-02 2024-03-23           Death AD&D (O.B.1)  1000000.0  ...
2     2024-04-30 2024-04-23         GP/A Medical Expense        0.0  ...
3     2024-02-13 2024-01-09                 อาหารเป็นพิษ        0.0  ...
4     2024-02-02 2023-12-19         GP/A Medical Expense        0.0  ...
...          ...        ...                          ...        ...  ...
36825 2024-11-13 2024-08-20  Transportation Cost for OPD        0.0  ...
36826 2024-11-13 2024-08-20         GP/A Medical Expense        0.0  ...
36827 2023-07-11 2023-06-30         GP/A Medical Expense        0.0  ...
36828 2024-04-29 2024-04-16         GP/A Medical Expense        0.0  ...
36829 2024-04-29 2024-04-16  Transportation Cost for OPD        0.0  ...

       INCDTE_DATOCC_difference  INCDTE_DATOCC_Risk_Level Claim_Count  \
0                            14             ความเสี่ยงมาก           1
1                           350           ไม่มีความเสี่ยง           1
2                            15             ความเสี่ยงมาก           1
3                           276           ไม่มีความเสี่ยง           1
4                           255           ไม่มีความเสี่ยง           1
...                         ...                       ...         ...
36825                       344           ไม่มีความเสี่ยง           2
36826                       344           ไม่มีความเสี่ยง           2
36827                       333           ไม่มีความเสี่ยง           1
36828                         3          ความเสี่ยงสูงมาก           2
36829                         3          ความเสี่ยงสูงมาก           2

      Claim_Count_Risk_Level  Conditions_Claim GIC_Count    GIC_Risk_Level  \
0            ไม่มีความเสี่ยง         เท่ากับ 1         0  ความเสี่ยงสูงมาก
1            ไม่มีความเสี่ยง         เท่ากับ 1         0  ความเสี่ยงสูงมาก
2            ไม่มีความเสี่ยง         เท่ากับ 1         0  ความเสี่ยงสูงมาก
3            ไม่มีความเสี่ยง         เท่ากับ 1         0  ความเสี่ยงสูงมาก
4            ไม่มีความเสี่ยง         เท่ากับ 1         0  ความเสี่ยงสูงมาก
...                      ...               ...       ...               ...
36825          ความเสี่ยงต่ำ         เท่ากับ 2         0  ความเสี่ยงสูงมาก
36826          ความเสี่ยงต่ำ         เท่ากับ 2         0  ความเสี่ยงสูงมาก
36827        ไม่มีความเสี่ยง         เท่ากับ 1         0  ความเสี่ยงสูงมาก
36828          ความเสี่ยงต่ำ         เท่ากับ 2         0  ความเสี่ยงสูงมาก
36829          ความเสี่ยงต่ำ         เท่ากับ 2         0  ความเสี่ยงสูงมาก

       Conditions_Deny GRS_PAID_Risk_Level   Conditions_GRS_PAID
0            มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
1            มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
2            มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
3            มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
4            มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
...                ...                 ...                   ...
36825        มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
36826        มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
36827        มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
36828        มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน
36829        มากกว่า 3      ความเสี่ยงน้อย  มากกว่าเท่ากับ 6 แสน

[36830 rows x 30 columns]

In [134]:
df_combined['Conditions_GRS_PAID'].value_counts()

Conditions_GRS_PAID
มากกว่าเท่ากับ 6 แสน                       36749
มากกว่าเท่ากับ 4 แสน                          49
มากกว่า 4 แสน และ น้อยกว่า 6 แสน              23
มากกว่า 4 แสน และ น้อยกว่าเท่ากับ 5 แสน        9
Name: count, dtype: int64

In [135]:
import pandas as pd

# ฟังก์ชันกำหนดระดับความเสี่ยงจากจำนวน 'ความเสี่ยงสูง'
def risk_level_from_count(high_risk_count, medium_risk_count, low_risk_count):
    # ความเสี่ยงสูงมาก
    if high_risk_count >= 1:
        return 'ความเสี่ยงสูงมาก'
    # ความเสี่ยงสูง
    elif medium_risk_count >= 2:
        return 'ความเสี่ยงสูงมาก'
    # ความเสี่ยงปานกลาง
    elif medium_risk_count >= 3:
        return 'ความเสี่ยงสูง'
    # ความเสี่ยงน้อย
    elif low_risk_count > 0:
        return 'ความเสี่ยงน้อย'
    else:
        return 'ไม่มีความเสี่ยง'

# ฟังก์ชันในการคำนวณระดับความเสี่ยงของแต่ละแถว
def determine_risk_level(row):
    # นับจำนวน 'ความเสี่ยงสูงมาก'
    high_risk_count = (row == 'ความเสี่ยงสูงมาก').sum()
    # นับจำนวน 'ความเสี่ยงสูง'
    medium_risk_count = (row == 'ความเสี่ยงสูง').sum()
    # นับจำนวน 'ความเสี่ยงปานกลาง'
    low_risk_count = (row == 'ความเสี่ยงปานกลาง').sum()
    # นับจำนวน 'ความเสี่ยงน้อย'
    very_low_risk_count = (row == 'ความเสี่ยงน้อย').sum()

    # กำหนดระดับความเสี่ยง
    return risk_level_from_count(high_risk_count, medium_risk_count, low_risk_count)

# ใช้ apply() ในการประมวลผลแต่ละแถว (ไม่รวม 'ID_Card')
df_combined['Risk_Level'] = df_combined.drop(columns=['ID_Card']).apply(determine_risk_level, axis=1)

# แสดงผลลัพธ์
print(df_combined[['ID_Card', 'Risk_Level']])

             ID_Card        Risk_Level
0         '000022391  ความเสี่ยงสูงมาก
1         '000022392  ความเสี่ยงสูงมาก
2         '000022393  ความเสี่ยงสูงมาก
3         '000022394  ความเสี่ยงสูงมาก
4         '000022395  ความเสี่ยงสูงมาก
...              ...               ...
36825  0000254010156  ความเสี่ยงสูงมาก
36826  0000254010156  ความเสี่ยงสูงมาก
36827  0000254010157  ความเสี่ยงสูงมาก
36828  1103900419504  ความเสี่ยงสูงมาก
36829  1103900419504  ความเสี่ยงสูงมาก

[36830 rows x 2 columns]

In [136]:
df_combined['Risk_Level'].value_counts()

Risk_Level
ความเสี่ยงสูงมาก    36307
ไม่มีความเสี่ยง       375
ความเสี่ยงน้อย        148
Name: count, dtype: int64

In [137]:
df_combined

,ID_Card,AGE,Policy_Class,Premium,DATESALE,INCDTE,DATREP,DATOCC,ReseveDescription,GRS_OS,...,INCDTE_DATOCC_Risk_Level,Claim_Count,Claim_Count_Risk_Level,Conditions_Claim,GIC_Count,GIC_Risk_Level,Conditions_Deny,GRS_PAID_Risk_Level,Conditions_GRS_PAID,Risk_Level
0,'000022391,0,GTS,524980.0,2023-03-16,2023-04-08,2023-05-12,2023-04-22,GP/A Medical Expense,0.0,...,ความเสี่ยงมาก,1,ไม่มีความเสี่ยง,เท่ากับ 1,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
1,'000022392,0,GTS,524980.0,2023-03-16,2023-04-08,2024-07-02,2024-03-23,Death AD&D (O.B.1),1000000.0,...,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
2,'000022393,0,GTS,424980.0,2024-03-16,2024-04-08,2024-04-30,2024-04-23,GP/A Medical Expense,0.0,...,ความเสี่ยงมาก,1,ไม่มีความเสี่ยง,เท่ากับ 1,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
3,'000022394,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-13,2024-01-09,อาหารเป็นพิษ,0.0,...,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
4,'000022395,0,GTS,524980.0,2023-03-16,2023-04-08,2024-02-02,2023-12-19,GP/A Medical Expense,0.0,...,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,Transportation Cost for OPD,0.0,...,ไม่มีความเสี่ยง,2,ความเสี่ยงต่ำ,เท่ากับ 2,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
36826,0000254010156,45,PWT,8180.0,2023-09-11,2023-09-11,2024-11-13,2024-08-20,GP/A Medical Expense,0.0,...,ไม่มีความเสี่ยง,2,ความเสี่ยงต่ำ,เท่ากับ 2,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
36827,0000254010157,49,GWC,8280.0,2022-08-23,2022-08-01,2023-07-11,2023-06-30,GP/A Medical Expense,0.0,...,ไม่มีความเสี่ยง,1,ไม่มีความเสี่ยง,เท่ากับ 1,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
36828,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,GP/A Medical Expense,0.0,...,ความเสี่ยงสูงมาก,2,ความเสี่ยงต่ำ,เท่ากับ 2,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก
36829,1103900419504,7,GWT,440.0,2024-04-08,2024-04-13,2024-04-29,2024-04-16,Transportation Cost for OPD,0.0,...,ความเสี่ยงสูงมาก,2,ความเสี่ยงต่ำ,เท่ากับ 2,0,ความเสี่ยงสูงมาก,มากกว่า 3,ความเสี่ยงน้อย,มากกว่าเท่ากับ 6 แสน,ความเสี่ยงสูงมาก

In [138]:
#['ID_Card', 'AGE', 'Policy_Class', 'Premium',
'DATESALE', 'INCDTE', 'DATREP', 'DATOCC',
 'ReseveDescription', 'GRS_OS', 'GRS_PAID', 'GIC', 'Remark',
 #'ReseveDescriptionType', 'ReseveDescription_Count_x', 'ReseveDescription_Count_y',
 'ReseveDescription_Count', 'ReseveDescription_Risk_Level', 'Conditions_ReseveDescription',


 #'INCDTE_DATOCC_difference', 'DATESALE_DATOCC_difference', 'DATESALE_DATOCC_Risk_Level', 'Conditions_DATESALE_DATOCC',
 #'Risk_Level', 'INCDTE_DATOCC_Risk_Level', 'Claim_Count', 'Claim_Count_Risk_Level', 'Conditions_Claim', 'GIC_Count', 'GIC_Risk', 'Conditions_Deny', 'GRS_PAID_Risk_Level', 'Conditions_GRS_PAID']

In [140]:
df_combined.rename(columns={"ID_Card": "เลขบัตรประจำตัวประชาชน", "AGE": "อายุ",    "Premium": "เบี้ยประกันภัย",
                            "DATESALE": "วันที่ขายประกันภัย",           "INCDTE": "วันที่เริ่มคุ้มครอง", "DATREP": "วันที่แจ้งเหตุ",    "DATOCC": "วันที่เกิดเหตุ",
                    "ReseveDescription": "สาเหตุการเคลมประกันภัย",  "GRS_OS": "ค่าสินไหมทดแทนที่ค้างจ่าย","GRS_PAID": "ค่าสินไหมทดแทนที่จ่าย",
                             "GIC": "ค่าสินไหมทดแทนที่เกิดขึ้นรวม"   , "Remark": "การฉ้อฉลประกันภัย",
                            "ReseveDescriptionType": "กลุ่มสาเหตุการเคลมประกันภัย",

                              "ReseveDescription_Coun": "จำนวนสาเหตุการเคลมประกันภัย",  "ReseveDescription_Risk_Level": "ความเสี่ยงสาเหตุการเคลมประกันภัย",
                            "Conditions_ReseveDescription": "เงื่อนไขสาเหตุการเคลมประกันภัย",


                            }, inplace=True)

In [ ]:
# บันทึก DataFrame เป็นไฟล์ Excel
df_combined.to_excel('df_combined_with_datesale.xlsx', index=False)

# แจ้งว่าไฟล์ถูกบันทึกแล้ว
print("ไฟล์ Excel ถูกบันทึกแล้วที่ 'df_combined_with_datesale.xlsx'")

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/formats/excel.py", line 952, in write
    writer._write_cells(
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_openpyxl.py", line None, in _write_cells
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-139-8323dae6d3b9>", line 2, in <cell line: 0>
    df_combined.to_excel('df_combined_with_datesale.xlsx', index=False)
  File "/usr/local/lib/python3.11/dist-packages/pandas/util/_decorators.py", line 333, in wrapper
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/pandas/core/generic.py", line 2417, in to_excel
    formatter.write(
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/formats/excel.py", line 962, in write
    writer.close()
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_base.py", line 1357, in close
    self._save()
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_openpyxl.py", line 110, in _save
    self.book.save(self._handles.handle)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/workbook/workbook.py", line 386, in save
    save_workbook(self, filename)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 294, in save_workbook
    writer.save()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 275, in save
    self.write_data()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 77, in write_data
    self._write_worksheets()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 215, in _write_worksheets
    self.write_worksheet(ws)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 200, in write_worksheet
    writer.write()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 359, in write
    self.write_rows()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 125, in write_rows
    self.write_row(xf, row, row_idx)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 147, in write_row
    write_cell(xf, self.ws, cell, cell.has_style)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/_writer.py", line 90, in lxml_write_cell
    value, attributes = _set_attributes(cell, styled)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/_writer.py", line 39, in _set_attributes
    if cell.hyperlink:
       ^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/cell.py", line 225, in hyperlink
    @property

KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
          ^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.11/inspect.py", line 1739, in getinnerframes
    traceback_info = getframeinfo(tb, context)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.11/inspect.py", line 1686, in getframeinfo
    start = lineno - 1 - context//2
            ~~~~~~~^~~
TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'
Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/formats/excel.py", line 952, in write
    writer._write_cells(
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_openpyxl.py", line None, in _write_cells
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-139-8323dae6d3b9>", line 2, in <cell line: 0>
    df_combined.to_excel('df_combined_with_datesale.xlsx', index=False)
  File "/usr/local/lib/python3.11/dist-packages/pandas/util/_decorators.py", line 333, in wrapper
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/pandas/core/generic.py", line 2417, in to_excel
    formatter.write(
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/formats/excel.py", line 962, in write
    writer.close()
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_base.py", line 1357, in close
    self._save()
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_openpyxl.py", line 110, in _save
    self.book.save(self._handles.handle)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/workbook/workbook.py", line 386, in save
    save_workbook(self, filename)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 294, in save_workbook
    writer.save()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 275, in save
    self.write_data()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 77, in write_data
    self._write_worksheets()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 215, in _write_worksheets
    self.write_worksheet(ws)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 200, in write_worksheet
    writer.write()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 359, in write
    self.write_rows()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 125, in write_rows
    self.write_row(xf, row, row_idx)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 147, in write_row
    write_cell(xf, self.ws, cell, cell.has_style)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/_writer.py", line 90, in lxml_write_cell
    value, attributes = _set_attributes(cell, styled)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/_writer.py", line 39, in _set_attributes
    if cell.hyperlink:
       ^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/cell.py", line 225, in hyperlink
    @property

KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
          ^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
           ^^^^^^^^^^^^
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
          ^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.11/inspect.py", line 1739, in getinnerframes
    traceback_info = getframeinfo(tb, context)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.11/inspect.py", line 1686, in getframeinfo
    start = lineno - 1 - context//2
            ~~~~~~~^~~
TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'
Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/formats/excel.py", line 952, in write
    writer._write_cells(
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_openpyxl.py", line None, in _write_cells
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-139-8323dae6d3b9>", line 2, in <cell line: 0>
    df_combined.to_excel('df_combined_with_datesale.xlsx', index=False)
  File "/usr/local/lib/python3.11/dist-packages/pandas/util/_decorators.py", line 333, in wrapper
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/pandas/core/generic.py", line 2417, in to_excel
    formatter.write(
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/formats/excel.py", line 962, in write
    writer.close()
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_base.py", line 1357, in close
    self._save()
  File "/usr/local/lib/python3.11/dist-packages/pandas/io/excel/_openpyxl.py", line 110, in _save
    self.book.save(self._handles.handle)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/workbook/workbook.py", line 386, in save
    save_workbook(self, filename)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 294, in save_workbook
    writer.save()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 275, in save
    self.write_data()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 77, in write_data
    self._write_worksheets()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 215, in _write_worksheets
    self.write_worksheet(ws)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/writer/excel.py", line 200, in write_worksheet
    writer.write()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 359, in write
    self.write_rows()
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 125, in write_rows
    self.write_row(xf, row, row_idx)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/worksheet/_writer.py", line 147, in write_row
    write_cell(xf, self.ws, cell, cell.has_style)
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/_writer.py", line 90, in lxml_write_cell
    value, attributes = _set_attributes(cell, styled)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/_writer.py", line 39, in _set_attributes
    if cell.hyperlink:
       ^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/openpyxl/cell/cell.py", line 225, in hyperlink
    @property

KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
          ^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
           ^^^^^^^^^^^^
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
          ^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3030, in _run_cell
    return runner(coro)
           ^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3257, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 3492, in run_ast_nodes
    self.showtraceback()
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
           ^^^^^^^^^^^^
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
          ^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^