<a href="https://colab.research.google.com/github/Suchada2000/MY-WORK/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
exit()

In [ ]:
pip install pandas scikit-learn openpyxl
#pandas read excal
#openpyxl อ่านไฟล์ excal
#scikit-learn standardization

In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# 1. อ่านข้อมูลจากไฟล์ Excel
df = pd.read_excel("/content/sample_data/คลีน/Databaseใหม่.xlsx")

# 2. ดูข้อมูลใน DataFrame
print("Original Data:")
print(df)

Original Data:
     chdrnum       UNIT_DESC  cownnum
0   31503378          AGENCY   637084
1   31362289          AGENCY   887918
2   31380352          AGENCY   675582
3   31380352          AGENCY   675582
4   34881057          DIRECT  1299239
5   34881235          DIRECT  1299598
6   31380265          DIRECT   933179
7   31380352          AGENCY   675582
8   31380352          AGENCY   675582
9   31380352          AGENCY   675582
10  34881523          DIRECT  1294172
11  34881523          DIRECT  1294172
12  34951121  IN-HOUSE AGENT   841044
13  34951121  IN-HOUSE AGENT   841044
14  34951121  IN-HOUSE AGENT   841044
15  34951121  IN-HOUSE AGENT   841044
16  34951121  IN-HOUSE AGENT   841044
17  35511371          DIRECT  1049123
18  35528224          AGENCY   942361

In [7]:
df

     chdrnum  UNIT_DESC  cownnum
0   31503378          0   637084
1   31362289          0   887918
2   31380352          0   675582
3   31380352          0   675582
4   34881057          1  1299239
5   34881235          1  1299598
6   31380265          1   933179
7   31380352          0   675582
8   31380352          0   675582
9   31380352          0   675582
10  34881523          1  1294172
11  34881523          1  1294172
12  34951121          3   841044
13  34951121          3   841044
14  34951121          3   841044
15  34951121          3   841044
16  34951121          3   841044
17  35511371          1  1049123
18  35528224          0   942361

In [5]:
df = pd.DataFrame(df)

# แปลงคอลัมน์ 'Amount' เป็นตัวเลข โดยแปลงค่าที่ไม่สามารถแปลงเป็น NaN
df['UNIT_DESC'] = df['UNIT_DESC'].replace('AGENCY', 0)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('DIRECT', 1)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('BROKER', 2)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('IN-HOUSE AGENT', 3)
df['UNIT_DESC'] = df['UNIT_DESC'].replace('BANCASSURANCE', 4)

# แสดงผลลัพธ์
print(df)

     chdrnum  UNIT_DESC  cownnum
0   31503378          0   637084
1   31362289          0   887918
2   31380352          0   675582
3   31380352          0   675582
4   34881057          1  1299239
5   34881235          1  1299598
6   31380265          1   933179
7   31380352          0   675582
8   31380352          0   675582
9   31380352          0   675582
10  34881523          1  1294172
11  34881523          1  1294172
12  34951121          3   841044
13  34951121          3   841044
14  34951121          3   841044
15  34951121          3   841044
16  34951121          3   841044
17  35511371          1  1049123
18  35528224          0   942361

<ipython-input-5-6546e0f749be>:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['UNIT_DESC'] = df['UNIT_DESC'].replace('IN-HOUSE AGENT', 3)

In [9]:
from sklearn import preprocessing

In [10]:
scaler = preprocessing.StandardScaler().fit(df)

In [11]:
scaler.mean_ #ค่าเฉลี่ยของแต่ละพีเจอร์

array([3.34983279e+07, 1.10526316e+00, 9.06314526e+05])

In [12]:
scaler.scale_ #ส่วนเบี่ยงเบนมาตรฐานแต่ละฟีเจอร์ คอลัม

array([1.80400835e+06, 1.20938161e+00, 2.28571754e+05])

In [ ]:
# 3. สร้าง StandardScaler และทำการ fit กับข้อมูล
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

# 4. เปลี่ยนข้อมูลที่ถูก Standardized กลับเป็น DataFrame เพื่อให้ดูได้ง่าย
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

# 5. ดูข้อมูลหลังจากทำการ Standardization
print("\nStandardized Data:")
print(df_scaled)

In [21]:
# 3. สร้าง StandardScaler และทำการ fit กับข้อมูล
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

In [22]:
df_scaled

array([[-1.10584294, -0.91390769, -1.17788187],
       [-1.18405156, -0.91390769, -0.08048469],
       [-1.17403886, -0.91390769, -1.00945336],
       [-1.17403886, -0.91390769, -1.00945336],
       [ 0.766476  , -0.08703883,  1.71904212],
       [ 0.76657467, -0.08703883,  1.72061275],
       [-1.17408708, -0.08703883,  0.1175319 ],
       [-1.17403886, -0.91390769, -1.00945336],
       [-1.17403886, -0.91390769, -1.00945336],
       [-1.17403886, -0.91390769, -1.00945336],
       [ 0.76673432, -0.08703883,  1.69687403],
       [ 0.76673432, -0.08703883,  1.69687403],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 0.80531396,  1.5666989 , -0.28555815],
       [ 1.11587239, -0.08703883,  0.62478618],
       [ 1.12521436, -0.91390769,  0.1577031 ]])

In [31]:
# สร้าง StandardScaler
scaler = StandardScaler()

# ทำการ fit และ transform ข้อมูล
df_scaled = scaler.fit_transform(df)

# แปลงข้อมูลให้เป็น DataFrame และตรวจสอบผล
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

In [26]:
df.isna().sum()  # ดูว่ามีค่า NaN ในคอลัมน์ไหนบ้าง
df = df.fillna(0)

In [27]:
df = df.fillna(df.mean())

In [32]:
df_scaled.mean(axis=0) #ค่าไม่เป็น ?????????????????????????

chdrnum      4.090295e-16
UNIT_DESC   -8.764919e-17
cownnum      1.913674e-16
dtype: float64

In [29]:
df = df.select_dtypes(include=['float64', 'int64'])

In [24]:
df_scaled.std(axis=0)

array([1., 1., 1.])

In [38]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

#สร้างชุดข้อมูลจำลอง
X, y = make_classification(random_state=42)
#แบ่งออกเป็นชุดฝึกและทดสอบ
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
#สร้าง Pipeline ที่ประกอบด้วยการปรับมาตรฐาน (StandardScaler) และการฝึก Logistic Regression
pipe = make_pipeline(StandardScaler(), LogisticRegression())
#ฝึก
pipe.fit(X_train, y_train)  # apply scaling on training data
Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])
#ทำนาย
pipe.score(X_test, y_test)  # apply scaling on testing data, without leaking training data เอาไว้ทดสอบความแม่นยำ

0.96

นำไฟล์ออก

In [ ]:
df.to_excel('D:\output_file.xlsx', index=False)