<a href="https://colab.research.google.com/github/Suchada2000/MY-WORK/blob/main/Untitled43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd

# อ่านไฟล์ Excel
df = pd.read_excel('/content/sample_data/CLAIM_TA.xlsx')

❌

In [ ]:

import pandas as pd

# ตัวอย่าง DataFrame
counts = df['Policy_Class'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['Policy_Class', 'Policy_Class_Count']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:

import pandas as pd

# ตัวอย่าง DataFrame
counts = df['Plan_'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['Plan_', 'Plan_Count']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('Plan_output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:
import pandas as pd

# ตัวอย่าง DataFrame
counts = df['ReserveCode'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['ReserveCode', 'ReserveCodeCount']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('ReserveCode_output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:

# กรองข้อมูลในช่วงอายุ 0-10 ปี
age_group_0_10 = df[(df['AGE'] >= 0) & (df['AGE'] <= 10)]
average_age_0_10 = age_group_0_10['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 11-20 ปี
age_group_11_20 = df[(df['AGE'] > 10) & (df['AGE'] <= 20)]
average_age_11_20 = age_group_11_20['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 21-30 ปี
age_group_21_30 = df[(df['AGE'] > 20) & (df['AGE'] <= 30)]
average_age_21_30 = age_group_21_30['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 31-40 ปี
age_group_31_40 = df[(df['AGE'] > 30) & (df['AGE'] <= 40)]
average_age_31_40 = age_group_31_40['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 41-50 ปี
age_group_41_50 = df[(df['AGE'] > 40) & (df['AGE'] <= 50)]
average_age_41_50 = age_group_41_50['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 51-60 ปี
age_group_51_60 = df[(df['AGE'] > 50) & (df['AGE'] <= 60)]
average_age_51_60 = age_group_51_60['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 61-70 ปี
age_group_61_70 = df[(df['AGE'] > 60) & (df['AGE'] <= 70)]
average_age_61_70 = age_group_61_70['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 71-80 ปี
age_group_71_80 = df[(df['AGE'] > 70) & (df['AGE'] <= 80)]
average_age_71_80 = age_group_71_80['AGE'].mean()

# กรองข้อมูลในช่วงอายุ 81-90 ปี
age_group_81_90 = df[(df['AGE'] > 80) & (df['AGE'] <= 90)]
average_age_81_90 = age_group_81_90['AGE'].mean()

# แสดงผลลัพธ์
print(f"ค่าเฉลี่ยอายุในช่วง 0-10 ปี: {average_age_0_10}")
print(f"ค่าเฉลี่ยอายุในช่วง 11-20 ปี: {average_age_11_20}")
print(f"ค่าเฉลี่ยอายุในช่วง 21-30 ปี: {average_age_21_30}")
print(f"ค่าเฉลี่ยอายุในช่วง 31-40 ปี: {average_age_31_40}")
print(f"ค่าเฉลี่ยอายุในช่วง 41-50 ปี: {average_age_41_50}")
print(f"ค่าเฉลี่ยอายุในช่วง 51-60 ปี: {average_age_51_60}")
print(f"ค่าเฉลี่ยอายุในช่วง 61-70 ปี: {average_age_61_70}")
print(f"ค่าเฉลี่ยอายุในช่วง 71-80 ปี: {average_age_71_80}")
print(f"ค่าเฉลี่ยอายุในช่วง 81-90 ปี: {average_age_81_90}")

In [ ]:

# สร้าง DataFrame สำหรับผลลัพธ์
results = pd.DataFrame({
    'Age Range': ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90'],
    'Average Age': [
        average_age_0_10, average_age_11_20, average_age_21_30, average_age_31_40,
        average_age_41_50, average_age_51_60, average_age_61_70, average_age_71_80, average_age_81_90
    ]
})

# บันทึกผลลัพธ์เป็นไฟล์ Excel
results.to_excel('average_age_by_range.xlsx', index=False)  # เปลี่ยนชื่อไฟล์ได้ตามต้องการ

In [ ]:

# คำนวณจำนวนข้อมูลทั้งหมด
total_count = len(df)

# คำนวณร้อยละของแต่ละช่วงอายุ
percentage_0_10 = (len(age_group_0_10) / total_count) * 100
percentage_11_20 = (len(age_group_11_20) / total_count) * 100
percentage_21_30 = (len(age_group_21_30) / total_count) * 100
percentage_31_40 = (len(age_group_31_40) / total_count) * 100
percentage_41_50 = (len(age_group_41_50) / total_count) * 100
percentage_51_60 = (len(age_group_51_60) / total_count) * 100
percentage_61_70 = (len(age_group_61_70) / total_count) * 100
percentage_71_80 = (len(age_group_71_80) / total_count) * 100
percentage_81_90 = (len(age_group_81_90) / total_count) * 100

# แสดงผลลัพธ์
print(f"ร้อยละของอายุ 0-10 ปี: {percentage_0_10:.2f}%")
print(f"ร้อยละของอายุ 11-20 ปี: {percentage_11_20:.2f}%")
print(f"ร้อยละของอายุ 21-30 ปี: {percentage_21_30:.2f}%")
print(f"ร้อยละของอายุ 31-40 ปี: {percentage_31_40:.2f}%")
print(f"ร้อยละของอายุ 41-50 ปี: {percentage_41_50:.2f}%")
print(f"ร้อยละของอายุ 51-60 ปี: {percentage_51_60:.2f}%")
print(f"ร้อยละของอายุ 61-70 ปี: {percentage_61_70:.2f}%")
print(f"ร้อยละของอายุ 71-80 ปี: {percentage_71_80:.2f}%")
print(f"ร้อยละของอายุ 81-90 ปี: {percentage_81_90:.2f}%")

In [ ]:

import pandas as pd

# ตัวอย่าง DataFrame
counts = df['ReseveDescription'].value_counts()
df.head()
counts_df = counts.reset_index()
counts_df.columns = ['ReseveDescription', 'ReseveDescriptionCount']  # เปลี่ยนชื่อคอลัมน์ให้เหมาะสม

# บันทึกผลลัพธ์ลงไฟล์ Excel ใหม่
counts_df.to_excel('ReseveDescription_output_file.xlsx', index=False)

# แสดงผลลัพธ์
print(counts_df)

In [ ]:

# นับจำนวนการเคลมซ้ำของลูกค้าทุกคนตามประเภทการเคลม
claim_type_counts_per_customer = df.groupby(['Dummy ID', 'ReseveDescription']).size().reset_index(name='Claim_Count')

df = df.merge(claim_type_counts_per_customer, on=['Dummy ID', 'ReseveDescription'], how='left')

# แสดงผลลัพธ์
print(claim_type_counts_per_customer)

In [ ]:

# แปลงข้อมูลในคอลัมน์ 'Date' ให้เป็น datetime
df['INCDTE'] = pd.to_datetime(df['INCDTE'], format='%Y%m%d')
df['ExpireDate'] = pd.to_datetime(df['ExpireDate'], format='%Y%m%d')
df['DATREP'] = pd.to_datetime(df['DATREP'], format='%Y%m%d')
df['DATOCC'] = pd.to_datetime(df['DATOCC'], format='%Y%m%d')

In [ ]:

# แปลงคอลัมน์วันที่ให้เป็น datetime (สมมติว่ามีคอลัมน์ 'INCDTE' และ 'DATOCC') วันที่เริ่มและวันที่เกิดเหตุ
df['DATESALE2'] = pd.to_datetime(df['DATESALE2'])
df['INCDTE'] = pd.to_datetime(df['INCDTE'])
df['DATOCC'] = pd.to_datetime(df['DATOCC'])

# คำนวณระยะห่างระหว่าง 'Start_Date' และ 'End_Date'
df['Date_Difference1'] = abs(df['DATESALE2'] - df['INCDTE']).dt.days # วันเกิดเหตุกับวันที่รายงาน
df['Date_Difference2'] = abs(df['INCDTE'] - df['DATOCC']).dt.days # วันที่เริ่มกับวันที่เกิดเหตุ

# แสดงผลลัพธ์
print(df[['Date_Difference1','Date_Difference2']])
df.head()

In [ ]:

average_date_diff_1 = df['Date_Difference1'].mean()
average_date_diff_2 = df['Date_Difference2'].mean()

# แสดงค่าเฉลี่ย
print(f"ค่าเฉลี่ยของ Date_Difference1: {average_date_diff_1}")
print(f"ค่าเฉลี่ยของ Date_Difference2: {average_date_diff_2}")

In [ ]:

total1 = df['Date_Difference1'].sum()
total2 = df['Date_Difference2'].sum()

In [ ]:

# คำนวณร้อยละจากค่าเฉลี่ย (อ้างอิงจากผลรวมของค่าทั้งหมดในคอลัมน์ Date_Difference1)
total1 = df['Date_Difference1'].sum()
total2 = df['Date_Difference2'].sum()

percentage_diff_1 = (average_date_diff_1 / total1) * 100
percentage_diff_2 = (average_date_diff_2 / total2) * 100

# แสดงผลลัพธ์
print(f"ค่าเฉลี่ยของ Date_Difference1: {average_date_diff_1} - ร้อยละ: {percentage_diff_1}%")
print(f"ค่าเฉลี่ยของ Date_Difference2: {average_date_diff_2} - ร้อยละ: {percentage_diff_2}%")

In [ ]:

# นับจำนวน GIC ที่ซ้ำกันสำหรับแต่ละ Dummy ID
gic_counts = df.groupby('Dummy ID')['GIC '].count().reset_index(name='GIC_Count')

# รวมข้อมูลกลับเข้า df
df = df.merge(gic_counts, on='Dummy ID', how='left')

# กำหนดระดับความเสี่ยงตามค่า GIC_Count
df['Risk_Level'] = df['GIC_Count'].map({
    2: 'ความเสี่ยงน้อย',
    3: 'ความเสี่ยงปานกลาง',
    4: 'ความเสี่ยงสูง',
})

# แสดงผลลัพธ์บางส่วน
print(df[['Dummy ID', 'GIC ', 'GIC_Count', 'Risk_Level']].head())

In [ ]:

# กำหนดระดับความเสี่ยงตาม Claim_Count
df['Claim_Risk_Level'] = df['Claim_Count'].apply(lambda x:
    'ไม่มีความเสี่ยง' if x < 4 else
    'มีความเสี่ยงน้อย' if x == 4 else
    'มีความเสี่ยงปานกลาง' if x == 5 else
    'มีความเสี่ยงมาก'
)

# แสดงผลลัพธ์บางส่วน
print(df[['Dummy ID', 'Claim_Count', 'Claim_Risk_Level']].head())

In [ ]:

# นับจำนวน Claim ตาม Dummy ID และ ReserveDescription
claim_counts_per_customer = df.groupby(['Dummy ID', 'ReserveDescription']).size().reset_index(name='Claim_Count')

# รวมค่า Claim_Count กลับเข้า df
df = df.merge(claim_counts_per_customer, on=['Dummy ID', 'ReserveDescription'], how='left')

# กำหนดระดับความเสี่ยงตาม Claim_Count
df['Claim_Risk_Level_A'] = df['Claim_Count'].apply(lambda x:
    'ไม่มีความเสี่ยง' if x < 3 else
    'มีความเสี่ยงน้อย' if x == 3 else
    'มีความเสี่ยงปานกลาง' if x == 4 else
    'มีความเสี่ยงมาก'
)

# แสดงผลลัพธ์บางส่วน
print(df[['Dummy ID', 'ReserveDescription', 'Claim_Count', 'Claim_Risk_Level_A']].head())

❌

ลองหาค่าว่างวันที่ เริ่มใหม่

In [ ]:

import numpy as np
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

<ipython-input-3-e528bd1118fc>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [ ]:

df.isnull().sum()

Dummy ID                 0
AGE                      0
SEX                  29467
Occupation           16790
Policy_Class             0
Plan_                  543
Premium                  0
DATESALE               543
INCDTE                   0
ExpireDate               0
DATREP                   0
DATOCC                   0
ReserveCode              0
ReseveDescription       30
GRS_OS                   0
GRS_PAID                 0
GIC                      0
dtype: int64

In [ ]:
# สมมติว่า df เป็น DataFrame ของคุณ

# ตารางที่มี Plan_ เป็นค่าว่าง
df_missing = df[df['DATESALE'].isnull()]

# ตารางที่ไม่มี Plan_ เป็นค่าว่าง
df_not_missing = df[df['DATESALE'].notnull()]

# ตรวจสอบผลลัพธ์
print("ตารางที่มี Plan_ เป็นค่าว่าง:")
print(df_missing.head())

print("\nตารางที่ไม่มี Plan_ เป็นค่าว่าง:")
print(df_not_missing.head())

ตารางที่มี Plan_ เป็นค่าว่าง:
     Dummy ID  AGE  SEX                                       Occupation  \
30         41    0  NaN                                              NaN
31         42    0  NaN  EMPLOYEE
146       181    0  NaN                                              NaN
147       182    0  NaN                                              NaN
148       183    0  NaN  EMPLOYEE

    Policy_Class Plan_  Premium DATESALE    INCDTE  ExpireDate    DATREP  \
30           GAT   NaN   1708.0      NaT  20230324    20230327  20230410
31           GAT   NaN   1272.0      NaT  20241021    20241027  20241118
146          GAT   NaN    502.0      NaT  20230210    20230213  20230315
147          GAT   NaN   4200.0      NaT  20230310    20230313  20230412
148          GAT   NaN  19980.0      NaT  20231110    20231112  20231124

       DATOCC ReserveCode     ReseveDescription  GRS_OS  GRS_PAID      GIC
30   20230325          ME  GP/A Medical Expense     0.0    2407.0   2407.0
31   20241025          ME  GP/A Medical Expense     0.0    1202.0   1202.0
146  20230211          ME  GP/A Medical Expense     0.0       0.0      0.0
147  20230310          ME  GP/A Medical Expense     0.0    1680.0   1680.0
148  20231110          ME  GP/A Medical Expense     0.0   23690.0  23690.0

ตารางที่ไม่มี Plan_ เป็นค่าว่าง:
   Dummy ID  AGE  SEX                                       Occupation  \
0         1   40  NaN                                              NaN
1         2   75  NaN  EMPLOYEE
2         3   33  NaN                                              NaN
3         4   30  NaN                                              NaN
4         5   50  NaN                                              NaN

  Policy_Class                           Plan_  Premium            DATESALE  \
0          GDF  7U                                 80.0 2022-12-11 22:24:22
1          GDF  8Y                                160.0 2022-12-31 10:39:44
2          GDF  7ฉ                                100.0 2023-03-23 00:57:49
3          GDF  7ด                                180.0 2023-07-10 21:55:00
4          GDF  7ด                                180.0 2023-07-20 19:54:50

     INCDTE  ExpireDate    DATREP    DATOCC ReserveCode  \
0  20221231    20230101  20230711  20230101          VD
1  20230124    20230128  20230308  20230127          FD
2  20230323    20230324  20230329  20230323          FD
3  20230721    20230727  20230807  20230721          BD
4  20230725    20230730  20230803  20230725          BD

        ReseveDescription  GRS_OS  GRS_PAID     GIC
0      ค่ารักษาจากโควิค19     0.0       0.0     0.0
1   Flight Delay Coverage     0.0    2000.0  2000.0
2   Flight Delay Coverage     0.0    2000.0  2000.0
3  Baggage Delay Coverage     0.0       0.0     0.0
4  Baggage Delay Coverage     0.0    6000.0  6000.0

In [ ]:

df_not_missing

,Dummy ID,AGE,SEX,Occupation,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReserveCode,ReseveDescription,GRS_OS,GRS_PAID,GIC
0,1,40,NaN,NaN,GDF,7U,80.0,2022-12-11 22:24:22,20221231,20230101,20230711,20230101,VD,ค่ารักษาจากโควิค19,0.0,0.0,0.0
1,2,75,NaN,EMPLOYEE,GDF,8Y,160.0,2022-12-31 10:39:44,20230124,20230128,20230308,20230127,FD,Flight Delay Coverage,0.0,2000.0,2000.0
2,3,33,NaN,NaN,GDF,7ฉ,100.0,2023-03-23 00:57:49,20230323,20230324,20230329,20230323,FD,Flight Delay Coverage,0.0,2000.0,2000.0
3,4,30,NaN,NaN,GDF,7ด,180.0,2023-07-10 21:55:00,20230721,20230727,20230807,20230721,BD,Baggage Delay Coverage,0.0,0.0,0.0
4,5,50,NaN,NaN,GDF,7ด,180.0,2023-07-20 19:54:50,20230725,20230730,20230803,20230725,BD,Baggage Delay Coverage,0.0,6000.0,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33064,34534,49,NaN,EMPLOYEE,PWT,YF,765.0,2024-12-05 17:18:12,20241213,20241222,20250120,20241220,ME,GP/A Medical Expense,2000.0,0.0,2000.0
33065,34535,56,NaN,EMPLOYEE,PWT,YF,955.0,2024-12-09 17:52:50,20241212,20241224,20250115,20241214,LD,Damage or Loss of Travel Docum,2000.0,0.0,2000.0
33066,34536,47,NaN,EMPLOYEE,PWT,YE,490.0,2024-12-19 21:27:45,20241219,20241223,20250107,20241221,BP,Baggage & Personal Effects,2000.0,0.0,2000.0
33067,34537,51,NaN,NaN,PWT,YO,3730.0,2024-12-20 16:25:11,20241222,20251221,20250128,20250123,BP,Baggage & Personal Effects,2000.0,0.0,2000.0
33068,34538,78,NaN,EMPLOYEE,PWT,Q1,3110.0,2024-12-21 17:27:38,20241222,20250116,20250122,20250116,BD,Baggage Delay Coverage,2000.0,0.0,2000.0

In [ ]:
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE']).dt.strftime('%Y-%m-%d')

df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE']).dt.strftime('%Y-%m-%d')

df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate']).dt.strftime('%Y-%m-%d')

df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP']).dt.strftime('%Y-%m-%d')

df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC']).dt.strftime('%Y-%m-%d')

<ipython-input-6-34978d483029>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE']).dt.strftime('%Y-%m-%d')
<ipython-input-6-34978d483029>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE']).dt.strftime('%Y-%m-%d')
<ipython-input-6-34978d483029>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate']).dt.strftime('%Y-%m-%d')
<ipython-input-6-34978d483029>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP']).dt.strftime('%Y-%m-%d')
<ipython-input-6-34978d483029>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC']).dt.strftime('%Y-%m-%d')

In [ ]:

# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')
df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate'], format='mixed', errors='coerce')
df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'], format='mixed', errors='coerce')
df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'], format='mixed', errors='coerce')

<ipython-input-7-7130ff121a34>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
<ipython-input-7-7130ff121a34>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')
<ipython-input-7-7130ff121a34>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate'], format='mixed', errors='coerce')
<ipython-input-7-7130ff121a34>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'], format='mixed', errors='coerce')
<ipython-input-7-7130ff121a34>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'], format='mixed', errors='coerce')

In [ ]:
df_not_missing

       Premium   DATESALE     INCDTE ExpireDate     DATREP     DATOCC
0         80.0 2022-12-11 2022-12-31 2022-12-11 2022-12-31 2022-12-11
1        160.0 2022-12-31 2023-01-24 2022-12-31 2023-01-24 2022-12-31
2        100.0 2023-03-23 2023-03-23 2023-03-23 2023-03-23 2023-03-23
3        180.0 2023-07-10 2023-07-21 2023-07-10 2023-07-21 2023-07-10
4        180.0 2023-07-20 2023-07-25 2023-07-20 2023-07-25 2023-07-20
...        ...        ...        ...        ...        ...        ...
33064    765.0 2024-12-05 2024-12-13 2024-12-05 2024-12-13 2024-12-05
33065    955.0 2024-12-09 2024-12-12 2024-12-09 2024-12-12 2024-12-09
33066    490.0 2024-12-19 2024-12-19 2024-12-19 2024-12-19 2024-12-19
33067   3730.0 2024-12-20 2024-12-22 2024-12-20 2024-12-22 2024-12-20
33068   3110.0 2024-12-21 2024-12-22 2024-12-21 2024-12-22 2024-12-21

[32526 rows x 6 columns]

In [ ]:
df_not_missing = df_not_missing.drop(columns=['Dummy ID', 'AGE',	'SEX',	'Occupation',	'Policy_Class',	'Plan_',	'ReserveCode',	'ReseveDescription',	'GRS_OS',	'GRS_PAID',	'GIC'])

In [ ]:
X = df_not_missing.drop(columns=['DATESALE'])
y = df_not_missing['DATESALE']

In [ ]:
# ตัดข้อมูลที่มี 1 ตัวอย่างออกจากชุดข้อมูล
mask = y.value_counts() > 6  # ตรวจสอบว่าคลาสไหนมีจำนวนตัวอย่างมากกว่า 1
y_filtered = y[y.isin(mask[mask].index)]  # เลือกเฉพาะคลาสที่มีตัวอย่างมากกว่า 1
X_filtered = X.loc[y_filtered.index]  # เลือกเฉพาะข้อมูลที่ตรงกับคลาสที่เหลือ

# เพิ่มการ import train_test_split
from sklearn.model_selection import train_test_split
# แบ่งข้อมูล
X_train, X_test, y_train, y_test = train_test_split(X_filtered, y_filtered, test_size=0.2, random_state=42, stratify=y_filtered)

In [ ]:
# ตรวจสอบจำนวนตัวอย่างในแต่ละคลาส
print(y_filtered.value_counts())

DATESALE
2024-04-11    141
2023-06-20    133
2024-04-08    132
2024-03-21    129
2024-09-04    118
             ...
2022-10-08      2
2022-01-25      2
2022-04-04      2
2022-06-12      2
2022-10-29      2
Name: count, Length: 937, dtype: int64

In [ ]:
print(y_train.value_counts())

DATESALE
2024-04-11    113
2023-06-20    106
2024-04-08    105
2024-03-21    103
2024-09-04     94
             ...
2022-05-02      2
2022-07-26      2
2022-05-12      2
2022-10-29      2
2022-06-03      2
Name: count, Length: 937, dtype: int64

In [ ]:
print(y_test.value_counts())

DATESALE
2024-04-11    28
2023-06-20    27
2024-04-08    27
2024-03-21    26
2024-04-04    24
              ..
2022-09-16     1
2022-07-29     1
2022-05-25     1
2022-06-24     1
2022-08-17     1
Name: count, Length: 894, dtype: int64

In [ ]:
print(X.dtypes)  # ตรวจสอบประเภทข้อมูลใน X

Premium       float64
INCDTE          int64
ExpireDate      int64
DATREP          int64
DATOCC          int64
dtype: object

In [ ]:
print(X_train.shape)  # ตรวจสอบขนาด X_train
print(X_test.shape)   # ตรวจสอบขนาด X_test

(25641, 5)
(6411, 5)

In [ ]:
print(X_train.isnull().sum())  # ตรวจสอบค่า NaN ใน X_train
print(X_test.isnull().sum())   # ตรวจสอบค่า NaN ใน X_test

Premium       0
INCDTE        0
ExpireDate    0
DATREP        0
DATOCC        0
dtype: int64
Premium       0
INCDTE        0
ExpireDate    0
DATREP        0
DATOCC        0
dtype: int64

In [ ]:
# แยกคอลัมน์ที่เป็น datetime ออก
datetime_columns = ['INCDTE', 'ExpireDate', 'DATREP', 'DATOCC']  # รายชื่อคอลัมน์ datetime

# คัดกรองเฉพาะคอลัมน์ที่เป็นตัวเลข
X_train_numeric = X_train.drop(columns=datetime_columns)
X_test_numeric = X_test.drop(columns=datetime_columns)

# สเกลข้อมูลตัวเลข
scaler = StandardScaler()
X_train_numeric_scaled = scaler.fit_transform(X_train_numeric)
X_test_numeric_scaled = scaler.transform(X_test_numeric)

# แปลงคอลัมน์ datetime ที่แยกออกไปให้เป็นจำนวนวัน
X_train[datetime_columns] = X_train[datetime_columns].apply(pd.to_datetime)  # แปลงเป็น datetime
X_test[datetime_columns] = X_test[datetime_columns].apply(pd.to_datetime)

X_train[datetime_columns] = (X_train[datetime_columns] - pd.Timestamp('1970-01-01')) // pd.Timedelta('1D')
X_test[datetime_columns] = (X_test[datetime_columns] - pd.Timestamp('1970-01-01')) // pd.Timedelta('1D')

# รวมข้อมูลที่สเกลแล้วกลับมา
X_train_processed = pd.concat([pd.DataFrame(X_train_numeric_scaled, columns=X_train_numeric.columns), X_train[datetime_columns]], axis=1)
X_test_processed = pd.concat([pd.DataFrame(X_test_numeric_scaled, columns=X_test_numeric.columns), X_test[datetime_columns]], axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='auto', k_neighbors=5)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

In [ ]:
# ปรับค่า n_neighbors ให้น้อยกว่า หรือ เท่ากับจำนวนตัวอย่าง
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score


n_neighbors = min(6, len(X_train_res) - 1)  # จำกัด n_neighbors ให้ไม่เกินจำนวนตัวอย่าง

# ใช้ KNN กับ n_neighbors ที่ปรับแล้ว
knn = KNeighborsClassifier(n_neighbors=n_neighbors)
knn.fit(X_train_res, y_train_res)

# ทำนายผล
y_pred = knn.predict(X_test)

# คำนวณความแม่นยำ
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.06

❌

เติมค่าว่างวันที่

In [ ]:

import numpy as np
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

<ipython-input-2-83f14fa381f3>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [ ]:

df.isnull().sum()

Dummy ID                 0
AGE                      0
SEX                  29467
Occupation           16790
Policy_Class             0
Plan_                  543
Premium                  0
DATESALE               543
INCDTE                   0
ExpireDate               0
DATREP                   0
DATOCC                   0
ReserveCode              0
ReseveDescription       30
GRS_OS                   0
GRS_PAID                 0
GIC                      0
dtype: int64

In [ ]:

# สมมติว่า df เป็น DataFrame ของคุณ

# ตารางที่มี Plan_ เป็นค่าว่าง
df_missing = df[df['DATESALE'].isnull()]

# ตารางที่ไม่มี Plan_ เป็นค่าว่าง
df_not_missing = df[df['DATESALE'].notnull()]

# ตรวจสอบผลลัพธ์
print("ตารางที่มี Plan_ เป็นค่าว่าง:")
print(df_missing.head())

print("\nตารางที่ไม่มี Plan_ เป็นค่าว่าง:")
print(df_not_missing.head())

ตารางที่มี Plan_ เป็นค่าว่าง:
     Dummy ID  AGE  SEX                                       Occupation  \
30         41    0  NaN                                              NaN
31         42    0  NaN  EMPLOYEE
146       181    0  NaN                                              NaN
147       182    0  NaN                                              NaN
148       183    0  NaN  EMPLOYEE

    Policy_Class Plan_  Premium DATESALE    INCDTE  ExpireDate    DATREP  \
30           GAT   NaN   1708.0      NaT  20230324    20230327  20230410
31           GAT   NaN   1272.0      NaT  20241021    20241027  20241118
146          GAT   NaN    502.0      NaT  20230210    20230213  20230315
147          GAT   NaN   4200.0      NaT  20230310    20230313  20230412
148          GAT   NaN  19980.0      NaT  20231110    20231112  20231124

       DATOCC ReserveCode     ReseveDescription  GRS_OS  GRS_PAID      GIC
30   20230325          ME  GP/A Medical Expense     0.0    2407.0   2407.0
31   20241025          ME  GP/A Medical Expense     0.0    1202.0   1202.0
146  20230211          ME  GP/A Medical Expense     0.0       0.0      0.0
147  20230310          ME  GP/A Medical Expense     0.0    1680.0   1680.0
148  20231110          ME  GP/A Medical Expense     0.0   23690.0  23690.0

ตารางที่ไม่มี Plan_ เป็นค่าว่าง:
   Dummy ID  AGE  SEX                                       Occupation  \
0         1   40  NaN                                              NaN
1         2   75  NaN  EMPLOYEE
2         3   33  NaN                                              NaN
3         4   30  NaN                                              NaN
4         5   50  NaN                                              NaN

  Policy_Class                           Plan_  Premium            DATESALE  \
0          GDF  7U                                 80.0 2022-12-11 22:24:22
1          GDF  8Y                                160.0 2022-12-31 10:39:44
2          GDF  7ฉ                                100.0 2023-03-23 00:57:49
3          GDF  7ด                                180.0 2023-07-10 21:55:00
4          GDF  7ด                                180.0 2023-07-20 19:54:50

     INCDTE  ExpireDate    DATREP    DATOCC ReserveCode  \
0  20221231    20230101  20230711  20230101          VD
1  20230124    20230128  20230308  20230127          FD
2  20230323    20230324  20230329  20230323          FD
3  20230721    20230727  20230807  20230721          BD
4  20230725    20230730  20230803  20230725          BD

        ReseveDescription  GRS_OS  GRS_PAID     GIC
0      ค่ารักษาจากโควิค19     0.0       0.0     0.0
1   Flight Delay Coverage     0.0    2000.0  2000.0
2   Flight Delay Coverage     0.0    2000.0  2000.0
3  Baggage Delay Coverage     0.0       0.0     0.0
4  Baggage Delay Coverage     0.0    6000.0  6000.0

In [ ]:
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE']).dt.strftime('%Y-%m-%d')

<ipython-input-5-6dff1fe3c491>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE']).dt.strftime('%Y-%m-%d')

In [ ]:
df_not_missing = df_not_missing.drop(columns=['Dummy ID', 'AGE',	'SEX',	'Occupation',	'Policy_Class',	'Plan_',	'ReserveCode',	'ReseveDescription',	'GRS_OS',	'GRS_PAID',	'GIC','Premium', 'ExpireDate','DATREP','DATOCC'])

In [ ]:
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], errors='coerce')  # แปลงวันที่

In [ ]:
df_not_missing['INCDTE'] = df_not_missing['INCDTE'].dt.strftime('%Y-%m-%d')

In [ ]:

# แปลงเป็น datetime โดยให้ pandas จัดการรูปแบบอัตโนมัติ
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE'], format='mixed', errors='coerce')
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'], format='mixed', errors='coerce')

# คำนวณความต่างของวัน
df_not_missing['date_difference'] = (df_not_missing['INCDTE'] - df_not_missing['DATESALE']).dt.days

In [ ]:
df_not_missing

        DATESALE     INCDTE  date_difference
0     2022-12-11 2022-12-31               20
1     2022-12-31 2023-01-24               24
2     2023-03-23 2023-03-23                0
3     2023-07-10 2023-07-21               11
4     2023-07-20 2023-07-25                5
...          ...        ...              ...
33064 2024-12-05 2024-12-13                8
33065 2024-12-09 2024-12-12                3
33066 2024-12-19 2024-12-19                0
33067 2024-12-20 2024-12-22                2
33068 2024-12-21 2024-12-22                1

[32526 rows x 3 columns]

df_missing

In [ ]:

df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE']).dt.strftime('%Y-%m-%d')

<ipython-input-28-e4e45b614958>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = pd.to_datetime(df_missing['DATESALE']).dt.strftime('%Y-%m-%d')

In [ ]:

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['INCDTE'] = df_missing['INCDTE'].dt.strftime('%Y-%m-%d')

<ipython-input-29-b2683defc520>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'].astype(str), format='%Y%m%d')
<ipython-input-29-b2683defc520>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = df_missing['INCDTE'].dt.strftime('%Y-%m-%d')

In [ ]:
# หาค่าเฉลี่ยของคอลัมน์เฉพาะ
mean_incdte = df_not_missing['date_difference'].mean()  # หาก 'INCDTE' เป็นตัวเลข
print(mean_incdte)

22.675459632294164

In [ ]:

# แปลงค่าใน 'INCDTE' เป็น datetime
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'])

<ipython-input-39-a8c29e791848>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'])

In [ ]:
# หักลบจาก 'INCDTE' โดยใช้ค่าเฉลี่ยที่ได้ (22 วัน)
df_missing['DATESALE'] = df_missing['INCDTE'] - pd.to_timedelta(22.675459632294164, unit='D')

# แสดงผล
print(df_missing[['INCDTE', 'DATESALE']])

         INCDTE                      DATESALE
30   2023-03-24 2023-03-01 07:47:20.287769782
31   2024-10-21 2024-09-28 07:47:20.287769782
146  2023-02-10 2023-01-18 07:47:20.287769782
147  2023-03-10 2023-02-15 07:47:20.287769782
148  2023-11-10 2023-10-18 07:47:20.287769782
...         ...                           ...
9817 2023-07-21 2023-06-28 07:47:20.287769782
9818 2023-07-21 2023-06-28 07:47:20.287769782
9819 2024-07-17 2024-06-24 07:47:20.287769782
9820 2024-07-17 2024-06-24 07:47:20.287769782
9821 2024-07-19 2024-06-26 07:47:20.287769782

[543 rows x 2 columns]

<ipython-input-48-79a1b3a9029c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATESALE'] = df_missing['INCDTE'] - pd.to_timedelta(22.675459632294164, unit='D')

In [ ]:
df_missing

,Dummy ID,AGE,SEX,Occupation,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReserveCode,ReseveDescription,GRS_OS,GRS_PAID,GIC
30,41,0,NaN,NaN,GAT,NaN,1708.0,2023-03-01 07:47:20.287769782,2023-03-24,20230327,20230410,20230325,ME,GP/A Medical Expense,0.00,2407.00,2407.00
31,42,0,NaN,EMPLOYEE,GAT,NaN,1272.0,2024-09-28 07:47:20.287769782,2024-10-21,20241027,20241118,20241025,ME,GP/A Medical Expense,0.00,1202.00,1202.00
146,181,0,NaN,NaN,GAT,NaN,502.0,2023-01-18 07:47:20.287769782,2023-02-10,20230213,20230315,20230211,ME,GP/A Medical Expense,0.00,0.00,0.00
147,182,0,NaN,NaN,GAT,NaN,4200.0,2023-02-15 07:47:20.287769782,2023-03-10,20230313,20230412,20230310,ME,GP/A Medical Expense,0.00,1680.00,1680.00
148,183,0,NaN,EMPLOYEE,GAT,NaN,19980.0,2023-10-18 07:47:20.287769782,2023-11-10,20231112,20231124,20231110,ME,GP/A Medical Expense,0.00,23690.00,23690.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9817,10311,43,NaN,EMPLOYEE,GWW,NaN,208618.0,2023-06-28 07:47:20.287769782,2023-07-21,20230926,20231220,20230802,ME,GP/A Medical Expense,0.00,166945.50,166945.50
9818,10312,25,NaN,EMPLOYEE,GWW,NaN,154123.0,2023-06-28 07:47:20.287769782,2023-07-21,20230926,20231220,20230801,ME,GP/A Medical Expense,0.00,9536.86,9536.86
9819,10313,44,NaN,EMPLOYEE,GWW,NaN,255796.0,2024-06-24 07:47:20.287769782,2024-07-17,20240930,20250129,20240902,ME,GP/A Medical Expense,1816.52,0.00,1816.52
9820,10314,50,NaN,EMPLOYEE,GWW,NaN,255796.0,2024-06-24 07:47:20.287769782,2024-07-17,20240930,20250129,20240828,ME,GP/A Medical Expense,14333.83,0.00,14333.83
9821,10315,54,NaN,EMPLOYEE,GWW,NaN,250747.0,2024-06-26 07:47:20.287769782,2024-07-19,20241002,20250129,20240819,ME,GP/A Medical Expense,8605.21,0.00,8605.21

In [ ]:
# บันทึก DataFrame เป็นไฟล์ Excel
df_missing.to_excel('df_missing_with_datesale.xlsx', index=False)

# แจ้งว่าไฟล์ถูกบันทึกแล้ว
print("ไฟล์ Excel ถูกบันทึกแล้วที่ 'df_missing_with_datesale.xlsx'")

ไฟล์ Excel ถูกบันทึกแล้วที่ 'df_missing_with_datesale.xlsx'

❌

df_not_missing

In [ ]:

import numpy as np
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

<ipython-input-3-83f14fa381f3>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [ ]:

df.isnull().sum()

Dummy ID                 0
AGE                      0
SEX                  29467
Occupation           16790
Policy_Class             0
Plan_                  543
Premium                  0
DATESALE               543
INCDTE                   0
ExpireDate               0
DATREP                   0
DATOCC                   0
ReserveCode              0
ReseveDescription       30
GRS_OS                   0
GRS_PAID                 0
GIC                      0
dtype: int64

In [ ]:

# สมมติว่า df เป็น DataFrame ของคุณ

# ตารางที่มี Plan_ เป็นค่าว่าง
df_missing = df[df['DATESALE'].isnull()]

# ตารางที่ไม่มี Plan_ เป็นค่าว่าง
df_not_missing = df[df['DATESALE'].notnull()]

# ตรวจสอบผลลัพธ์
print("ตารางที่มี Plan_ เป็นค่าว่าง:")
print(df_missing.head())

print("\nตารางที่ไม่มี Plan_ เป็นค่าว่าง:")
print(df_not_missing.head())

ตารางที่มี Plan_ เป็นค่าว่าง:
     Dummy ID  AGE  SEX                                       Occupation  \
30         41    0  NaN                                              NaN
31         42    0  NaN  EMPLOYEE
146       181    0  NaN                                              NaN
147       182    0  NaN                                              NaN
148       183    0  NaN  EMPLOYEE

    Policy_Class Plan_  Premium DATESALE    INCDTE  ExpireDate    DATREP  \
30           GAT   NaN   1708.0      NaT  20230324    20230327  20230410
31           GAT   NaN   1272.0      NaT  20241021    20241027  20241118
146          GAT   NaN    502.0      NaT  20230210    20230213  20230315
147          GAT   NaN   4200.0      NaT  20230310    20230313  20230412
148          GAT   NaN  19980.0      NaT  20231110    20231112  20231124

       DATOCC ReserveCode     ReseveDescription  GRS_OS  GRS_PAID      GIC
30   20230325          ME  GP/A Medical Expense     0.0    2407.0   2407.0
31   20241025          ME  GP/A Medical Expense     0.0    1202.0   1202.0
146  20230211          ME  GP/A Medical Expense     0.0       0.0      0.0
147  20230310          ME  GP/A Medical Expense     0.0    1680.0   1680.0
148  20231110          ME  GP/A Medical Expense     0.0   23690.0  23690.0

ตารางที่ไม่มี Plan_ เป็นค่าว่าง:
   Dummy ID  AGE  SEX                                       Occupation  \
0         1   40  NaN                                              NaN
1         2   75  NaN  EMPLOYEE
2         3   33  NaN                                              NaN
3         4   30  NaN                                              NaN
4         5   50  NaN                                              NaN

  Policy_Class                           Plan_  Premium            DATESALE  \
0          GDF  7U                                 80.0 2022-12-11 22:24:22
1          GDF  8Y                                160.0 2022-12-31 10:39:44
2          GDF  7ฉ                                100.0 2023-03-23 00:57:49
3          GDF  7ด                                180.0 2023-07-10 21:55:00
4          GDF  7ด                                180.0 2023-07-20 19:54:50

     INCDTE  ExpireDate    DATREP    DATOCC ReserveCode  \
0  20221231    20230101  20230711  20230101          VD
1  20230124    20230128  20230308  20230127          FD
2  20230323    20230324  20230329  20230323          FD
3  20230721    20230727  20230807  20230721          BD
4  20230725    20230730  20230803  20230725          BD

        ReseveDescription  GRS_OS  GRS_PAID     GIC
0      ค่ารักษาจากโควิค19     0.0       0.0     0.0
1   Flight Delay Coverage     0.0    2000.0  2000.0
2   Flight Delay Coverage     0.0    2000.0  2000.0
3  Baggage Delay Coverage     0.0       0.0     0.0
4  Baggage Delay Coverage     0.0    6000.0  6000.0

In [ ]:
df_not_missing

,Dummy ID,AGE,SEX,Occupation,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReserveCode,ReseveDescription,GRS_OS,GRS_PAID,GIC
0,1,40,NaN,NaN,GDF,7U,80.0,2022-12-11 22:24:22,20221231,20230101,20230711,20230101,VD,ค่ารักษาจากโควิค19,0.0,0.0,0.0
1,2,75,NaN,EMPLOYEE,GDF,8Y,160.0,2022-12-31 10:39:44,20230124,20230128,20230308,20230127,FD,Flight Delay Coverage,0.0,2000.0,2000.0
2,3,33,NaN,NaN,GDF,7ฉ,100.0,2023-03-23 00:57:49,20230323,20230324,20230329,20230323,FD,Flight Delay Coverage,0.0,2000.0,2000.0
3,4,30,NaN,NaN,GDF,7ด,180.0,2023-07-10 21:55:00,20230721,20230727,20230807,20230721,BD,Baggage Delay Coverage,0.0,0.0,0.0
4,5,50,NaN,NaN,GDF,7ด,180.0,2023-07-20 19:54:50,20230725,20230730,20230803,20230725,BD,Baggage Delay Coverage,0.0,6000.0,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33064,34534,49,NaN,EMPLOYEE,PWT,YF,765.0,2024-12-05 17:18:12,20241213,20241222,20250120,20241220,ME,GP/A Medical Expense,2000.0,0.0,2000.0
33065,34535,56,NaN,EMPLOYEE,PWT,YF,955.0,2024-12-09 17:52:50,20241212,20241224,20250115,20241214,LD,Damage or Loss of Travel Docum,2000.0,0.0,2000.0
33066,34536,47,NaN,EMPLOYEE,PWT,YE,490.0,2024-12-19 21:27:45,20241219,20241223,20250107,20241221,BP,Baggage & Personal Effects,2000.0,0.0,2000.0
33067,34537,51,NaN,NaN,PWT,YO,3730.0,2024-12-20 16:25:11,20241222,20251221,20250128,20250123,BP,Baggage & Personal Effects,2000.0,0.0,2000.0
33068,34538,78,NaN,EMPLOYEE,PWT,Q1,3110.0,2024-12-21 17:27:38,20241222,20250116,20250122,20250116,BD,Baggage Delay Coverage,2000.0,0.0,2000.0

In [ ]:
df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE']).dt.strftime('%Y-%m-%d')

<ipython-input-7-6dff1fe3c491>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATESALE'] = pd.to_datetime(df_not_missing['DATESALE']).dt.strftime('%Y-%m-%d')

In [ ]:

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['INCDTE'] = df_not_missing['INCDTE'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['ExpireDate'] = df_not_missing['ExpireDate'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATREP'] = df_not_missing['DATREP'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_not_missing['DATOCC'] = df_not_missing['DATOCC'].dt.strftime('%Y-%m-%d')

<ipython-input-8-16f620f1f370>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = pd.to_datetime(df_not_missing['INCDTE'].astype(str), format='%Y%m%d')
<ipython-input-8-16f620f1f370>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['INCDTE'] = df_not_missing['INCDTE'].dt.strftime('%Y-%m-%d')
<ipython-input-8-16f620f1f370>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ExpireDate'] = pd.to_datetime(df_not_missing['ExpireDate'].astype(str), format='%Y%m%d')
<ipython-input-8-16f620f1f370>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['ExpireDate'] = df_not_missing['ExpireDate'].dt.strftime('%Y-%m-%d')
<ipython-input-8-16f620f1f370>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = pd.to_datetime(df_not_missing['DATREP'].astype(str), format='%Y%m%d')
<ipython-input-8-16f620f1f370>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATREP'] = df_not_missing['DATREP'].dt.strftime('%Y-%m-%d')
<ipython-input-8-16f620f1f370>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = pd.to_datetime(df_not_missing['DATOCC'].astype(str), format='%Y%m%d')
<ipython-input-8-16f620f1f370>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['DATOCC'] = df_not_missing['DATOCC'].dt.strftime('%Y-%m-%d')

In [ ]:
df_not_missing

,Dummy ID,AGE,SEX,Occupation,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReserveCode,ReseveDescription,GRS_OS,GRS_PAID,GIC,date_difference
0,1,40,NaN,NaN,GDF,7U,80.0,2022-12-11,2022-12-31,2023-01-01,2023-07-11,2023-01-01,VD,ค่ารักษาจากโควิค19,0.0,0.0,0.0,20
1,2,75,NaN,EMPLOYEE,GDF,8Y,160.0,2022-12-31,2023-01-24,2023-01-28,2023-03-08,2023-01-27,FD,Flight Delay Coverage,0.0,2000.0,2000.0,24
2,3,33,NaN,NaN,GDF,7ฉ,100.0,2023-03-23,2023-03-23,2023-03-24,2023-03-29,2023-03-23,FD,Flight Delay Coverage,0.0,2000.0,2000.0,0
3,4,30,NaN,NaN,GDF,7ด,180.0,2023-07-10,2023-07-21,2023-07-27,2023-08-07,2023-07-21,BD,Baggage Delay Coverage,0.0,0.0,0.0,11
4,5,50,NaN,NaN,GDF,7ด,180.0,2023-07-20,2023-07-25,2023-07-30,2023-08-03,2023-07-25,BD,Baggage Delay Coverage,0.0,6000.0,6000.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33064,34534,49,NaN,EMPLOYEE,PWT,YF,765.0,2024-12-05,2024-12-13,2024-12-22,2025-01-20,2024-12-20,ME,GP/A Medical Expense,2000.0,0.0,2000.0,8
33065,34535,56,NaN,EMPLOYEE,PWT,YF,955.0,2024-12-09,2024-12-12,2024-12-24,2025-01-15,2024-12-14,LD,Damage or Loss of Travel Docum,2000.0,0.0,2000.0,3
33066,34536,47,NaN,EMPLOYEE,PWT,YE,490.0,2024-12-19,2024-12-19,2024-12-23,2025-01-07,2024-12-21,BP,Baggage & Personal Effects,2000.0,0.0,2000.0,0
33067,34537,51,NaN,NaN,PWT,YO,3730.0,2024-12-20,2024-12-22,2025-12-21,2025-01-28,2025-01-23,BP,Baggage & Personal Effects,2000.0,0.0,2000.0,2
33068,34538,78,NaN,EMPLOYEE,PWT,Q1,3110.0,2024-12-21,2024-12-22,2025-01-16,2025-01-22,2025-01-16,BD,Baggage Delay Coverage,2000.0,0.0,2000.0,1

In [ ]:
df_not_missing.to_excel('df_not_missing.xlsx', index=False)

df_missing

In [ ]:

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['INCDTE'] = df_missing['INCDTE'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['ExpireDate'] = pd.to_datetime(df_missing['ExpireDate'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['ExpireDate'] = df_missing['ExpireDate'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['DATREP'] = df_missing['DATREP'].dt.strftime('%Y-%m-%d')

# แปลงเป็น string แล้วค่อยแปลงเป็น datetime
df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'].astype(str), format='%Y%m%d')
# แปลงเป็นรูปแบบ YYYY-MM-DD
df_missing['DATOCC'] = df_missing['DATOCC'].dt.strftime('%Y-%m-%d')

<ipython-input-12-2546f267830e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = pd.to_datetime(df_missing['INCDTE'].astype(str), format='%Y%m%d')
<ipython-input-12-2546f267830e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['INCDTE'] = df_missing['INCDTE'].dt.strftime('%Y-%m-%d')
<ipython-input-12-2546f267830e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['ExpireDate'] = pd.to_datetime(df_missing['ExpireDate'].astype(str), format='%Y%m%d')
<ipython-input-12-2546f267830e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['ExpireDate'] = df_missing['ExpireDate'].dt.strftime('%Y-%m-%d')
<ipython-input-12-2546f267830e>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATREP'] = pd.to_datetime(df_missing['DATREP'].astype(str), format='%Y%m%d')
<ipython-input-12-2546f267830e>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATREP'] = df_missing['DATREP'].dt.strftime('%Y-%m-%d')
<ipython-input-12-2546f267830e>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATOCC'] = pd.to_datetime(df_missing['DATOCC'].astype(str), format='%Y%m%d')
<ipython-input-12-2546f267830e>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['DATOCC'] = df_missing['DATOCC'].dt.strftime('%Y-%m-%d')

In [ ]:
df_missing

,Dummy ID,AGE,SEX,Occupation,Policy_Class,Plan_,Premium,DATESALE,INCDTE,ExpireDate,DATREP,DATOCC,ReserveCode,ReseveDescription,GRS_OS,GRS_PAID,GIC
30,41,0,NaN,NaN,GAT,NaN,1708.0,NaT,2023-03-24,2023-03-27,2023-04-10,2023-03-25,ME,GP/A Medical Expense,0.00,2407.00,2407.00
31,42,0,NaN,EMPLOYEE,GAT,NaN,1272.0,NaT,2024-10-21,2024-10-27,2024-11-18,2024-10-25,ME,GP/A Medical Expense,0.00,1202.00,1202.00
146,181,0,NaN,NaN,GAT,NaN,502.0,NaT,2023-02-10,2023-02-13,2023-03-15,2023-02-11,ME,GP/A Medical Expense,0.00,0.00,0.00
147,182,0,NaN,NaN,GAT,NaN,4200.0,NaT,2023-03-10,2023-03-13,2023-04-12,2023-03-10,ME,GP/A Medical Expense,0.00,1680.00,1680.00
148,183,0,NaN,EMPLOYEE,GAT,NaN,19980.0,NaT,2023-11-10,2023-11-12,2023-11-24,2023-11-10,ME,GP/A Medical Expense,0.00,23690.00,23690.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9817,10311,43,NaN,EMPLOYEE,GWW,NaN,208618.0,NaT,2023-07-21,2023-09-26,2023-12-20,2023-08-02,ME,GP/A Medical Expense,0.00,166945.50,166945.50
9818,10312,25,NaN,EMPLOYEE,GWW,NaN,154123.0,NaT,2023-07-21,2023-09-26,2023-12-20,2023-08-01,ME,GP/A Medical Expense,0.00,9536.86,9536.86
9819,10313,44,NaN,EMPLOYEE,GWW,NaN,255796.0,NaT,2024-07-17,2024-09-30,2025-01-29,2024-09-02,ME,GP/A Medical Expense,1816.52,0.00,1816.52
9820,10314,50,NaN,EMPLOYEE,GWW,NaN,255796.0,NaT,2024-07-17,2024-09-30,2025-01-29,2024-08-28,ME,GP/A Medical Expense,14333.83,0.00,14333.83
9821,10315,54,NaN,EMPLOYEE,GWW,NaN,250747.0,NaT,2024-07-19,2024-10-02,2025-01-29,2024-08-19,ME,GP/A Medical Expense,8605.21,0.00,8605.21

In [ ]:
df_missing.to_excel('df_missing.xlsx', index=False)