<a href="https://colab.research.google.com/github/Suchada2000/MY-WORK/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas scikit-learn openpyxl
#pandas read excal
#openpyxl อ่านไฟล์ excal
#scikit-learn standardization

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.6.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# 1. อ่านข้อมูลจากไฟล์ Excel
df = pd.read_excel("/content/sample_data/data/Database.xlsx")

# 2. ดูข้อมูลใน DataFrame
print("Original Data:")
print(df)

# 3. สร้าง StandardScaler และทำการ fit กับข้อมูล
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

# 4. เปลี่ยนข้อมูลที่ถูก Standardized กลับเป็น DataFrame เพื่อให้ดูได้ง่าย
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

# 5. ดูข้อมูลหลังจากทำการ Standardization
print("\nStandardized Data:")
print(df_scaled)

Original Data:
       chdrnum  rskno     incdte    expdate UNIT_DESC  uw_year     model  \
0     31503378      1 2012-03-26 2013-03-26    AGENCY     2012   EVEREST
1     31362289      1 2012-02-26 2013-02-26    AGENCY     2012  FORTUNER
2     31380352      1 2015-08-30 2016-08-30    AGENCY     2015  FORTUNER
3     31380352      1 2016-08-30 2017-08-30    AGENCY     2016  FORTUNER
4     34881057      1 2014-08-27 2015-08-27    DIRECT     2014  FORTUNER
...        ...    ...        ...        ...       ...      ...       ...
6058  35821300      1 2015-11-23 2016-11-23    BROKER     2015  FORTUNER
6059  35821300      1 2016-11-23 2017-11-23    BROKER     2016  FORTUNER
6060  35830791      1 2016-03-01 2017-03-01    BROKER     2016       CRV
6061  35538491      1 2017-02-21 2017-08-29    AGENCY     2017  FORTUNER
6062  35538491      1 2014-02-21 2015-02-21    AGENCY     2014  FORTUNER

        make  total_victim  kfk_t  ...  clttype  cownnum   master  agntnum  \
0       FORD             0    0.0  ...        P   637084  BKA6187  BKA6187
1     TOYOTA             0    0.0  ...        P   887918  HYA1152  HYA1197
2     TOYOTA             0    0.0  ...        P   675582  BKA8135  BKA8135
3     TOYOTA             0    0.0  ...        P   675582  BKA8135  BKA8135
4     TOYOTA             1    0.0  ...        P  1299239  AFM1002  AFM1002
...      ...           ...    ...  ...      ...      ...      ...      ...
6058  TOYOTA             1    0.0  ...        P  1235363  14B1363  14B1388
6059  TOYOTA             0    0.0  ...        P  1235363  14B1363  14B1388
6060   HONDA             1    0.0  ...        P  1495623  14B1363  14B1388
6061  TOYOTA             0    0.0  ...        P  1091308  BKA3177  BKA3177
6062  TOYOTA             2    0.0  ...        P  1091308  BKA3177  BKA3177

                polcls_l3                        POLCLS_DESC  cnttype  premcl  \
0     MOTOR VMI 1ST CLASS            MO6 COMPREHENSIVE OTHER      MO6     V1P
1     MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P
2     MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P
3     MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P
4     MOTOR VMI 1ST CLASS  MP2  Motor Private Campaign (Pro)      MP2     V1P
...                   ...                                ...      ...     ...
6058  MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P
6059  MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P
6060  MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P
6061  MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P
6062  MOTOR VMI 1ST CLASS            MO1 COMPREHENSIVE OTHER      MO1     V1P

       trandate     dteeff
0    2012-03-27 2012-03-26
1    2012-03-01 2012-02-26
2    2015-08-24 2015-08-30
3    2016-08-30 2016-08-30
4    2014-09-04 2014-08-27
...         ...        ...
6058 2015-11-18 2015-11-23
6059 2016-10-27 2016-11-23
6060 2016-03-05 2016-03-01
6061 2017-02-10 2017-02-21
6062 2014-02-10 2014-02-21

[6063 rows x 158 columns]

TypeError: float() argument must be a string or a real number, not 'Timestamp'

In [6]:
df

,chdrnum,rskno,incdte,expdate,UNIT_DESC,uw_year,model,make,total_victim,kfk_t,...,clttype,cownnum,master,agntnum,polcls_l3,POLCLS_DESC,cnttype,premcl,trandate,dteeff
0,31503378,1,2012-03-26,2013-03-26,AGENCY,2012,EVEREST,FORD,0,0.0,...,P,637084,BKA6187,BKA6187,MOTOR VMI 1ST CLASS,MO6 COMPREHENSIVE OTHER,MO6,V1P,2012-03-27,2012-03-26
1,31362289,1,2012-02-26,2013-02-26,AGENCY,2012,FORTUNER,TOYOTA,0,0.0,...,P,887918,HYA1152,HYA1197,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2012-03-01,2012-02-26
2,31380352,1,2015-08-30,2016-08-30,AGENCY,2015,FORTUNER,TOYOTA,0,0.0,...,P,675582,BKA8135,BKA8135,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2015-08-24,2015-08-30
3,31380352,1,2016-08-30,2017-08-30,AGENCY,2016,FORTUNER,TOYOTA,0,0.0,...,P,675582,BKA8135,BKA8135,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2016-08-30,2016-08-30
4,34881057,1,2014-08-27,2015-08-27,DIRECT,2014,FORTUNER,TOYOTA,1,0.0,...,P,1299239,AFM1002,AFM1002,MOTOR VMI 1ST CLASS,MP2 Motor Private Campaign (Pro),MP2,V1P,2014-09-04,2014-08-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6058,35821300,1,2015-11-23,2016-11-23,BROKER,2015,FORTUNER,TOYOTA,1,0.0,...,P,1235363,14B1363,14B1388,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2015-11-18,2015-11-23
6059,35821300,1,2016-11-23,2017-11-23,BROKER,2016,FORTUNER,TOYOTA,0,0.0,...,P,1235363,14B1363,14B1388,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2016-10-27,2016-11-23
6060,35830791,1,2016-03-01,2017-03-01,BROKER,2016,CRV,HONDA,1,0.0,...,P,1495623,14B1363,14B1388,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2016-03-05,2016-03-01
6061,35538491,1,2017-02-21,2017-08-29,AGENCY,2017,FORTUNER,TOYOTA,0,0.0,...,P,1091308,BKA3177,BKA3177,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2017-02-10,2017-02-21
6062,35538491,1,2014-02-21,2015-02-21,AGENCY,2014,FORTUNER,TOYOTA,2,0.0,...,P,1091308,BKA3177,BKA3177,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2014-02-10,2014-02-21

In [7]:
# แปลงคอลัมน์ datetime ให้เป็น datetime object (หากยังไม่ได้)
df['incdte'] = pd.to_datetime(df['incdte'], format='%d/%m/%Y %H:%M:%S')

In [11]:
# แยกข้อมูลเป็นวันที่และเวลา
df['date_incdte'] = df['incdte'].dt.date
df['time_incdte'] = df['incdte'].dt.time

In [12]:
df

,chdrnum,rskno,incdte,expdate,UNIT_DESC,uw_year,model,make,total_victim,kfk_t,...,polcls_l3,POLCLS_DESC,cnttype,premcl,trandate,dteeff,date,time,date_incdte,time_incdte
0,31503378,1,2012-03-26,2013-03-26,AGENCY,2012,EVEREST,FORD,0,0.0,...,MOTOR VMI 1ST CLASS,MO6 COMPREHENSIVE OTHER,MO6,V1P,2012-03-27,2012-03-26,2012-03-26,00:00:00,2012-03-26,00:00:00
1,31362289,1,2012-02-26,2013-02-26,AGENCY,2012,FORTUNER,TOYOTA,0,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2012-03-01,2012-02-26,2012-02-26,00:00:00,2012-02-26,00:00:00
2,31380352,1,2015-08-30,2016-08-30,AGENCY,2015,FORTUNER,TOYOTA,0,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2015-08-24,2015-08-30,2015-08-30,00:00:00,2015-08-30,00:00:00
3,31380352,1,2016-08-30,2017-08-30,AGENCY,2016,FORTUNER,TOYOTA,0,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2016-08-30,2016-08-30,2016-08-30,00:00:00,2016-08-30,00:00:00
4,34881057,1,2014-08-27,2015-08-27,DIRECT,2014,FORTUNER,TOYOTA,1,0.0,...,MOTOR VMI 1ST CLASS,MP2 Motor Private Campaign (Pro),MP2,V1P,2014-09-04,2014-08-27,2014-08-27,00:00:00,2014-08-27,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6058,35821300,1,2015-11-23,2016-11-23,BROKER,2015,FORTUNER,TOYOTA,1,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2015-11-18,2015-11-23,2015-11-23,00:00:00,2015-11-23,00:00:00
6059,35821300,1,2016-11-23,2017-11-23,BROKER,2016,FORTUNER,TOYOTA,0,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2016-10-27,2016-11-23,2016-11-23,00:00:00,2016-11-23,00:00:00
6060,35830791,1,2016-03-01,2017-03-01,BROKER,2016,CRV,HONDA,1,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2016-03-05,2016-03-01,2016-03-01,00:00:00,2016-03-01,00:00:00
6061,35538491,1,2017-02-21,2017-08-29,AGENCY,2017,FORTUNER,TOYOTA,0,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2017-02-10,2017-02-21,2017-02-21,00:00:00,2017-02-21,00:00:00
6062,35538491,1,2014-02-21,2015-02-21,AGENCY,2014,FORTUNER,TOYOTA,2,0.0,...,MOTOR VMI 1ST CLASS,MO1 COMPREHENSIVE OTHER,MO1,V1P,2014-02-10,2014-02-21,2014-02-21,00:00:00,2014-02-21,00:00:00

In [32]:
df.to_excel('C:\output_file.xlsx', index=False)

In [27]:
df.to_excel('C:/Users/piler/Documents/output_file.xlsx', index=False)

OSError: Cannot save file into a non-existent directory: 'C:/Users/piler/Documents'

In [ ]:
start_date = '2012-03-26'
end_date = ''

In [ ]:
# สร้างคอลัมน์วันที่
df = pd.DataFrame({'incdte': [pd.Timestamp('2021-01-01'), pd.Timestamp('2021-01-02')]})

# พยายามแปลงค่า Timestamp เป็น float
df['date'] = float(df['date'][0])